.single-story-conrainer {
  overflow: hidden;
}

.photoshow_body {
  h1 {
    font-size: 28px;
    line-height: 38px;
    font-weight: normal;
  }

  strong {
    font-weight: bold;
  }

  .gallery_caption {
    .ft-12 {
      font-family: arial;
      font-size: 12px;
      display: inline-block;
      vertical-align: top;
      margin: 0 5px 0 0;
    }
    h3 {
      display: inline-block;
      vertical-align: top;
    }
    p {
      color: #999;
      font-size: 13px;
      font-family: arial;
      margin: 10px 0;
      a {
        color: #044e97;
      }
    }
  }
}

.photo_block {
  .photo-item-container {
    overflow: hidden;
    position: relative;
    clear: both;

    .title-container {
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      overflow: hidden;
      height: 38px;
      line-height: 38px;
    }

    .photo_count {
      color: #fff;
      font-size: 24px;
      font-family: arial;
      padding: 0px 6px;
      margin-right: 8px;
      line-height: 38px;
      background: rgba(189, 8, 28, 0.7);
      display: inline-block;
      vertical-align: top;

      span {
        display: inline-block;
        height: 16px;
      }
    }

    h2 {
      color: #fff;
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
      line-height: 42px;
      margin-left: 10px;
    }

    .cptn_bg {
      background: rgba(0, 0, 0, 0.8);
      height: 43px;
      color: #fff;
      overflow: hidden;
      font-size: 18px;
      line-height: 28px;
    }

    .photo_social {
      float: left;
      margin: 10px 0 0 10px;

      span.social_outer {
        background: rgba(255, 255, 255, 1);
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: inline-block;
        margin: 0 3px;
        cursor: pointer;
        position: relative;

        i {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }

      .fbk {
        background-position: -14px -7px;
        height: 12px;
        width: 6px;
        display: inline-block;
      }

      .twitr {
        background-position: -10px -48px;
        height: 12px;
        width: 14px;
        display: inline-block;
      }
    }

    .photo_comment {
      float: right;
      cursor: pointer;
      margin: 10px 10px 0 0;
    }
  }

  .photo_comment small {
    font-size: 16px;
    display: block;
    padding: 0 5px 0 0;
    float: left;
    line-height: 28px;
    height: 23px;
  }

  .photo-item-container .cmnticon {
    background: url(https://navbharattimes.indiatimes.com/photo/66359939.cms) no-repeat;
    margin-top: 3px;
    width: 30px;
    height: 23px;
    display: inline-block;
    cursor: pointer;
  }

  .readmore_span {
    padding: 15px 0;
    font-size: 16px;
    line-height: 26px;
    display: block;
  }

  .start_from_first {
    display: block;
    margin: 5px auto 10px auto;
    background: #ececec;
    font-size: 13px;
    text-align: center;
    color: #ff0000;
    line-height: 24px;
    cursor: pointer;
  }
}

.nextGallery {
  overflow: hidden;

  h3 {
    clear: both;
    background: #eee;
    border-bottom: 2px #ccc solid;
    position: relative;
    width: 100%;
    min-height: 40px;
    text-align: center;
    font-size: 26px;
    padding: 10px 10px 5px 10px;
    color: #000;
    box-sizing: border-box;
  }

  .ar {
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ccc;
  }

  .artext {
    text-align: center;
    color: #ccc;
    font-size: 18px;
    display: block;
    margin: 10px auto 0 auto;
  }
}

.photoshow-slider {
  &.section {
    margin-bottom: -5px;
  }

  .slider {
    width: 300px;

    .slider_content li {
      width: 300px;
      margin: 0;
      white-space: normal;

      a {
        display: inline-block;
        margin: 0 15px 15px 0;

        &:nth-child(3n + 3) {
          margin-right: 0;
        }
      }
    }

    .btnPrev,
    .btnNext {
      top: -15px;
      bottom: 0;
    }
  }
}

.photoshow_right_fixed {
  position: fixed;
  top: 0;
  width: 300px;
}
