  .slider {
    position: relative;
    width: 290px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    .slider_content li {
      display: inline-block;
      vertical-align: top;
      .slide {
        display: inline-block;
        vertical-align: top;
        width: 140px;
        margin: 0 10px 0 0;
      }
      &:last-child .slide:last-child {
        margin-right: 0;
      }
      .slide .slide_desc {
        font-size: 14px;
        color: #5c5c5c;
        clear: both;
        line-height: 18px;
        padding-top: 10px;
        white-space: normal;
        width: 140px;
        span {
          display: block;
        }
        .txt {
          margin: 5px 0 0 0;
        }
        a{
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  .btnPrev {
    /*
    background-image: url(https://static.langimg.com/photo/30666887.cms);
    background-repeat: no-repeat;
    background-position: -5px -339px;
    width: 29px;
    height: 24px;
    position: absolute;
    top: 31px;
    bottom: auto;
    left: 0;
    z-index: 1;
    margin: auto;
    cursor: pointer;
    */
    background: #fff;
    height: 40px;
    width: 40px;
    top: 31px;
    bottom: auto;
    position: absolute;
    border-radius: 50%;
    left: 5px;
    box-shadow: 0 0 5px #b8b8b8;
    margin: auto;
    cursor: pointer;
    &:after {
      width: 10px;
      height: 10px;
      background: transparent;
      border-right: 2px solid #000;
      border-top: 2px solid #000;
      content: '';
      display: inline-block;
      transform: rotate(-135deg);
      position: absolute;
      top: 14px;
      left: 16px;
      }
  }
  .btnNext {
    background: #fff;
    height: 40px;
    width: 40px;
    top: 31px;
    bottom: auto;
    position: absolute;
    border-radius: 50%;
    right: 5px;
    box-shadow: 0 0 5px #b8b8b8;
    margin: auto;
    cursor: pointer;
    &:after {
      width: 10px;
      height: 10px;
      background: transparent;
      border-right: 2px solid #000;
      border-top: 2px solid #000;
      content: '';
      display: inline-block;
      transform: rotate(45deg);
      position: absolute;
      top: 14px;
      right: 16px;
    }
  }
}


      