.warp404 {
  margin: 30px 20px;
  .notfoundWrap {
    background-color: #f2f2f2;
    border: 1px solid #e7e7e7;
    border-radius: 1px;
  }
  img {
    display: inline-block;
    vertical-align: top;
    padding: 15px 18px 15px 10px;
    border: 0;
    outline: none;
  }
  .errortext {
    border-left: 1px solid #ddd;
    padding: 20px 0 0 20px;
    display: inline-block;
    vertical-align: top;
    min-height: 115px;
    width: 750px;
    h1 {
      color: #010000;
      font-size: 24px;
      margin: 0 0 5px;
      font-weight: normal;
    }
  }
  .return-btn {
    display: inline-block;
    margin: 10px 0 0 0;
    clear: both;
  }
}

.mostpopular {
  background: #eaeaea;
  font-size: 20px;
  border-top: 1px solid #e7e7e7;
  color: #010000;
  float: left;
  height: 33px;
  margin-top: 25px;
  padding-left: 10px;
  width: 99%;
  text-align: left;
  line-height: 36px;
  margin-bottom: 10px;
}
.list {
  display: block;
  margin-top: 20px;
}
.list li {
  width: 46%;
  margin-right: 1%;
  display: inline-block;
  line-height: 21px;
  position: relative;
  margin-left: 20px;
}

.list li::before {
  content: '';
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #f5cc10;
  left: -15px;
  top: 10px;
}
.list li a {
  font-size: 16px;
  line-height: 30px;
  display: block;
}
