body .PL {
  .photoData {
    clear: both;
    ul {
      list-style: none;
      li {
        display: inline-block;
        width: 144px;
        margin-right: 18px;
        position: relative;
        vertical-align: top !important;
        margin-bottom: 20px;
        a {
          display: block;
        }
        p {
          margin: 5px 0 0 0;
          margin: 5px 0 0 0;
          line-height: 19px;
          font-size: 14px;
        }
      }
      li:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
  .printpage {
    clear: both;
    text-align: center;
    margin: 20px 0 30px 0;
    a {
      &.spanback {
        position: relative;
        height: 32px;
        width: 32px;
        display: inline-block;
        z-index: 10;
        border-radius: 50%;
        background: #fff;
        top: 0;
        left: 0;
        text-indent: -9999px;
      }
      &.spannext {
        position: relative;
        height: 32px;
        width: 32px;
        display: inline-block;
        z-index: 10;
        border-radius: 50%;
        background: #fff;
        top: 0;
        right: 0;
        text-indent: -9999px;
      }
      &:hover {
        color: #fff;
        font-weight: normal;
        background: #135394;
      }
      &.active {
        color: #fff;
        font-weight: normal;
        background: #135394;
      }
      box-shadow: 0 0 5px #b1b0b0;
      border-radius: 50%;
      margin-right: 10px;
      display: inline-block;
      float: none;
      color: #666;
      line-height: 32px;
      height: 32px;
      width: 32px;
      font-size: 14px;
      font-family: arial;
      text-align: center;
    }
  }
  .rightnav {
    width: 300px;
    float: right;

    .rtbox {
      background: #f3f3f0;
      height: 400px;
      overflow: auto;
      padding: 10px 5px;

      ul li {
        min-height: 86px;
        clear: both;
        border-bottom: 1px solid #e6e6e4;
        padding-top: 10px;
        a {
          float: left;
          &.dec {
            padding-left: 10px;
            font-size: 14px;
            line-height: 21px;
            width: 174px;
          }
        }
      }
    }
  }
  
  .bottomsec {
    clear: both;
    padding: 20px 0;

    h2 {
      background: none;
      border-top: 2px solid #000;
      padding: 10px 0 0 0;
      margin: 0 0 10px;
    }
    ul li {
      width: 230px;
      margin-right: 13px;
      float: left;
      position: relative;
      vertical-align: top !important;
      margin-bottom: 20px;
      &:nth-child(4n) {
        margin-right: 0;
      }
      p {
        clear: both;
        width: 200px;
        padding: 5px 0;
      }
      a {
        display: block;
        line-height: 21px;
        font-size: 14px;
      }
    }
  }
}

.photoHomeData.section {
  overflow: hidden;
  width: auto;
}
.photoHomeData ul.top_gallery {
  overflow: hidden;
  margin: 0 0 20px;
}
.photoHomeData ul.top_gallery li {
  float: left;
  vertical-align: top;
  position: relative;
}
.photoHomeDataul ul.top_gallery li a {
  font-size: 16px;
  line-height: 30px;
  display: block;
}
.photoHomeData ul.top_gallery li p {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  padding: 4px 5px;
  position: absolute;
  right: 0;
  margin: auto;
  text-align: left;
  word-wrap: break-word;
}
.photoHomeData ul.top_gallery li p a {
  color: #fff;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
}

.photoHomeData ul.top_gallery li:after {
  content: '';
  display: block;
  clear: both;
}

body .PL .photoHPsliders .section h2 {
  border: 0;
  padding: 0;
  margin-bottom: 5px;
}
body .PL .photoHPsliders .section h2 a,
body .PL .photoHPsliders .section h2 span {
  padding-left: 0;
  margin: 0;
  font-size: 20px;
}
body .PL .photoHPsliders .section h2 a:after,
body .PL .photoHPsliders .section h2 span:after {
}
body .PL .photoHPsliders .section {
  float: left;
  margin: 0 0 20px;
}
body .PL .photoHPsliders .section:nth-child(odd) {
  float: right;
}
body .PL .photoHPsliders .slide_desc a {
  color: #000;
  max-height: 40px;
}

.rt-mostpopular {
  height: 650px;
  overflow: auto;
}
.bdnone {
  border: none !important;
}
