.wdt_gdpr {
  background: #343434 none repeat scroll 0 0;
  color: #fff;
  overflow: hidden;
  display: block;
  padding: 15px 0;
  .gdpr_content {
    width: 1000px;
    margin: 0 auto;
  }
  .gdpr_left {
    width: 80%;
    float: left;
    p {
      font-size: 12px;
      font-family: arial;
      line-height: 20px;
      a {
        font-size: 12px;
        font-family: arial;
        line-height: 20px;
      }
    }
  }
  .gdpr_right {
    width: 20%;
    float: left;
    text-align: center;
  }
  .btn-continue {
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    padding: 6px 0;
    border: 1px solid #f4b408;
    cursor: pointer;
    font-family: arial;
    text-align: center;
    color: #f4b408;
    background: transparent;
    width: 60%;
    margin: 15px auto 20px;
    height: auto;
    display: block;
  }
  a {
    color: #f4b408;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    &:hover,
    &:visited {
      color: #f4b408;
      text-decoration: none;
      font-size: 14px;
      line-height: 18px;
    }
  }
  h2 {
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin: 0 0 10px;
    padding: 0;
    font-weight: normal;
  }
}

.wdt_gdpr.hide {
  height: 0;
  padding: 0;
  display: none;
}
.wdt_gdpr .agreebox {
  display: block;
  margin: 20px 0 0 0;
  color: #ccc;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}
.wdt_gdpr .agreebox input {
  margin: 1px 5px 0 0;
  display: inline-block;
  vertical-align: top;
}
