.fake-listview.table {
    width: auto;
    position: relative;
    margin-bottom: 15px;
    .img_wrap {
      width: 100px;
      vertical-align: top;
      float: left;
    }
    .con_wrap {
      padding: 0 0 0 10px;
      vertical-align: top;
      width: 100%;
    }
  }
  
  .blur-div {
    background-color: #dbe3e4;
    height: 8px;
    margin-bottom: 10px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
    background-size: 400px 8px;
    height: 10px;
    display: block;
    &.small {
      height: 8px;
      margin-top: 10px;
    }
    &.big {
      height: 8px;
      margin-bottom: 15px;
    }
    &.img {
      height: 200px;
      margin-bottom: 15px;
    }
  }
  
  .dummy-img {
    background-color: #dbe3e4;
    width: 100px;
    height: 75px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
    background-size: 400px 8px;
    float: left;
  }

@keyframes placeHolderShimmer{
    0%{
        background-position: -200px 0
    }
    100%{
        background-position: 200px 0
    }
}


.fake-articleshow .breadcrumb{margin:20px 20px 0}
.fake-articleshow .blur-div{margin-bottom: 15px}
.fake-articleshow .breadcrumb .blur-div{height:20px; margin-bottom: 5px;}
.fake-articleshow .leftmain h1 .blur-div{height:20px}
.fake-articleshow .leftmain .top-story .img_wrap{width:auto}
.fake-articleshow .leftmain .top-story .img_wrap .dummy-img{width:400px; height:295px}
.fake-articleshow .rightnav .ads {overflow: hidden; margin-bottom: 20px}
.fake-articleshow .rightnav .ads .dummy-img{width:300px; height: 250px;}
.fake-articleshow .rightnav .video_list ul li {display: inline-block; vertical-align: top; width: 145px; margin: 0 10px 10px 0; position: relative;}
.fake-articleshow .rightnav .video_list ul li:nth-child(2n) {margin-right: 0;}
.fake-articleshow .rightnav .video_list .dummy-img{width:142px; height:104px; float: none; margin-bottom: 10px;}