.bnews-placeholder {
    overflow: hidden;
    background: #B50302;
    height: 32px;
    width: 1000px;
    display: block;
    margin-top: 5px; 
    .left {
      float: left;
      width: 160px;
      line-height: 36px;
      height: 32px;
      color: #fff;
      text-align: center;
      font-size: 18px;
    }
    .center {
      float: left;
      width: 800px;
      overflow: hidden;
      background: #fff;
      border-radius: 15px;
      height: 28px;
      margin: 2px 0;
    }
    .right {
      float: right;
      width: 40px;
      position: relative;
      span.close_icon {
        cursor: pointer;
        background: #fff;
        border-radius: 50%;
        right: 8px;
        top: 5px;
        &:after, &:before {
          background-color: #B50302;
          height: 13px;
          top: 3px;
          left: 9px;
        }
      }
    }
  }