ol.tab-list {
    overflow: hidden;
    border-bottom: 1px #ddd solid;
    text-align: center;
    li {
      display: inline-block;
      height: 32px;
      padding: 4px 10px 0 10px;
      margin: 0 5px 0 0;
      font-size: 17px;
      color: #444;
      line-height: 34px;
      cursor: pointer;
      &:last-child {
        margin: 0;
      }
      &.active {
        font-weight: bold;
        border-bottom: 2px #333 solid;
      }
    }
  }