.list_subsections ul li:first-child{margin:0 0 30px 0; width: 630px; position: relative; display: block;}
.list_subsections ul li:first-child .img_container{width:auto; margin: 0; display: block}
.list_subsections ul li:first-child .txt_container{position: absolute; bottom: 0; left:0; right:0; padding: 50px 10px 10px; background: linear-gradient(transparent, rgba(0, 0, 0, 0.9)); margin: 0;}
.list_subsections ul li:first-child .txt_container a{color:#fff; font-weight: bold; font-size: 22px; line-height: 32px;}

.list_subsections ul li{display: inline-block; vertical-align: top; width: 300px; margin:0 30px 30px 0; position: relative;}
.list_subsections ul li:nth-child(2n+3){margin-right: 0}
.list_subsections ul li .img_container{width:300px; margin:0 0 10px 0; display: block}
.list_subsections ul li .social_tools{position: absolute; top: 12px; right: 10px; margin: 0;}
.list_subsections ul li .social_tools span{border-radius: 50%; width: 34px; height: 34px;}
.list_subsections ul li .social_tools .facebook {background-position: -56px -811px;}
.list_subsections ul li .social_tools .twitter {background-position: -10px -855px;}
.list_subsections ul li .txt_container{display:block;}
.list_subsections ul li .txt_container a{font-size: 16px; line-height: 24px;}


.printpage {
  clear: both;
  text-align: center;
  margin-bottom: 30px;
  a {
    &.spanback {
      position: relative;
      height: 32px;
      width: 32px;
      display: inline-block;
      z-index: 10;
      border-radius: 50%;
      background: #fff;
      top: 0;
      left: 0;
      text-indent: -9999px;
    }
    &.spannext {
      position: relative;
      height: 32px;
      width: 32px;
      display: inline-block;
      z-index: 10;
      border-radius: 50%;
      background: #fff;
      top: 0;
      right: 0;
      text-indent: -9999px;
    }
    &:hover {
      color: #fff;
      font-weight: normal;
      background: #135394;
    }
    &.active {
      color: #fff;
      font-weight: normal;
      background: #135394;
    }
    box-shadow: 0 0 5px #b1b0b0;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    float: none;
    color: #666;
    line-height: 32px;
    height: 32px;
    width: 32px;
    font-size: 14px;
    font-family: arial;
    text-align: center;
  }
}