#login-popup {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: default;
    opacity: 0;
    z-index: -1;
    transition: all .5s;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    * {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
    &.active {
      opacity: 1;
      z-index: 1000000;
    }
  }
  
  #signin_box {
    background: #f7f7f7;
    width: 408px;
    height: 100%;
    min-height: 100%;
    padding: 46px 30px;
    overflow-y: auto;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.3);
    position: absolute;
    right: -408px;
    top: 0;
    transition: all .5s;
  }
  
  #login-popup.active #signin_box {
    right: 0;
    left: initial;
  }
  
  /*--- Loader ---*/
  
  #signin_box {
    &.loader {
      height: inherit;
      overflow: hidden;
      &:before {
        position: fixed;
        content: '';
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: inherit;
        right: 0;
        top: 0;
        z-index: 11;
      }
      &:after {
        position: absolute;
        content: '';
        width: 50px;
        height: 50px;
        left: 50%;
        top: 50%;
        margin-left: -25px;
        /*margin-top:-25px;*/
        border: 6px solid rgba(0, 0, 0, 0);
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
        border-radius: 50%;
        border-top-color: #ff394a;
        border-right-color: #ff394a;
        z-index: 12;
      }
    }
    > div {
      border: 1px solid #d9d9d9;
      padding: 20px;
      height: auto;
      min-height: 100%;
    }
    a {
      text-decoration: none;
    }
  }
  
  #login-popup {
    .close-btn {
      font-family: 'proxima-regular1', sans serif;
      background: none;
      border: 0;
      font-size: 34px;
      line-height: 1;
      color: #7b7b7b;
      transform: rotate(-45deg);
      position: absolute;
      right: -400px;
      top: 5px;
      z-index: 1;
      transition: all .5s;
      outline: none;
      cursor: pointer;
    }
    &.active .close-btn {
      right: 15px;
    }
  }
  
  /*#login-popup span { cursor:initial; }*/
  
  #signin_box {
    .form ul li {
      list-style: none;
      margin-bottom: 22px;
    }
    .user-icon {
      margin: -45px auto 25px;
      width: 68px;
      background: #f7f7f7;
      text-align: center;
      img {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: 2px solid #ddd;
        vertical-align: middle;
      }
    }
  }
  
  #socialConnectImgDiv {
    margin-bottom: 24px;
    button {
      border: 0;
      border-radius: 2px;
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      padding-left: 50px;
      position: relative;
      display: block;
      width: 100%;
      text-align: left;
      font-weight: 500;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
      cursor: pointer;
      &::before {
        position: absolute;
        content: '';
        background: url(https://static.langimg.com/photo/64971829.cms) no-repeat;
        background-size: 250px;
      }
      + button {
        margin-top: 16px;
      }
    }
  }
  
  #sso-gplus-login {
    margin-top: 16px;
  }
  
  #socialConnectImgDiv {
    .fb {
      background: #2553b4;
      color: #fff;
      &::before {
        background-position: 0 0;
        width: 14px;
        height: 29px;
        bottom: 0;
        left: 13px;
      }
    }
    .gplus {
      background: #fff;
      color: #757575;
      &::before {
        background-position: -19px 0;
        width: 19px;
        height: 19px;
        left: 8px;
        top: 11px;
      }
    }
  }
  
  #signin_box {
    .heading {
      font-size: 16px;
      line-height: 1;
      color: #000;
      position: relative;
      text-align: center;
      margin-bottom: 20px;
      span {
        display: inline-block;
        background: #f7f7f7;
        padding: 0 10px;
        position: relative;
        z-index: 1;
        color: #868686;
      }
      &:after {
        position: absolute;
        content: '';
        background: #d6d6d6;
        width: 100%;
        height: 1px;
        left: 0;
        top: 50%;
      }
      &.small {
        font-size: 14px;
        color: #a2a2a2;
        font-weight: normal;
      }
      + p {
        margin-bottom: 20px;
      }
    }
    .secondary-link {
      display: inline-block;
      font-size: 12px;
      line-height: 18px;
      font-weight: 500;
      color: #5b9ae4;
      text-transform: uppercase;
      margin-top: 5px;
      &.disabled {
        cursor: default;
        color: #b0b0b0;
        text-decoration: none;
      }
    }
    .input-field {
      padding-left: 23px;
      position: relative;
      &::before {
        position: absolute;
        content: '';
        background-image: url(https://static.langimg.com/photo/6497photo1829.cms);
        background-repeat: no-repeat;
        background-size: 250px;
        left: 0;
      }
      &.email::before {
        background-position: -40px 0;
        width: 15px;
        height: 11px;
        top: 10px;
      }
      &.user-name::before {
        background-position: -60px 0;
        width: 13px;
        height: 15px;
        top: 8px;
      }
      &.password {
        &::before {
          background-position: -75px 0;
          width: 13px;
          height: 16px;
          top: 8px;
        }
        .view-password, .hide-password {
          position: absolute;
          width: 30px;
          height: 27px;
          top: 0;
          right: 0;
          z-index: 100;
          cursor: pointer;
        }
        .view-password:before {
          position: absolute;
          content: '';
          background: url(https://static.langimg.com/photo/64971829.cms) no-repeat -105px 0;
          background-size: 250px;
          width: 20px;
          height: 12px;
          left: 5px;
          top: 7px;
        }
        .hide-password:before {
          position: absolute;
          content: '';
          background: url(https://static.langimg.com/photo/64971829.cms) no-repeat -105px 0;
          background-size: 250px;
          width: 20px;
          height: 12px;
          left: 5px;
          top: 7px;
          opacity: 1;
        }
        .view-password {
          opacity: .4;
        }
      }
      &.mobile-no {
        &::before {
          width: 12px;
          height: 18px;
          top: 5px;
          background-position: -90px 0;
        }
        p {
          border-bottom: 1px solid #888;
          .country-code {
            color: #b0b0b0;
            padding: 0 5px;
            height: 27px;
            line-height: 27px;
            vertical-align: middle;
          }
          input {
            border-bottom: 0;
            display: inline-block;
            width: calc(100% - 45px);
          }
        }
      }
    }
    .form {
      margin-bottom: 20px;
      .submit {
        margin-bottom: 0;
      }
    }
    input {
      display: block;
      width: 100%;
      line-height: normal;
      border: 0;
      font-size: 14px;
      &[type=text], &[type=password], &[type=number] {
        height: 28px;
        border-bottom: 1px solid #888;
        background: none;
        color: #222;
        border-radius: 0;
      }
    }
  }
  
  :-ms-input-placeholder {
    color: #222 !important;
  }
  
  #signin_box {
    input {
      &[type=button], &[type=submit] {
        background: #be281a;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
        height: 40px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;
      }
      &:disabled {
        opacity: .4;
      }
    }
    .regenerate-otp, .subtext {
      display: inline-block;
      color: #b0b0b0;
      margin-right: 5px;
      margin-top: 5px;
      font-size: 12px;
    }
    .form .error {
      color: #be281a;
      input {
        border-color: #be281a;
        color: #be281a;
      }
    }
  }
  
  input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    box-shadow: 0 0 0 17px #f7f7f7 inset;
  }
  
  /* --- Checkbox --- */
  
  #signin_box .checkbox {
    display: block;
    margin: 0 0 12px;
    input[type="checkbox"] {
      display: none;
    }
    label {
      display: inline-block;
      padding-left: 23px;
      cursor: pointer;
      vertical-align: middle;
      font-weight: normal;
      line-height: 20px;
      color: #000;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 0px;
        top: 2px;
        height: 14px;
        width: 14px;
        line-height: 15px;
        background: #ffffff no-repeat;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        border: 1px solid #b1b1b1;
        border-radius: 2px;
      }
      a {
        color: #5b9ae4;
      }
    }
    input[type="checkbox"]:checked + label {
      &:before {
        background: #3696de;
        border-color: #3696de;
      }
      &:after {
        position: absolute;
        content: '';
        border: solid #fff;
        width: 5px;
        height: 10px;
        left: 5px;
        top: 2px;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }
  
  .forget-password {
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    text-decoration: underline !important;
    &.disabled {
      cursor: default;
      color: #b0b0b0;
      text-decoration: none !important;
    }
  }
  
  #signin_box {
    p {
      font-size: 14px;
      line-height: 18px;
      color: #222;
    }
    .password-conditions {
      padding: 10px 0 0;
      display: none;
      p {
        margin-bottom: 10px;
      }
      ul li {
        font-size: 14px;
        line-height: 1;
        color: #666;
        margin-bottom: 5px;
        position: relative;
        padding-left: 10px;
        &::before {
          position: absolute;
          content: '';
          background: #b2b2b2;
          width: 6px;
          height: 6px;
          left: 0;
          top: 3px;
          border-radius: 50%;
          border: 1px solid transparent;
        }
        &.error {
          color: #b12e2a;
          &::before {
            background-color: transparent;
            border-color: #b12e2a;
          }
        }
        &.success {
          color: #43b23f;
          &::before {
            background-color: #43b23f;
          }
        }
      }
    }
    .errorMsg {
      font-size: 12px;
      line-height: 1;
      color: #be281a;
      display: none;
      margin-top: 5px;
    }
    .successMsg {
      font-size: 12px;
      line-height: 1;
      color: #43b23f;
      display: none;
      margin-top: 5px;
    }
  }
  
  #sso-pwdDiv, #sso-otpLoginDiv, #changeEmailIdDiv {
    display: none;
  }
  
  #signin_box .mandatory-box {
    background: #fff;
    padding: 20px;
    margin: 0 -20px -20px;
    p {
      font-size: 12px;
      line-height: 20px;
      color: #404040;
    }
  }
  
  body.disable-scroll {
    overflow: hidden;
    margin-right: 17px;
  }
  
  /*Registration Success CSS*/
  
  #signin_box {
    .fp-success {
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      text-align: center;
      color: #404040;
      i {
        background: #43b23e;
        width: 41px;
        height: 41px;
        border-radius: 50%;
        position: relative;
        margin: 20px auto;
        display: block;
        &:before {
          width: 17px;
          height: 8px;
          border-bottom: 3px solid #fff;
          border-left: 3px solid #fff;
          content: "";
          position: absolute;
          left: 11px;
          top: 13px;
          transform: rotate(-45deg);
        }
      }
    }
    .verified {
      padding: 0px 0 20px;
      font-size: 14px;
      line-height: 20px;
      div {
        &:first-child {
          color: #404040;
        }
        &:nth-child(2) {
          color: #222;
          strong {
            line-height: 14px;
            display: inline-block;
            vertical-align: top;
          }
        }
      }
      .tick {
        display: inline-block;
        width: 14px;
        height: 14px;
        vertical-align: top;
        background: #43b23e;
        margin-left: 10px;
        border-radius: 50%;
        position: relative;
      }
    }
    .mn-verified .tick {
      display: inline-block;
      width: 14px;
      height: 14px;
      vertical-align: top;
      background: #43b23e;
      margin-left: 10px;
      border-radius: 50%;
      position: relative;
    }
    .verified .tick:before, .mn-verified .tick:before {
      width: 7px;
      height: 3px;
      border-bottom: 1px solid #fff;
      border-left: 1px solid #fff;
      content: "";
      position: absolute;
      left: 3px;
      top: 4px;
      transform: rotate(-45deg);
    }
    .success-wrapper {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
    }
    .success-user {
      display: block;
      margin: 0 auto 20px;
      width: 42px;
      height: 42px;
      background: url(https://static.langimg.com/photo/64971829.cms) no-repeat -130px 0;
      background-size: 250px;
    }
    .fp-success-msg {
      font-size: 20px;
      text-align: center;
      color: #404040;
      line-height: 1;
    }
    .signup-section, .signin-section {
      margin-top: -29px;
    }
  }
  
  .powered-by {
    width: 90%;
    text-align: center;
    margin: 50px auto 0;
    img {
      width: 220px;
    }
    &:before {
      content: "Powered by";
      text-transform: uppercase;
      color: #868686;
      font-size: 12px;
      display: block;
      margin: 0 0 10px 0;
    }
  }
  
  .teams-logo {
    padding-top: 40px;
    text-align: center;
    span {
      font-weight: bold;
      color: #000;
      font-size: 15px;
      display: block;
      text-transform: capitalize;
    }
    a {
      background: url(https://static.toiimg.com/photo/65470945.cms) no-repeat 0 -10000px;
      width: 32px;
      height: 32px;
      display: inline-block;
      margin: 10px 4px 0 0;
    }
    .toi {
      background-position: -6px -16px;
    }
    .et {
      background-position: -6px -66px;
    }
    .nbt {
      background-position: -6px -116px;
    }
    .sm {
      background-position: -6px -166px;
    }
    .st {
      background-position: -6px -217px;
    }
    .gaana {
      background-position: -6px -268px;
    }
    .itimes {
      background-position: -6px -318px;
    }
    .tp {
      background-position: -6px -369px;
    }
  }
  
  .top_nav .top_nav_content .globalnav .user_area {
    .user-controls {
      position: relative;
    }
    [data-plugin='user-notloggedin'] {
      margin: 1px 5px 0 0;
    }
    .user-controls {
      img {
        float: left;
        width: 25px;
        height: 25px;
      }
      .user_name {
        display: block;
        font-size: 12px;
        line-height: 25px;
        padding: 0 8px;
        font-weight: 700;
        color: #000;
        float: left;
        text-transform: capitalize;
        font-family: arial;
        .name {
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          font-family: arial;
          font-style: normal;
          font-weight: bold;
        }
        .icon_down {
          padding: 0;
          width: 0;
          height: 0;
          border: solid 5px transparent;
          border-top-color: black;
          margin: 9px 0 0 5px;
          float: right;
        }
      }
      .dropdown {
        background: #f5f5f5;
        position: absolute;
        right: 0;
        top: 25px;
        display: none;
        width: 110px;
        z-index: 700;
        padding: 4px 0; 
        li {
          &:first-child {
            border-top: 0;
          }
          display: block;
          font-size: 12px;
          font-weight: normal;
          a, [data-plugin='user-logout'] {
            padding: 0 8px;
            line-height: 20px;
            display: block;
            color: #000;
            font-size: 12px;
            cursor: pointer;
          }
          &:after {
            display: none;
          }
          a:hover, [data-plugin='user-logout']:hover {
            color: #e44349;
          }
        }
      }
      &:hover {
        .dropdown {
          display: block;
        }
        .user_name {
          background: #f5f5f5;
        }
      }
    }
  }

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}