.gadgetlist_body {
  overflow: hidden;
}
.gadgetlist_body .gl_top_bar {
  overflow: hidden;
  clear: both;
  margin-bottom: 20px;
}
.gl_top_bar .select-inline-gadgets {
  margin: 5px 5px 40px;
}
.gl_top_bar .select-inline-gadgets ul.scroll li {
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 4px 3px rgba(0, 0, 0, 0.1);
  border: solid 1px #b6b6b6;
  background: #ffffff;
  margin-right: 30px;
  padding-top: 20px;
  height: 80px;
  line-height: 50px;
  position: relative;
}
.gl_top_bar .select-inline-gadgets ul.scroll li:hover::before {
  box-shadow: none;
  display: none;
}
.gl_top_bar .select-inline-gadgets ul.scroll li:last-child {
  margin-right: 0;
}
.gl_top_bar .select-inline-gadgets ul.scroll li label {
  line-height: normal;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  color: #b2b2b2;
}
.gl_top_bar .select-inline-gadgets ul.scroll li.active label {
  color: #135394;
}
.gl_top_bar .select-inline-gadgets ul.scroll li.active {
  padding-top: 35px;
}
.gl_top_bar .select-inline-gadgets ul.scroll li.active:after {
  content: '';
  position: absolute;
  bottom: -20px;
  border-bottom: 3px solid #135394;
  left: 0;
  right: 0;
  width: 70%;
  margin: 0 auto;
}
.gl_top_bar .inline_txt,
.gl_top_bar p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.gl_top_bar ul.gl_suggested_keywords li {
  display: inline-block;
  vertical-align: top;
  background: #e6e6e6;
  border: 1px solid #dadada;
  white-space: nowrap;
  border-radius: 18px;
  margin: 0 15px 15px 0;
}
.gl_top_bar ul.gl_suggested_keywords li:last-child {
  margin-right: 0;
}
.gl_top_bar ul.gl_suggested_keywords li a {
  display: block;
  font-size: 14px;
  color: #000;
  height: 34px;
  line-height: 38px;
  padding: 0 20px;
}
.gl_top_bar ul.gl_suggested_keywords li.active a {
  color: #fff;
  font-weight: bold;
}
.gl_top_bar ul.gl_suggested_keywords li.active {
  background: #135394;
  border-color: #135394;
}

.gadgetlist_body .gl_filters {
  float: left;
  width: 230px;
}
.gadgetlist_body .gl_list_mobiles {
  float: right;
  width: 700px;
  position: relative;
}
.gadgetlist_body .gl_list_mobiles .gl_tabs {
  position: relative;
  padding: 0 0 0 70px;
}
.gadgetlist_body .gl_list_mobiles .gl_tabs span {
  font-size: 16px;
  color: #787878;
  position: absolute;
  left: 0;
  top: 1px;
}
.gadgetlist_body .gl_list_mobiles .gl_tabs ul li {
  padding: 0 15px;
}
.gadgetlist_body .gl_list_mobiles .gl_tabs ul li#rating-asc,
.gadgetlist_body .gl_list_mobiles .gl_tabs ul li#rating-desc {
  position: relative;
  padding-right: 22px;
}
.gadgetlist_body .gl_list_mobiles .gl_tabs ul li#rating-desc:after {
  content: '\2191';
  position: absolute;
  right: 4px;
  top: -1px;
  font-size: 26px;
  font-weight: bold;
  height: 19px;
  line-height: 27px;
  overflow: hidden;
}
.gadgetlist_body .gl_list_mobiles .gl_tabs ul li#rating-asc:after {
  content: '\2193';
  position: absolute;
  right: 4px;
  top: -1px;
  font-size: 26px;
  font-weight: bold;
  height: 19px;
  line-height: 14px;
  overflow: hidden;
}

.gadgetlist_body .gl_list_mobiles .gl_tabs ul li#price-asc,
.gadgetlist_body .gl_list_mobiles .gl_tabs ul li#price-desc {
  position: relative;
  padding-right: 22px;
}
.gadgetlist_body .gl_list_mobiles .gl_tabs ul li#price-desc:after {
  content: '\2191';
  position: absolute;
  right: 4px;
  top: -1px;
  font-size: 26px;
  font-weight: bold;
  height: 19px;
  line-height: 27px;
  overflow: hidden;
}
.gadgetlist_body .gl_list_mobiles .gl_tabs ul li#price-asc:after {
  content: '\2193';
  position: absolute;
  right: 4px;
  top: -1px;
  font-size: 26px;
  font-weight: bold;
  height: 19px;
  line-height: 14px;
  overflow: hidden;
}

.gadgetlist_body .gl_list_mobiles .bg-gray {
  background: #ececec;
  min-height: 300px;
}
.gadgets-in-list ul li {
  margin-bottom: 10px;
  background: #fff;
  padding: 20px 0 10px;
}
.gadgets-in-list ul li:last-child {
  margin-bottom: 0;
}
.gadgets-in-list .top_spec {
  overflow: hidden;
}
.gadgets-in-list .top_spec .gadget_img {
  display: inline-block;
  vertical-align: top;
  width: 175px;
  border: 2px solid #e2e2e2;
  height: 190px;
  padding: 40px 0 0 0;
  text-align: center;
  margin: 0 20px 0 0;
  position: relative;
}
.gadgets-in-list .top_spec .gadget_img img {
  max-width: initial;
  max-height: 180px;
  width: auto;
}
.gadgets-in-list .top_spec .gadget_detail {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  margin-right: 20px;
}
.gadgets-in-list .top_spec .gadget_detail span {
  display: block;
  font-size: 14px;
  line-height: 22px;
  color: #777;
  margin: 0 0 3px;
}
.gadgets-in-list .top_spec .gadget_detail .gd_rating span {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 12px;
}
.gadgets-in-list .top_spec .gadget_detail .gd_rating span a{color:#1a75ff}
.gadgets-in-list .top_spec .gadget_detail .gd_rating b {
  font-family: arial;
}
.gadgets-in-list .top_spec .gadget_detail .gd_rating b small {
  color: #f5a623;
  font-size: 12px;
}
.gadgets-in-list .top_spec .gadget_detail .gd_rating span:first-child {
  margin: 0 10px 0 0;
}
.gadgets-in-list .top_spec .gadget_detail .gd_rating span:first-child:after {
  content: '|';
  position: absolute;
  right: -8px;
}
.gadgets-in-list .top_spec .gd_name a {
  font-size: 18px;
  line-height: 26px;
  max-height: 52px;
  font-weight: bold;
}
.gadgets-in-list .top_spec .gadget_specs ul li {
  font-size: 15px;
  line-height: 24px;
  color: #666666;
  padding: 0;
  margin: 0 0 5px 15px;
  position: relative;
}
.gadgets-in-list .top_spec .gadget_specs ul li:before {
  content: '';
  height: 6px;
  width: 6px;
  background: #666;
  border-radius: 50%;
  position: absolute;
  top: 9px;
  left: -15px;
}
.gadgets-in-list .top_spec .gadget_specs ul li label {
  font-weight: bold;
}
.gadgets-in-list .top_spec .gadget_specs ul li b {
  font-family: arial;
}
.gadgets-in-list .top_spec .gadget_buy {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  position: relative;
  overflow: hidden;
}
.gadgets-in-list .top_spec .gadget_buy .symbol_rupees{font-size: 18px; font-weight: bold; margin: 15% 0 0 15px; display: block;}
.gadgets-in-list .top_spec .gadget_buy .symbol_rupees:before{left: -15px; font-size: 22px; line-height: 24px;}
.gadgets-in-list .top_spec .gadget_buy b {
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  line-height: 23px;
  vertical-align: top;
}

.gadgets-in-list .top_spec .gadget_buy input[type='checkbox'] {
  display: none;
}

.gadgets-in-list
  .top_spec
  .gadget_buy.related
  input[type='checkbox'].chk-nxt:checked
  ~ ul.dotted-box {
  transform: translateX(-192px);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.gadgets-in-list
  .top_spec
  .gadget_buy.related
  input[type='checkbox'].chk-nxt:not(:checked)
  ~ ul.dotted-box {
  transform: translateX(0);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.gadgets-in-list .top_spec .gadget_buy.related input[type='checkbox'].chk-nxt:checked ~ label {
  transform: rotate(180deg);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.gadgets-in-list
  .top_spec
  .gadget_buy.related
  input[type='checkbox'].chk-nxt:not(:checked)
  ~ label {
  transform: rotate(0deg);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.gadgets-in-list
  .top_spec
  .gadget_buy.related
  input[type='checkbox'].chk-nxt:checked
  ~ label:after {
  top: 6px;
  right: 7px;
}

.gadgets-in-list .top_spec .gadget_buy.related .nxt {
  background: #666;
  height: 20px;
  width: 20px;
  top: 0;
  position: absolute;
  border-radius: 3px;
  right: 0;
  cursor: pointer;
}

.gadgets-in-list .top_spec .gadget_buy.related .nxt:after {
  width: 6px;
  height: 6px;
  background: transparent;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  content: '';
  display: inline-block;
  transform: rotate(45deg);
  position: absolute;
  top: 6px;
  right: 8px;
}

.gadgets-in-list .top_spec .dotted-box {
  white-space: nowrap;
}
.gadgets-in-list .top_spec .dotted-box li {
  border: 1px dashed #777;
  padding: 10px 15px;
  display: inline-block;
  margin: 0 10px 0 0;
  width: 150px;
  vertical-align: top;
  min-height: 106px;
}
.gadgets-in-list .top_spec .dotted-box li:last-child {
  margin: 0;
}
.gadgets-in-list .top_spec .dotted-box li .txt {
  font-size: 14px;
  line-height: 20px;
  color: #525252;
  margin: 0 0 10px;
  white-space: normal;
  max-height: 40px;
}
.gadgets-in-list .top_spec .dotted-box li .btm {
  display: block;
  margin: 5px 0 0 0;
}
.gadgets-in-list .top_spec .dotted-box li .btm .amazon {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}
.gadgets-in-list .top_spec .dotted-box li .btm .btn-buy {
  text-align: center;
  float: right;
  width: auto;
}
.gadgets-in-list .top_spec .gd_price {
  font-size: 20px;
  font-family: arial;
  color: #525252;
  display: block;
}

.gadgets-in-list .bottom_spec {
  margin: 20px 0 10px 0;
}
.gadgets-in-list .bottom_spec .read_more {
  display: inline-block;
  vertical-align: top;
  margin: 2px 0 0 0;
}
.gadgets-in-list .bottom_spec .read_more a {
  font-weight: normal;
}
.gadgets-in-list .bottom_spec .add_to_compare {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 0 0;
  font-size: 16px;
  line-height: 24px;
  color: #454545;
  position: relative;
  padding: 0 0 0 30px;
}
.gadgets-in-list .bottom_spec .add_to_compare b {
  text-align: center;
  left: 0;
  top: -2px;
}

.gadgetlist_body .gl_filters .filters-options {
  border: 1px solid #e2e2e2;
}
.gadgetlist_body .gl_filters .options_item {
  border-bottom: 1px solid #e2e2e2;
}
.gadgetlist_body .gl_filters .options_item ul {
  max-height: 200px;
  overflow: auto;
  padding: 0 10px 10px;
}

.gadgetlist_body .gl_filters .options_item:last-child {
  border: 0;
}
.gadgetlist_body .gl_filters .options_item h3 {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 10px 10px;
  background: #fff;
  position: sticky;
  top: 0;
}
.gadgetlist_body .gl_filters .options_item .search {
  margin-bottom: 10px;
  position: sticky;
  top: 0;
}
.gadgetlist_body .gl_filters .options_item .search input {
  border: 0;
  border-bottom: 2px solid #d5d5d5;
  width: 90%;
  padding: 5px 10% 5px 0;
  font-size: 14px;
}
.gadgetlist_body .gl_filters .options_item label {
  display: block;
  font-size: 15px;
  color: #333;
  line-height: 20px;
  margin-bottom: 5px;
}
.gadgetlist_body .gl_filters .options_item li {
  margin: 0 0 5px;
}
.gadgetlist_body .gl_filters .options_item li:last-child {
  margin: 0;
}
.gadgetlist_body .gl_filters .options_item label input {
  display: inline-block;
  margin: 3px 10px 0 0;
  vertical-align: top;
}
.gadgetlist_body .gl_filters .filterapplied {
  word-break: break-all;
}
.gadgetlist_body .gl_filters .filterapplied .filterkey {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 10px 0;
  position: relative;
  padding: 0 25px 0 10px;
  background: #135394;
  height: 25px;
  line-height: 27px;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
}
.gadgetlist_body .gl_filters .filterapplied .filterkey .close_icon {
  height: 25px;
  right: 2px;
}
.gadgetlist_body .gl_filters .filterapplied .filterkey .close_icon:after,
.gadgetlist_body .gl_filters .filterapplied .filterkey .close_icon:before {
  left: 9px;
  height: 15px;
  background-color: #fff;
  top: 5px;
}
.gadgetlist_body .gl_filters .filterapplied .filterkey:last-child {
  margin-right: 0;
}
.gadgetlist_body .gl_filters h2.sectionHead {
  position: relative;
}
.gadgetlist_body .gl_filters h2.sectionHead b {
  color: #1a75ff;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 10px;
  font-weight: bold;
}

.gadgets-in-list ul li.upcoming .top-caption,
.gadgets-in-list ul li.rumoured .top-caption {
  display: block;
}
.gadgets-in-list ul li.upcoming .top-caption:after {
  content: 'आने वाले';
}
.gadgets-in-list ul li.rumoured .top-caption:after {
  content: 'संभावित';
}

.gl_latestGadgets {
  padding: 15px 20px 15px;
}
.gl_latestGadgets h2.sectionHead span{
  text-transform: capitalize;
}
.gl_latestGadgets .gn_table_layout {
  margin: 20px 0 30px 0;
}
.gl_latestGadgets .gn_table_layout table tr th {
  background: #e9e9e9;
  font-size: 18px;
  color: #000;
  font-weight: bold;
  text-transform: capitalize;
}
.gl_latestGadgets .gn_table_layout table tr td {
  font-size: 14px;
  border: 0;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}
.gl_latestGadgets .gn_table_layout table tr td:last-child {
  font-family: arial;
}
.gl_latestGadgets .gn_table_layout table tr:last-child td {
  border-bottom: 1px solid #d8d8d8;
}

.seo-btf-content{padding:15px 20px 15px; overflow: hidden;}
.seo-btf-content p{font-size: 1.0rem; line-height: 1.6rem; margin-bottom: 10px;}
.seo-btf-content p:last-child{margin-bottom: 0;}
.seo-btf-content p strong{font-weight: bold;font-size: 1.1rem; line-height: 1.7rem;}