.articles_container .story-seperator {
  background: #fff;
  .end-ad {
    background: #000;
    width: 100%;
    min-height: 90px;
    text-align: center;
    padding: 2% 0;
  }
  .next-story {
    text-align: center;
    color: #ccc;
    font-size: 18px;
    display: block;
    margin: 25px auto 40px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      border: 3px solid #000;
      top: 18px;
      left: 0;
      right: 0;
      margin: auto;
    }
    span {
      background: #f7f7f7;
      position: relative;
      z-index: 1;
      color: #de4949;
      font-weight: bold;
      padding: 11px 20px 5px;
      line-height: 26px;
      display: inline-block;
      &:after {
        width: 15px;
        height: 15px;
        background: transparent;
        border-right: 4px solid #de4949;
        border-top: 4px solid #de4949;
        content: '';
        display: inline-block;
        transform: rotate(134deg);
        position: absolute;
        top: 28px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 2px;
      }
      &:before {
        width: 10px;
        height: 10px;
        background: transparent;
        border-right: 2px solid #de4949;
        border-top: 2px solid #de4949;
        content: '';
        display: inline-block;
        transform: rotate(134deg);
        position: absolute;
        top: 44px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 2px;
      }
    }
  }
}

.articleshow_body {
  color: #000;
  h1 {
    margin: 0 0 20px;
    line-height: 38px;
    font-weight: normal;
    span.fakenews {
      margin-left: 6px;
      img {
        vertical-align: middle;
      }
    }
  }
  .article_synopics {
    line-height: 20px;
    padding: 15px 0 10px;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    margin: 15px 0;
    font-weight: normal;
  }
  .article_datetime {
    font-size: 13px;
    overflow: hidden;
    margin: 5px 0 10px 0;
    line-height: 19px;
    time {
      font-size: 13px;
      font-family: arial;
    }
    .author-byline {
      padding-right: 7px;
    }
    .album-img {
      vertical-align: middle;
      float: left;
      margin-right: 11px;
    }
  }
  .article_txt {
    text-align: justify;
    font-size: 16px;
    line-height: 28px;
    img {
      max-width: 630px;
      height: auto;
    }
    a.linkclass,
    a#tilCustomLink {
      text-decoration: underline;
      color: #1a75ff;
      font-weight: bold;
    }
  }
  strong,
  b {
    font-weight: bold;
  }
}

.BlyBlk {
  padding: 10px 0 10px;
  float: none !important;
  clear: both;
}

.quotediv {
  position: relative;
  margin: 15px 0;
  .start-quote {
    display: block;
    overflow: hidden;
    margin: 0 0 10px 0;
    &:before {
      width: 100%;
      height: 1px;
      left: 0;
      top: 15px;
      margin-top: -1px;
      position: absolute;
      content: '';
      background: #d3d3d3;
    }
    b {
      position: relative;
      height: 30px;
      width: 25px;
      display: block;
      background: #fff;
      left: 5%;
      float: left;
      &:before {
        height: 30px;
        top: 0;
        left: 0;
        width: 11px;
        z-index: 1;
        position: absolute;
        content: '';
        background: linear-gradient(135deg, #000000 75%, #ffffff 25%);
      }
      &:after {
        height: 30px;
        top: 0;
        left: 13px;
        width: 11px;
        z-index: 1;
        position: absolute;
        content: '';
        background: linear-gradient(135deg, #000000 75%, #ffffff 25%);
      }
    }
  }
  .quote_txt {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 10px;
    font-weight: 600;
  }
  .quote_author {
    font-size: 16px;
    line-height: 20px;
    color: #c8c8c8;
    text-align: right;
  }
  .end-quote {
    display: block;
    overflow: hidden;
    margin: 10px 0 0 0;
    &:before {
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 15px;
      margin-top: -1px;
      position: absolute;
      content: '';
      background: #d3d3d3;
    }
    b {
      position: relative;
      height: 30px;
      width: 25px;
      display: block;
      background: #fff;
      right: 5%;
      float: right;
      &:before {
        height: 30px;
        top: 0;
        right: 0;
        width: 11px;
        z-index: 1;
        position: absolute;
        content: '';
        background: linear-gradient(-45deg, #000000 75%, #ffffff 25%);
      }
      &:after {
        height: 30px;
        top: 0;
        right: 13px;
        width: 11px;
        z-index: 1;
        position: absolute;
        content: '';
        background: linear-gradient(-45deg, #000000 75%, #ffffff 25%);
      }
    }
  }
}

.articleshow_body {
  .thumb_video {
    margin-bottom: 10px;
  }
  .thumb_img {
    float: left;
    width: 400px;
    padding: 0 20px 10px 0;
    img {
      cursor: zoom-in;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
    }
    .image_caption {
      font-size: 13px;
      padding: 6px 10px 6px 0;
      line-height: 21px;
      text-align: left;
      display: block;
    }
    &.expanded {
      width: 630px;
      padding-right: 0;
      img {
        width: 630px;
        height: auto;
        cursor: zoom-out;
      }
    }
  }
  .thumb_img_reviews {
    width: 630px;
    margin: 0 0 20px 0;
    position: relative;
    .image_caption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      padding: 15px 3% 10px;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
      color: #fff;
      .lft {
        display: inline-block;
        vertical-align: top;
        width: 28%;
        text-align: center;
        .head {
          font-size: 18px;
          line-height: 26px;
          font-weight: bold;
          display: block;
          margin: 0 0 10px;
          position: relative;
          .icon_star {
            height: 22px;
            width: 25px;
            position: absolute;
            left: 0;
            &:after {
              color: #ff001f;
              font-size: 28px;
            }
          }
        }
        .rate_txt {
          font-size: 36px;
          font-family: arial;
          sub {
            font-size: 26px;
          }
        }
      }
      .rgt {
        display: inline-block;
        vertical-align: top;
        width: 67%;
        padding: 0 0 0 3%;
        border-left: 1px solid #858585;
        .head {
          font-size: 16px;
          line-height: 24px;
          font-weight: bold;
          display: block;
          margin: 0 0 5px;
        }
        .features_txt {
          color: #ded8d8;
          display: block;
          font-size: 16px;
          line-height: 24px;
          max-height: initial;
        }
      }
    }
  }
  .imagecaption {
    font-size: 13px;
    padding: 6px 10px 6px 0;
    line-height: 21px;
    text-align: left;
    display: block;
  }
  .highlights {
    float: left;
    min-height: 290px;
    width: 185px;
    background: #f5f5f5;
    padding: 5px 10px 5px 10px;
    margin: 0 0 10px 0;
    border-left: 4px solid #000;
    span.txt {
      font-weight: bold;
    }
    li {
      font-size: 14px;
      line-height: 19px;
      margin: 5px 0 8px 15px;
      position: relative;
      color: #555555;
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        content: ' \25CF';
        font-size: 12px;
        color: #555555;
        top: 0;
        left: -15px;
        position: absolute;
      }
    }
    &.pos_3rd {
      float: left;
      width: 205px;
      padding: 5px 10px 5px 10px;
      margin: 5px 15px 10px 0;
      min-height: auto;
    }
  }
  .related_videos {
    width: 220px;
    float: right;
    padding-left: 10px;
    min-height: 300px;
    background: #f5f5f5;
    h3 {
      font-size: 17px;
      padding: 8px 0 0 0;
      font-weight: 700;
      color: #000;
      border-bottom: 1px #000 solid;
      line-height: 24px;
      margin-bottom: 2px;
    }
    ul li {
      list-style: none;
      width: 220px;
      clear: both;
      margin: 4px 0;
      padding: 4px 0;
      min-height: 54px;
      border-bottom: 1px #dadada solid;
      cursor: pointer;
      overflow: hidden;
      &.active {
        background: #666;
        border-bottom: 0;
        padding: 3px 0 3px 0;
        span {
          color: #fff;
        }
      }
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      img {
        border: 1px #000 solid;
        float: left;
      }
      .rlvdtxt {
        float: left;
        width: 110px;
        margin-left: 10px;
        font-size: 14px;
        line-height: 18px;
        text-align: left;
        padding-top: 4px;
      }
    }
  }
  .poll_card {
    float: left;
    clear: both;
    margin: 30px 20px 20px 0;
    border: 0;
  }
  .embed_elements {
    text-align: center;
    clear: both;
    .twitter-tweet {
      margin: 0 auto;
    }
  }
  table {
    border: solid 1px #ddd;
    width: 100%;
    border-collapse: collapse;
    tr td {
      border-collapse: collapse;
      font-size: 14px;
      padding: 3px;
      border: solid 1px #ddd;
      text-align: center;
    }
  }
  .cont_disclaimer {
    color: #666;
    font-size: 14px;
    font-style: italic;
    span {
      font-weight: bold;
    }
  }
}

.embedded_videos {
  position: relative;
  width: 100%;
  clear: both;
  padding: 5px;
  background: #000;
  margin-bottom: 20px;
  .image_caption {
    color: #fff;
    font-size: 13px;
    padding: 0 10px 0 0;
    line-height: 23px;
    text-align: left;
    display: block;
  }
  .thumb_video {
    margin: 0;
    .posrel_mini img {
      max-width: inherit;
      height: inherit;
    }
  }
}

.bottom_videos {
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0 10px;
  font-weight: bold;
  clear: both;
  strong {
    font-weight: bold;
  }
}

.bottom_fb_link {
  margin-bottom: 20px;
  clear: both;
  .txt {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    margin: 2px 20px 0 0;
    color: #666;
    text-transform: capitalize;
  }
}

.seo_description {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}

.web_title {
  font-family: arial;
  font-size: 14px;
  margin-bottom: 10px;
  clear: both;
  strong {
    font-weight: bold;
  }
  span {
    color: rgb(153, 153, 153);
    font-size: 13px;
    display: block;
    margin: 5px 0 0 0;
    a {
      color: #044e97;
    }
  }
}

.keyinfo {
  padding: 10px 0 0 0;
  border-top: 1px #ddd dotted;
  font-size: 14px;
  margin-bottom: 10px;
  clear: both;
  strong {
    padding: 0 10px 0 0;
    font-weight: bold;
  }
  a,
  span {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    text-transform: capitalize;
    color: #044e97;
    &:after {
      content: '|';
      margin: 0 5px;
    }
    &:last-child:after {
      content: '';
      margin: 0 5px;
    }
  }
  &.no-border {
    border: 0;
    padding: 0;
  }
  &.no-pipe a:after {
    content: '';
    margin: 0px;
  }
}

.outerTabContainer {
  background: #fff;
  width: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  box-shadow: 0 -2px 13px rgba(0, 0, 0, 0.2);
  ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    li {
      width: 250px;
      padding: 8px 2px 5px 6px;
      list-style: none;
      border-top: 5px solid #888;
      position: relative;
      border-right: 2px solid #eee;
      min-height: 40px;
      display: table-cell;
      vertical-align: top;
      &:last-child {
        border-right: 0;
      }
      &.active {
        border-top: 5px solid #000000;
      }
      span {
        font-size: 14px;
        line-height: 22px;
        color: #044e97;
        cursor: pointer;
      }
    }
  }
}

.body_overlay {
  background: #000;
  z-index: 101;
  opacity: 0.75;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.overlay_content {
  opacity: 1;
  position: fixed;
  top: 167px;
  left: 324.5px;
  z-index: 102;
}

.comments-body {
  position: fixed;
  z-index: 9999;
  top: 0;
  height: 100%;
  overflow: auto;
}

.popup_comments .close_icon {
  top: 12px;
  right: 10px;
  &:after,
  &:before {
    height: 17px;
    width: 3px;
  }
}

.popup_sendViaEmail {
  .overlay_content {
    left: 37%;
    top: 10%;
  }
  .close_icon {
    top: 10px;
    right: 10px;
    &:after,
    &:before {
      background: #b32d2d;
      height: 16px;
      width: 3px;
    }
  }
}

.bottom-comments-btns {
  clear: both;
  .cmtbtn-wrapper {
    clear: both;
    margin: 30px auto;
    text-align: center;
  }
  .cmtbtn {
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 44px;
    text-align: center;
    font-weight: bold;
    b {
      display: inline-block;
      background-image: url(/tech/images/pwa_gn_sprite.svg?v=07062019);
      background-repeat: no-repeat;
      background-size: 100px 942px;
      vertical-align: middle;
    }
    &.view {
      border: 1px solid #d0d0d0;
      position: relative;
      width: 35%;
      color: #333;
      border-radius: 3px;
      font-size: 14px;
      margin: 0 3% 0 0;
      b {
        background-position: -76px -280px;
        width: 18px;
        height: 18px;
        margin: -3px 0 0 10px;
      }
    }
    &.add {
      border: 1px solid #135394;
      background: #135394;
      position: relative;
      width: 35%;
      color: #fff;
      border-radius: 3px;
      font-size: 15px;
      b {
        background-position: -73px -309px;
        width: 20px;
        height: 20px;
        margin: -8px 0 0 10px;
      }
    }
  }
}

.bottom-comments {
  .comment-box {
    &:hover {
      background: #fafafa;
    }
    padding-left: 45px;
    padding-right: 15px;
    padding-top: 10px;
    position: relative;
    box-shadow: 0 0 5px #b8b8b8;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    &:last-child {
      border: 0;
    }
    .user-thumbnail {
      height: 60px;
      left: -30px;
      position: absolute;
      top: 12px;
      width: 60px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 0 5px #b8b8b8;
      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin: 5px;
      }
    }
  }
  .flL {
    float: left;
  }
  .comment-box.authorComment {
    background: #fffbd4;
  }
}

.comments-form .comment-box.authorComment:hover {
  background: #fffbd4;
}

.bottom-comments {
  .comment-box {
    a.name,
    span.name {
      color: #454545;
      font-size: 15px;
      line-height: 23px;
      margin-right: 9px;
      text-transform: capitalize;
      display: inline-block;
      font-weight: bold;
      float: none;
    }
  }
  .short_comment {
    color: #666;
    cursor: pointer;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 3px;
    word-wrap: break-word;
    clear: both;
  }
  .comment-box .footbar {
    display: block;
    margin: 5px 0;
    position: relative;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    a {
      color: #777;
      float: left;
      font-size: 11px;
      text-transform: uppercase;
      padding: 0 5px;
      line-height: normal;
    }
    span {
      color: #777;
      float: left;
      font-size: 11px;
      text-transform: uppercase;
      padding: 0 5px;
      line-height: normal;
      &[data-action='comment-reply'] {
        color: #0365f7;
        padding-left: 0;
        padding-top: 0;
        cursor: pointer;
        font-weight: bold;
        position: absolute;
        right: 0;
        border: 1px solid #0365f7;
        padding: 4px 30px 2px 12px;
        border-radius: 10px;
        top: -5px;
        outline: none;
        &:after {
          content: '\2192';
          position: absolute;
          right: 6px;
          top: -1px;
          font-size: 18px;
        }
      }
    }
    > span {
      margin: 0;
      padding: 2px 5px 0;
    }
    .icon-downarrow,
    .icon-uparrow {
      background: rgba(0, 0, 0, 0) url('/tech/images/articleshow-comments.png') no-repeat scroll 0 0;
      cursor: pointer;
      display: inline-block;
      height: 14px;
      margin-left: 3px;
      vertical-align: middle;
      width: 14px;
    }
    .icon-downarrow {
      background-position: -15px -40px;
    }
    .icon-uparrow {
      background-position: 0 -40px;
      position: relative;
      top: -1px;
    }
  }
}

.wdt_top_comments {
  float: left;
  width: 230px;
  margin: 10px 10px 20px 0;
  overflow: hidden;
  border-top: 4px #000 solid;
  .cmt_head {
    font-size: 20px;
    padding: 8px 0 4px 0;
  }
  .cmt_txt {
    font-size: 14px;
    line-height: 21px;
    padding: 5px 0;
    color: #363636;
    small {
      display: inline-block;
      border: 1px #ddd solid;
      padding: 1px 5px 0;
      line-height: 13px;
      font-size: 14px;
      margin-left: 8px;
      cursor: pointer;
      min-width: 8px;
      text-align: center;
    }
  }
  .author_name {
    padding-bottom: 8px;
    font-size: 14px;
    font-style: italic;
  }
  .btn-allcomment {
    float: left;
    background: #595858;
    padding: 0 6px;
    margin-right: 10px;
    height: 28px;
  }
  .btn-wrcomment a,
  .btn-allcomment a {
    font-size: 12px;
    color: #fff;
    line-height: 31px;
    height: 25px;
  }
  .btn-wrcomment {
    float: left;
    background: #37accd;
    padding: 0 12px;
    height: 28px;
  }
}

.slider.embedslider {
  width: 630px;
  margin-bottom: 20px;
  .embedslide {
    display: inline-block;
    vertical-align: top;
    width: 630px;
    .embedslide_desc {
      font-size: 14px;
      background: #fff;
      color: #8d8d8d;
      line-height: 22px;
      padding: 15px 0;
      white-space: normal;
    }
  }
  .btnPrev {
    background: #000;
    height: 60px;
    width: 60px;
    top: 0;
    bottom: 0;
    background-position: 0 0;
    position: absolute;
    border-radius: 50%;
    opacity: 0.7;
    left: 20px;
    &:after {
      width: 15px;
      height: 15px;
      background: transparent;
      border-right: 2px solid #fff;
      border-top: 2px solid #fff;
      content: '';
      display: inline-block;
      transform: rotate(-135deg);
      position: absolute;
      top: 21px;
      left: 25px;
    }
  }
  .btnNext {
    background: #000;
    height: 60px;
    width: 60px;
    top: 0;
    bottom: 0;
    background-position: 0 0;
    position: absolute;
    border-radius: 50%;
    opacity: 0.7;
    right: 10px;
    &:after {
      width: 15px;
      height: 15px;
      background: transparent;
      border-right: 2px solid #fff;
      border-top: 2px solid #fff;
      content: '';
      display: inline-block;
      transform: rotate(45deg);
      position: absolute;
      top: 21px;
      right: 25px;
    }
  }
}

/*
.articleshow_body .section {
  &.trending-topics ul li {
    display: inline-block;
    margin: 0 15px 0;
    font-size: 12px;
    &:before {
      background: transparent;
      content: '#';
      height: auto;
      width: auto;
      top: 3px;
      left: -15px;
    }
    a {
      font-size: 12px;
      line-height: 22px;
      display: inline-block;
    }
  }
  &.first_image_view ul li:before {
    background: #000;
  }
  &.trending-topics ul li:before {
    background: transparent;
  }
  h2 {
    background: none;
    border-top: 2px solid #000;
    padding: 10px 0 0 0;
    margin: 0 0 10px;
    a,
    span {
      padding: 0;
      margin: 0;
    }
    a:after,
    span:after {
      display: none;
    }
  }
}
*/

/*
.rhs-from-around-header {
  color: #fff;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 5px;
  padding-left: 10px;
  text-transform: uppercase;
  background: #333;
  clear: both;
}
*/

.loading-next-story {
  background: #fff;
  width: 100%;
  min-height: 600px;
  text-align: center;
  padding: 2% 0;
  position: relative;
  img {
    width: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

/*
.topStorieswrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
}

.top-stories-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  width: 680px;
  background: #fff;
  z-index: 999;
  h2 {
    background: #f5cc10;
    height: 40px;
    line-height: 45px;
    color: #000;
    font-size: 22px;
    padding: 0 20px;
  }
  .close {
    position: absolute;
    right: 15px;
    top: 9px;
    color: #000;
    width: 20px;
    height: 20px;
    cursor: pointer;
    &:before {
      content: '';
      background: #000;
      height: 20px;
      width: 1px;
      position: absolute;
      top: 0;
      transform: rotate(45deg);
      left: 10px;
    }
    &:after {
      content: '';
      background: #000;
      height: 20px;
      width: 1px;
      position: absolute;
      top: 0;
      transform: rotate(45deg);
      left: 10px;
      transform: rotate(135deg);
    }
  }
  ul {
    li {
      .icon_player {
        position: absolute;
        top: 15px;
        background: rgba(255, 255, 255, 0.9);
        left: 15px;
        text-indent: -3000px;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.7);
        &:after {
          content: '';
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-left: 10px solid black;
          position: absolute;
          left: 55%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      display: inline-block;
      width: 200px;
      min-height: 170px;
      margin: 10px;
      vertical-align: top;
      position: relative;
      &:nth-child(3n + 0) {
      }
      img {
        width: 200px;
        height: 140px;
        display: block;
      }
      a {
        color: #333;
        font-size: 14px;
        line-height: 21px;
        display: block;
        overflow: hidden;
        text-decoration: none;
        span {
          color: #333;
          font-size: 14px;
          line-height: 21px;
          display: block;
          margin-top: 10px;
          text-decoration: none;
          max-height: 43px;
          overflow: hidden;
        }
      }
    }
    padding: 10px;
    margin: 0;
    height: 423px;
    overflow: hidden;
  }
}
*/

.clickherefor6th {
  text-align: center;
  margin: 10px 0;
  a {
    font-size: 16px;
    color: #585858;
    background: #eaeaea;
    padding: 0 25px;
    line-height: 35px;
    display: inline-block;
    height: 30px;
    border: 1px solid #c8c8c8;
    font-weight: 600;
  }
}

.imgVidSlider h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}

.name_author {
  padding-right: 2px;
  text-transform: capitalize;
}

/*
.countinuetomore {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin: 5px auto 30px 0;
  border-bottom: 3px #bf0808 solid;
  width: 1000px;
  position: relative;
  span {
    font-size: 18px;
    display: block;
    color: #bf0808;
    margin-top: -8px;
    left: 359px;
    position: absolute;
    background: #fff;
    padding: 0 10px;
    font-weight: bold;
  }
}
*/

.email_verification {
  font-size: 16px;
  margin-bottom: 10px;
  background-color: #50b432;
  color: #fff;
  text-align: center;
  width: 99%;
  padding: 3px;
}

/*
.backToBrandwire {
  position: relative;
  height: 20px;
  top: 10px;
  a {
    color: #999;
    font: normal 14px/20px arial, sans-serif;
    text-transform: uppercase;
    position: absolute;
    display: block;
    margin-left: 15px;
    left: 20px;
    top: 0px;
    z-index: 10;
    &:before {
      content: '';
      display: block;
      height: 6px;
      width: 6px;
      position: absolute;
      top: 7px;
      left: -12px;
      transform: rotate(-135deg);
      transition: all 0.35s ease-in-out;
      border-top: 1px solid #a7a7a7;
      border-right: 1px solid #a7a7a7;
    }
  }
}

.brandwire_info {
  background: #f7f7f7;
  border: 1px solid #ddd;
  padding: 10px 10px 8px;
  font-size: 13px;
  color: #555;
  line-height: 18px;
  margin: 0 0 20px 0;
  clear: both;
  a {
    color: #555;
    font-family: arial;
    font-size: 13px;
  }
  p {
    font-family: arial;
    margin: 5px 0 0;
    color: #000;
    font-size: 13px;
  }
}
*/

.article_brandwire {
  font-size: 14px;
  margin-top: 3px;
}
.AS .posrel_mini {
  position: relative;
}
.AS .wdt_summary {
  margin: 20px 0 20px;
}
.AS .wdt_summary h2 {
  font-size: 18px;
  line-height: 26px;
  color: #000;
  margin-bottom: 5px;
  font-weight: bold;
}
.AS .wdt_summary table th {
  background: #eeeeee;
  font-weight: bold;
  font-size: 18px;
}
.AS .wdt_summary table td:first-child {
  font-weight: bold;
  width: 30%;
  border-right: 0;
}
.AS .wdt_summary table td:last-child {
  border-left: 0;
}
.AS .wdt_summary table th,
.AS .wdt_summary table td {
  padding: 8px 5px 5px 25px;
  text-align: left;
}

.comments-wrapper {
  position: relative;
}
.comments-wrapper .btn-blue {
  position: absolute;
  top: -40px;
  right: 0;
  margin: 0;
  width: 48%;
  border-radius: 0;
}
.comments-wrapper.without-rating {
  padding: 0;
}
.comments-wrapper.without-rating .btn-blue {
  position: initial;
  margin: auto;
}

.wdt_lft_rgt {
  overflow: hidden;
}
.wdt_lft_rgt .article_datetime {
  display: inline-block;
  vertical-align: top;
  color: #999;
  margin: 0;
}
.wdt_lft_rgt .social_tools {
  float: right;
  margin: 0;
}
.wdt_lft_rgt .article_datetime time {
  display: block;
}

.jump-to-nextstory {
  overflow: hidden;
  margin: 30px 0 30px;
  height: 72px;
}
.jump-to-nextstory h2 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  background: linear-gradient(120deg, #d7d7d7 80%, #000 0);
  display: inline-block;
  vertical-align: top;
  width: 27%;
  padding-left: 3%;
  line-height: 72px;
}
.jump-to-nextstory .next-txt {
  background: #000;
  display: inline-block;
  vertical-align: top;
  width: 68%;
  padding: 15px 0 10px 2%;
}
.jump-to-nextstory .next-txt a.text_ellipsis {
  font-size: 16px;
  line-height: 24px;
  height: 48px;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  width: 68%;
  position: relative;
  padding-right: 14%;
}
.jump-to-nextstory .next-txt a.text_ellipsis:before {
  content: '';
  position: absolute;
  height: 30px;
  width: 25px;
  background: #fff;
  border-radius: 0 0 5px 5px;
  right: 15px;
  top: 0px;
}
.jump-to-nextstory .next-txt a.text_ellipsis:after {
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  margin: auto;
  position: absolute;
  top: 8px;
  right: 22px;
  transform: rotate(135deg);
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}
.jump-to-nextstory .next-txt a:first-child {
  width: 57px;
  padding-right: 20px;
  display: inline-block;
  vertical-align: top;
}
.jump-to-nextstory .next-txt img {
  border-radius: 4px;
}

.related-news.pd_suggested_slider.full_section {
  background: #f2f2f2;
  border-radius: 8px;
  padding: 15px 10px;
  margin: 20px 0;
  width: auto;
}
.related-news.pd_suggested_slider.full_section h2 {
  font-size: 18px;
  height: initial;
  border: 0;
  text-align: center;
}
.related-news.pd_suggested_slider.full_section .slider {
  width: auto;
}
.related-news.pd_suggested_slider.full_section .slider .slider_content li .slide {
  border-radius: 7px;
  min-height: 175px;
  width: 155px;
  margin-right: 10px;
}
.related-news.pd_suggested_slider.full_section .slider .slider_content li .slide .prod_img {
  height: 115px;
}
.related-news.pd_suggested_slider.full_section .slider .slider_content li .slide img {
  border-radius: 5px;
  overflow: hidden;
}
