.breadcrumb{
    display: block;
}
.breadcrumb>ul {
    color: #666;
    border-top: 2px #e6e6e6 solid;
    border-bottom: 2px #e6e6e6 solid;
    line-height: 20px;
    font-weight: normal;
    font-size: 12px;
    padding: 5px 20px 3px;
    clear: both;
    overflow: hidden
}

.breadcrumb>ul {
    font-weight: normal;
    font-size: 12px
}

.breadcrumb>ul li {
    list-style: none;
    font-size: 12px;
    color: #666;
    display: inline
}

.breadcrumb>ul li:not(:last-child) a:after {
    content: " » ";
    padding-right: 5px;
    font-size: 14px
}

.breadcrumb>ul a {
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    color:#044e97;
}

.breadcrumb>ul {
    text-transform: capitalize
}

.breadcrumb>ul a {
    text-transform: capitalize
}

.breadcrumb>ul li:last-child span {
    color: #000
}