.liveS_container {
  border: solid 1px silver;
  background: #eee;
  font-family: arial;
  margin: 6px 0;
  position: relative;
  .sbtn {
    display: block;
    background-color: #df4547;
    color: White;
    font-weight: bold;
    padding: 5px 5px 4px;
    float: left;
    margin-right: 15px;
    font-size: 12px;
    position: static;
    width: auto;
    height: auto;
    line-height: 14px;
  }
  h3 {
    color: black;
    padding: 0 4px 0 0;
    margin: 2px 10px 0 0;
    float: left;
    font-size: 14px;
  }
  .live_link {
    display: block;
    color: #df4547;
    float: left;
    font-size: 11px;
    border-left: ridge 2px silver;
    font-weight: bold;
    margin: 4px 6px 0 6px;
    padding-left: 14px;
    cursor: pointer;
    text-decoration: none;
    line-height: 16px;
  }
}

.streaming_box {
  width: 320px;
  height: 260px;
  border: solid 0px black;
  position: fixed;
  bottom: 65px;
  right: 4px;
  z-index: 999;
  background-color: White;
  padding: 0px;
}

.liveS_container .close_s {
  display: block;
  border-radius: 100%;
  border: solid 1px silver;
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
  float: right;
  width: 18px;
  height: 18px;
  text-align: center;
  margin: 5px 5px 0 0;
  font-size: 15px;
  line-height: 15px;
  position: absolute;
  z-index: 9;
  right: 0;
  top: 0;
  &:hover {
    background-color: #000;
    color: White;
  }
}

.vtitle {
  background-color: black;
  color: White;
  font-size: 11px;
  padding: 3px;
  margin: 0;
  border-bottom: solid 1px white;
  font-family: arial;
}

.streaming_box .close_icon {
  background: #be2819;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 1px;
  right: 1px;
  &:before,
  &:after {
    background: #fff;
    left: 14px;
    top: 7px;
    height: 15px;
    width: 3px;
  }
}

.watchlive {
  padding: 5px;
  cursor: pointer;
  overflow: hidden;
}

.box_head {
  padding: 8px 10px;
  font-size: 11px;
  background: #eeeff1;
  font-weight: light;
  color: White;
  position: relative;
  border-bottom: solid 1px white;
  .livetv_title {
    display: block;
    width: 253px;
    float: left;
    line-height: 17px;
    color: #000;
    font-size: 13px;
  }
  .watchlive_tv {
    color: rgb(20, 151, 168);
    font-size: 11px;
    font-weight: bold;
    font-family: arial;
    display: block;
    float: right;
    border-left: solid 1px rgb(20, 151, 168);
    width: 42px;
    padding-left: 5px;
    cursor: pointer;
    display: none;
    &:hover {
      color: White;
      text-decoration: underline;
    }
  }
}

.posrel_mini {
  position: absolute;
  .outerPlayer {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
  }
  .playerContainer {
    height: 100%;
    width: 100%;
  }
  .videoicons {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      background: rgba(255, 255, 255, 0.9);
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
    &:after {
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 10px solid #000;
      margin: 10px 0 0 15px;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
  }
}

.enable_dock {
  position: relative;
  .posrel_mini {
    top: 0;
    margin-left: 0;
    transition: top 0.5s ease-out, margin-left 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 1;
    width: 400px;
  }
}

.enable_dock.stickycls {
  .posrel_mini {
    height: 220px !important;
    width: 300px !important;
    position: fixed;
    top: calc(100% - 282px);
    margin-left: 680px;
    transition: top 0.5s ease-out, margin-left 0.5s ease-out, opacity 0.5s ease-out;
    background: #fff;
    overflow: hidden;
    z-index: 105;
    opacity: 1;
    .close_icon {
      background: #fff;
      border-radius: 50%;
      height: 25px;
      width: 25px;
      top: 5px;
      right: 5px;
      &:after,
      &:before {
        background-color: red;
        top: 4px;
        left: 11px;
        height: 16px;
      }
    }
  }
}

.streaming_close {
  display: none;
}

.posrel_mini.disable_video .videoicons {
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: auto !important;
  height: auto !important;
}
.posrel_mini.disable_video .videoicons:after {
  position: absolute; 
  content:'विडियो पिक्चर-इन-पिक्चर मोड में चल रहा है।'; 
  color:#fff; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-family: arial; 
  font-size: 14px; 
  border:0;
  margin: 0;
  text-align: center;
  line-height: 20px;
  width: 180px;
  cursor: default;
  background: url('/tech/images/video_dock_icon.svg') no-repeat scroll center 0;
  padding-top: 30px;
  background-size: 25px;
  margin-top: 2px;
}
.posrel_mini.disable_video .videoicons:before {
  content:''; 
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);  
  opacity: .8; 
  background: #000;
  cursor: default;
  height: 100px;
  width: 180px;
  border-radius: initial;
}

