
.hp_top_story ul li{display: inline-block; vertical-align: top; width: 200px; margin: 0 15px 15px 0}
.hp_top_story ul li:nth-child(3n+4){margin-right: 0}
.hp_top_story ul li .img_wrap{display:block;}
.hp_top_story ul li .con_wrap{display:block; margin:10px 0 0 0}
.hp_top_story ul li .con_wrap a{font-size: 16px; line-height: 24px;}
.hp_top_story ul li.lead_post{width:auto; margin-right: 0; position: relative;}
.hp_top_story ul li.lead_post .con_wrap{position: absolute; bottom: 0; left:0; right: 0; padding: 50px 10px 10px; background: linear-gradient(transparent,rgba(0,0,0,.9)); margin: 0;}
.hp_top_story ul li.lead_post .con_wrap a{color:#fff; font-size: 22px; line-height: 32px; font-weight: bold;}
