/*common component css start*/
.section {
  width: 300px;
  float: left;
  box-sizing: border-box;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .section {
    margin: 0;
  }
}

.full_section {
  width: 630px;
  clear: both;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.full_section .section:first-child {
  margin-right: 30px;
}

.section h2,
h2.sectionHead,
.full_section h2,
h1.sectionHead {
  font-size: 22px;
  font-weight: bold;
  display: block;
  margin: 0 0 10px;
  border-bottom: 2px solid #dfdfdf;
  height: 40px;
  position: relative;
}
.section h2 a,
h2.sectionHead a,
.full_section h2 a,
.section h2 span,
h2.sectionHead span,
.full_section h2 span,
h1.sectionHead span {
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 0;
  display: inline-block;
  color: #000;
  position: relative;
  font-weight: bold;
}
.section h2 a:before,
h2.sectionHead a:before,
.full_section h2 a:before,
.section h2 span:before,
h2.sectionHead span:before,
.full_section h2 span:before,
h1.sectionHead span:before {
  content: '';
  position: absolute;
  border-bottom: 2px solid #000;
  bottom: -2px;
  left: 0;
  right: 0;
}

.section {
  margin-bottom: 30px;
  ul li {
    display: block;
    /*overflow: hidden;*/
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    a {
      font-size: 16px;
      line-height: 30px;
      display: block;
    }
    .img_container {
      margin: 0 10px 15px 0;
      float: left;
      a {
        display: block;
      }
    }
    .txt_container {
      word-wrap: break-word;
      display: block;
    }
    a.video_icon {
      margin: 0 20px 0 0;
      &:after {
        top: 6px;
        right: -15px;
      }
      &:before {
        top: 6px;
        right: -15px;
        background: #333;
        height: 12px;
        width: 12px;
      }
      &:after {
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-left: 5px solid #fff;
        margin: 3px 3px 0 0;
      }
    }
    a.funny_icon {
      margin: 0 20px 0 0;
    }
  }
  &.first_image_view ul li {
    &.first {
      display: block;
      width: auto;
      > a:first-child {
        display: block;
        position: relative;
        margin: 0 15px 10px 0;
        font-weight: bold;
        line-height: 24px;
      }
      .txt_container {
        font-size: 14px;
        line-height: 24px;
        color: #5c5c5c;
      }
      margin: 0;
      &:before {
        display: none;
      }
    }
    margin: 0 0 0 15px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background: #f5cc10;
      left: -15px;
      top: 10px;
    }
  }
  &.all_image_view ul .txt_container a {
    line-height: 24px;
  }
}
.hidecls {
  display: none;
}
.showcls {
  display: block;
}

.all_image_view.with-scroll {
  ul {
    max-height: 490px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.wdt_popular_videos {
  background: #3b3b3b;
  padding: 10px 20px 15px;
  h2 {
    margin: 0 0 10px;
    a {
      color: #fff;
      font-size: 20px;
    }
  }
}

.slider.popular_videos,
.slider.popular_photos {
  width: 590px;
  .slider_content li .slide {
    width: 190px;
    position: relative;
    a {
      display: block;
      position: relative;
      &.video_icon_thumb {
        &:before {
          content: '';
          position: absolute;
          left: 5px;
          top: 5px;
          z-index: 1;
          background: rgba(255, 255, 255, 0.9);
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }
        &:after {
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 7px solid #000;
          z-index: 2;
          margin: 7px 0 0 9px;
          content: '';
          position: absolute;
          left: 5px;
          top: 5px;
          z-index: 1;
        }
      }
    }
    &:last-child {
      margin-right: 1px;
    }
    .slide_desc a {
      color: #fff;
    }
  }
  .btnPrev {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #fff;
    top: 35px;
    left: 0px;
    &:after {
      position: absolute;
      content: '';
      width: 13px;
      height: 13px;
      right: -5px;
      top: 0;
      transition: all 0.5s;
      border: solid #000;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
  .btnNext {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #fff;
    top: 35px;
    right: 0px;
    &:after {
      position: absolute;
      content: '';
      width: 13px;
      height: 13px;
      right: 6px;
      top: 0;
      transition: all 0.5s;
      border: solid #000;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
      transform: rotate(315deg);
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
}

.video_list_as.section ul li {
  display: inline-block;
  vertical-align: top;
  width: 145px;
  margin: 0 10px 10px 0;
  position: relative;
  a {
    display: block;
    position: relative;
    .video_time {
      background: #000;
      color: #fff;
      font-size: 12px;
      font-family: arial;
      height: 20px;
      position: absolute;
      line-height: 20px;
      padding: 0 5px;
      right: 0;
      bottom: 0;
      z-index: 2;
    }
  }
  &:nth-child(2n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .txt_container {
    font-size: 14px;
    line-height: 24px;
    color: #5c5c5c;
    margin: 10px 0 0 0;
    display: block;
  }
  &:first-child .txt_container {
    background: none;
    position: relative;
  }
  a.video_icon_thumb {
    &:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 5px;
      z-index: 1;
    }
    &:before {
      content: '';
      position: absolute;
      left: 5px;
      top: 5px;
      z-index: 1;
      background: rgba(255, 255, 255, 0.9);
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }
    &:after {
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 7px solid #000;
      z-index: 2;
      margin: 7px 0 0 9px;
    }
  }
}

/*rating with image start*/
.rtimg5,
.rtimg45,
.rtimg4,
.rtimg40,
.rtimg35,
.rtimg3,
.rtimg30,
.rtimg25,
.rtimg2,
.rtimg20,
.rtimg15,
.rtimg1,
.rtimg10,
.rtimg05,
.rtimg0 {
  background-image: url('https://static.langimg.com/photo/62568340.cms');
  background-repeat: no-repeat;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 20px;
  width: 100%;
}

.rtimg5 {
  background-position: 0 -3601px;
}

.rtimg45 {
  background-position: 0 -3623px;
}

.rtimg4,
.rtimg40 {
  background-position: 0 -3645px;
}

.rtimg35 {
  background-position: 0 -3666px;
}

.rtimg3,
.rtimg30 {
  background-position: 0 -3688px;
}

.rtimg25 {
  background-position: 0 -3713px;
}

.rtimg2,
.rtimg20 {
  background-position: 0 -3736px;
}

.rtimg15 {
  background-position: 0 -3758px;
}

.rtimg1,
.rtimg10,
.rtimg05,
.rtimg0 {
  background-position: 0 -3780px;
}
/*rating with image end*/

/*rating without image start (only css)*/
.rating-stars {
  position: relative;
  color: #afafaf;
}
.rating-stars:after {
  content: '\2605\2605\2605\2605\2605';
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 24px;
  display: inline-block;
  word-break: normal;
}
.rating-stars b {
  color: #ff001f;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
}
.rating-stars b:before {
  content: '\2605\2605\2605\2605\2605';
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 24px;
  display: inline-block;
  word-break: normal;
}

.rtimg-stars5,
.rtimg-stars50 {
  width: 100%;
}
.rtimg-stars45 {
  width: 90%;
}
.rtimg-stars4,
.rtimg-stars40 {
  width: 80%;
}
.rtimg-stars35 {
  width: 70%;
}
.rtimg-stars3,
.rtimg-stars30 {
  width: 60%;
}
.rtimg-stars25 {
  width: 50%;
}
.rtimg-stars2,
.rtimg-stars20 {
  width: 40%;
}
.rtimg-stars15 {
  width: 30%;
}
.rtimg-stars1,
.rtimg-stars10,
.rtimg-stars05,
.rtimg-stars0 {
  width: 20%;
}
.reader_rating .rating-stars b {
  color: #48a3c6;
}
/*rating without image end (only css)*/

/*citizen reporter start*/
.citizen_reporter {
  h2 a {
    padding-right: 40px;
    display: inline-block;
    &:before {
      background: url(https://static.langimg.com/photo/53824389.cms) no-repeat;
      transform: rotate(30deg);
      height: 25px;
      width: 20px;
      position: absolute;
      right: 13px;
      top: 2px;
      content: '';
      background-size: 8px 25px;
    }
  }
  ul li {
    &.first {
      > a:first-child,
      a {
        display: block;
        margin: 0;
        font-weight: bold;
      }
    }
    b {
      font-family: arial;
      font-size: 12px;
      color: #575757;
      padding: 0 0 0 5px;
      text-transform: capitalize;
      font-weight: normal;
    }
    a {
      display: inline;
    }
  }
}

/*citizen reporter end*/

.wdt_laoding {
  min-width: 500px;
  min-height: 200px;
  background: #fff;
  .spinner_circle {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 28px;
    width: 28px;
    animation: rotate 0.8s infinite linear;
    border: 8px solid #000;
    border-right-color: transparent;
    border-radius: 50%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nbt_gadget_sprite {
  background-image: url(https://static.toiimg.com/photo/66876943.cms);
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -10000px;
}

.text_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; /* autoprefixer: off */
  -webkit-box-orient: vertical; /* autoprefixer: on */
  -webkit-line-clamp: 2;
}
.symbol_rupees {
  margin: 0 0 0 10px;
  position: relative;
}
.symbol_rupees:before {
  content: '\20B9';
  position: absolute;
  left: -12px;
  top: 0;
  font-weight: normal;
}

.loader-in-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #c3c3c3;
  z-index: 10;
  opacity: 0.6;
}
.loader-in-center img {
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.more-btn {
  display: block;
  border-radius: 17px;
  border: solid 1px #a0b0b2;
  background: #dee5e6;
  font-size: 14px;
  height: 34px;
  line-height: 36px;
  width: 40%;
  margin: 20px auto;
  text-align: center;
}

.section.trending-topics ul li {
  display: inline-block;
  margin: 0 15px 5px 15px;
  vertical-align: top;
  position: relative;
  width: 42%;
  &:nth-child(2n + 2) {
    margin-right: 0;
    width: 43%;
  }
  &:before {
    content: '';
    background: #000;
    position: absolute;
    left: -15px;
    top: 9px;
    width: 5px;
    height: 1px;
    display: inline-block;
  }
  a {
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
  }
}
.select-inline-gadgets {
  position: relative;
}
.select-inline-gadgets .seo-gadget-tags {
  position: absolute;
  right: 0;
  top: 12px;
  z-index: 1;
}
.select-inline-gadgets .seo-gadget-tags span {
  display: inline-block;
  vertical-align: top;
}
.select-inline-gadgets .seo-gadget-tags span a {
  font-size: 13px;
  line-height: 21px;
  color: #000;
}
.select-inline-gadgets .seo-gadget-tags span:after {
  content: '|';
  margin: 0 3px;
}
.select-inline-gadgets .seo-gadget-tags span:last-child:after {
  content: '';
  margin: 0;
}

.select-inline-gadgets ul.scroll {
  display: flex;
}
.select-inline-gadgets ul.scroll li {
  width: 65px;
  text-align: center;
  padding: 0 5px 5px;
  border-bottom: 2px solid #e5e5e5;
  display: inline-block;
  vertical-align: top;
  flex-basis: 100%;
  cursor: pointer;
  height: 70px;
  line-height: 50px;
  position: relative;
  padding-top: 10px;
  margin-top: auto;
}

.select-inline-gadgets ul.scroll li:hover:before {
  box-shadow: 0 0 5px #b8b8b8;
  content: '';
  position: absolute;
  top: 0;
  bottom: 4px;
  margin: 0;
  left: 0;
  right: 0;
}

.select-inline-gadgets ul.scroll li.active {
  border-bottom: 2px solid #135394; /*box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.18);*/
}
.select-inline-gadgets ul.scroll li.active label {
  font-weight: bold;
  color: #135394;
}
.select-inline-gadgets ul.scroll li b {
  display: inline-block;
  background-image: url(/tech/images/pwa_gn_sprite.svg?v=07062019);
  background-size: 100px 942px;
  background-repeat: no-repeat;
}
.select-inline-gadgets ul.scroll li label {
  font-size: 18px;
  display: block;
  margin-top: 5px;
  cursor: pointer;
  line-height: normal;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
}
.select-inline-gadgets ul.scroll li.gdt-mobile b,
.select-inline-gadgets ul.scroll li.gdt-mobile-phones b {
  background-position: -16px -7px;
  width: 18px;
  height: 32px;
}
.select-inline-gadgets ul.scroll li.active.gdt-mobile b,
.select-inline-gadgets ul.scroll li.active.gdt-mobile-phones b {
  background-position: -63px -7px;
}
.select-inline-gadgets ul.scroll li.gdt-laptop b,
.select-inline-gadgets ul.scroll li.gdt-laptops b {
  background-position: -8px -49px;
  width: 34px;
  height: 22px;
}
.select-inline-gadgets ul.scroll li.active.gdt-laptop b,
.select-inline-gadgets ul.scroll li.active.gdt-laptops b {
  background-position: -55px -49px;
}
.select-inline-gadgets ul.scroll li.gdt-tablet b,
.select-inline-gadgets ul.scroll li.gdt-tablets b {
  background-position: -13px -85px;
  width: 22px;
  height: 28px;
}
.select-inline-gadgets ul.scroll li.active.gdt-tablet b,
.select-inline-gadgets ul.scroll li.active.gdt-tablets b {
  background-position: -61px -85px;
}
.select-inline-gadgets ul.scroll li.gdt-camera b,
.select-inline-gadgets ul.scroll li.gdt-cameras b {
  background-position: -13px -123px;
  width: 29px;
  height: 24px;
}
.select-inline-gadgets ul.scroll li.active.gdt-camera b,
.select-inline-gadgets ul.scroll li.active.gdt-cameras b {
  background-position: -57px -123px;
}
.select-inline-gadgets ul.scroll li.gdt-smartwatch b {
  background-position: -16px -157px;
  width: 21px;
  height: 29px;
}
.select-inline-gadgets ul.scroll li.active.gdt-smartwatch b {
  background-position: -60px -157px;
}

.select-inline-gadgets ul.scroll li.gdt-fitnessband b {
  background-position: -14px -627px;
  width: 21px;
  height: 29px;
}
.select-inline-gadgets ul.scroll li.active.gdt-fitnessband b {
  background-position: -52px -627px;
}

.full_section.wdt_latest_videos {
  background: #dee5e6;
  padding: 10px 15px 15px;
  margin-bottom: 30px;
  width: auto;
  position: relative;
}
.full_section.wdt_latest_videos h2 {
  border: 0;
  margin: 0 0 15px;
}
.full_section.wdt_latest_videos h2 a:before {
  display: none;
}
.full_section.wdt_latest_videos h2 a {
  margin-top: 5px;
}
.full_section.wdt_latest_videos .slider {
  width: 930px;
}
.full_section.wdt_latest_videos .slider .slider_content li .slide {
  width: 300px;
  margin: 0 15px 0 0;
}
.full_section.wdt_latest_videos .slider .slider_content li .slide:nth-child(3n + 3) {
  margin-right: 0;
}
.full_section.wdt_latest_videos .slider .slider_content li .slide .txt_container {
  display: block;
  white-space: normal;
  margin: 10px 0 0 0;
  text-align: left;
}
.full_section.wdt_latest_videos .slider .slider_content li .slide .txt_container a {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  max-height: 48px;
}
.full_section.wdt_latest_videos .slider .btnPrev,
.full_section.wdt_latest_videos .slider .btnNext {
  top: 70px;
}
.full_section.wdt_latest_videos .more-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: 2px solid #000;
  background: transparent;
  margin: 0;
  width: 12%;
  height: 25px;
  line-height: 27px;
  font-weight: bold;
}

.videowidget_LEFT .full_section.wdt_latest_videos .slider,
.photowidget_LEFT .full_section.wdt_latest_videos .slider {
  width: 600px;
}
.videowidget_LEFT .full_section.wdt_latest_videos .slider .slider_content li .slide,
.photowidget_LEFT .full_section.wdt_latest_videos .slider .slider_content li .slide {
  width: 200px;
}
.videowidget_LEFT
  .full_section.wdt_latest_videos
  .slider
  .slider_content
  li
  .slide:nth-child(3n + 3),
.photowidget_LEFT
  .full_section.wdt_latest_videos
  .slider
  .slider_content
  li
  .slide:nth-child(3n + 3) {
  margin-right: 15px;
}

.videowidget_LEFT .full_section.wdt_latest_videos .slider .btnPrev{
  height: 30px;
  width: 30px;
  top:45px;
  &:after{
    width: 8px;
    height: 8px;
    top: 10px;
    left: 11px;
  }
}

.videowidget_LEFT .full_section.wdt_latest_videos .slider .btnNext{
  height: 30px;
  width: 30px;
  top:45px;
  &:after{
    width: 8px;
    height: 8px;
    top: 10px;
    right: 12px;
  }
}
.wdt_photo_slider.full_section {
  background: #dee5e6;
  padding: 10px 15px 15px;
  margin-bottom: 30px;
  width: auto;
  position: relative;
}
.wdt_photo_slider.full_section h2 {
  border: 0;
  margin: 0 0 5px;
}
.wdt_photo_slider.full_section h2 a:before {
  display: none;
}
.wdt_photo_slider.full_section .slider {
  width: 930px;
}
.wdt_photo_slider.full_section .slider .slider_content li .slide {
  width: 300px;
  margin: 0 15px 0 0;
}
.wdt_photo_slider.full_section .slider .slider_content li .slide:nth-child(3n + 3) {
  margin-right: 0;
}
.wdt_photo_slider.full_section .slider .slider_content li .slide .txt_container {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  white-space: normal;
  margin: 10px 0 0 0;
}
.wdt_photo_slider.full_section .slider .btnPrev,
.wdt_photo_slider.full_section .slider .btnNext {
  top: 70px;
}
.wdt_photo_slider.full_section .more-btn,
.wdt_popular_slider.full_section .more-btn,
.wdt_lstcomparsion_slider.full_section .more-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: 2px solid #000;
  background: transparent;
  margin: 0;
  width: 12%;
  height: 25px;
  line-height: 27px;
  font-weight: bold;
}

.gn_table_layout {
  margin: 0;
}
.gn_table_layout table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  border-spacing: 0;
  border: 0;
  table-layout: fixed;
}
.gn_table_layout table tr td {
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  border: 1px solid #d8d8d8;
  word-wrap: break-word;
}
.gn_table_layout table tr td:first-child {
  width: 50%;
}
.gn_table_layout table tr th {
  font-size: 12px;
  color: #205792;
}
.gn_table_layout table td,
.gn_table_layout table th {
  padding: 10px 5px;
  border: 1px solid #d8d8d8;
}

/*common component css end*/
.wdt_varients {
  margin: 20px 0 20px;
}
.wdt_varients ul {
  margin: 20px 0 0 0;
}
.wdt_varients ul li {
  display: inline-block;
  margin: 0 0 10px;
  position: relative;
  line-height: normal;
  vertical-align: top;
  width: 50%;
}
.wdt_varients ul li a,
.wdt_varients ul li span {
  height: 16px;
  line-height: 24px;
  padding-left: 25px;
}
.wdt_varients ul li a:before,
.wdt_varients ul li span:before {
  content: '';
  border: 1px solid #818181;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  position: absolute;
  left: 0;
  top: 0;
}
.wdt_varients.active a:before,
.wdt_varients ul li.active span:before {
  border-color: #135394;
}
.wdt_varients ul li.active a:after,
.wdt_varients ul li.active span:after {
  content: '';
  background: #135394;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: absolute;
  left: 3px;
  top: 3px;
}
.wdt_amazon_list.with-scroll ul {
  max-height: 520px;
  overflow-y: scroll;
  padding: 5px;
  overflow-x: hidden;
}
.wdt_amazon_list h2 .amazon_icon {
  position: absolute;
  right: 0;
  top: 10px;
}
.wdt_amazon_list ul li {
  display: table;
  width: 100%;
  box-shadow: 0 0 7px #ddd;
  padding: 10px 0 5px;
  margin: 0 0 10px 0;
  text-align: left;
  position: relative;
}
.wdt_amazon_list ul li a {
  display: table-row;
}
.wdt_amazon_list ul li .img_wrap {
  display: table-cell;
  width: 25%;
  vertical-align: top;
  text-align: center;
}
.wdt_amazon_list ul li .img_wrap img {
  max-width: 100%;
  max-height: 80px;
}
.wdt_amazon_list ul li .con_wrap {
  display: table-cell;
  vertical-align: top;
}
.wdt_amazon_list ul li .con_wrap h4 {
  font-size: 14px;
  line-height: 22px;
  color: #000;
  max-height: 44px;
}
.wdt_amazon_list ul li .con_wrap .price_tag {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
.wdt_amazon_list ul li .con_wrap .price_tag.symbol_rupees:before {
  font-size: 18px;
}
.wdt_amazon_list ul li .btn_wrap {
  display: table-cell;
  width: 20%;
  vertical-align: bottom;
  text-align: center;
}
.wdt_amazon_list ul li .btn_wrap.absolute {
  position: absolute;
  right: 5px;
  width: 98px;
  bottom: 5px;
  z-index: 10;
}
.wdt_amazon_list ul li .btn_wrap.absolute .buy_btn {
  display: block;
  padding: 0 5px;
  font-size: 12px;
}
.wdt_amazon_list ul li .btn_wrap .buy_btn,
.buy_btn {
  background: #fed20a;
  border-radius: 3px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  padding: 0 10px;
  height: 25px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
}
.wdt_amazon_list ul li .con_wrap .rtng {
  font-size: 13px;
  display: block;
  margin: 0 0 5px;
  line-height: 16px;
}
.wdt_amazon_list ul li .con_wrap .rtng span sup {
  color: #000;
}
.wdt_amazon_list ul li .con_wrap .rtng span:first-child {
  margin-right: 5px;
}
.wdt_amazon_list ul li .con_wrap .rtng span:first-child b {
  color: #ff0000;
}
.wdt_amazon_list ul li .con_wrap .rtng span:last-child b {
  color: #00b3ff;
}
.wdt_amazon_list ul li .con_wrap .rtng .sub-rating {
  color: #1a75ff;
  margin: 0 0 0 5px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  line-height: 18px;
}
.wdt_amazon_list ul li .con_wrap .rtng b {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 3px;
  font-size: 13px;
  font-weight: bold;
}

.wdt_amazon_list.horizontal {
  margin-bottom: 40px;
}
.wdt_amazon_list.horizontal ul {
  white-space: nowrap;
}
.wdt_amazon_list.horizontal ul li {
  position: relative;
  background: #fff;
  display: inline-block;
  vertical-align: top;
  width: 170px;
  margin: 0 20px 0 0;
  min-height: 240px;
  padding: 15px;
  border-radius: 6px;
  white-space: normal;
}
.wdt_amazon_list.horizontal ul li .close_icon {
  top: 5px;
  right: 5px;
}
.wdt_amazon_list.horizontal ul li:last-child {
  margin-right: 0;
}
.wdt_amazon_list.horizontal ul li span {
  display: block;
  text-align: center;
  width: auto;
  margin: 0 0 5px;
}
.wdt_amazon_list.horizontal ul li span:last-child {
  margin-right: 0;
}
.wdt_amazon_list.horizontal ul li .img_wrap {
  width: auto;
  height: 130px;
  margin-top: 10px;
}
.wdt_amazon_list.horizontal ul li .img_wrap img {
  max-height: 100px;
  width: auto;
  height: auto;
  max-width: 100%;
}
.wdt_amazon_list.horizontal ul li .con_wrap h4 {
  height: 44px;
  font-weight: bold;
}
.wdt_amazon_list.horizontal ul li .con_wrap .price_tag {
  font-size: 16px;
  color: #d70000;
}
.wdt_amazon_list.horizontal ul li .con_wrap .price_tag b {
  color: #000;
  text-decoration: line-through;
  font-weight: bold;
  margin-left: 5px;
}
.wdt_amazon_list.horizontal ul li .btn_wrap {
  margin: 5px 0 0 0;
}
.wdt_amazon_list.horizontal ul li .btn_wrap .buy_btn {
  display: block;
}

.wdt_amazon_list.horizontal .slider {
  width: auto;
}
.wdt_amazon_list.horizontal .slider ul li {
  width: auto;
  box-shadow: none;
  margin: 0;
  padding: 5px;
  white-space: nowrap;
}
.wdt_amazon_list.horizontal .slider ul li .slide {
  box-shadow: 0 0 7px #ddd;
  width: 150px;
  padding: 10px;
  margin: 0 20px 0 0;
  white-space: normal;
}
.wdt_amazon_list.horizontal .slider ul li .slide:last-child {
  margin-right: 10px;
}
.wdt_amazon_list.horizontal .slider ul li:last-child .slide:last-child {
  margin-right: 0;
}
.wdt_amazon_list.horizontal .slider ul li .slide > a {
  display: block;
}
.wdt_amazon_list.horizontal .slider ul li .slide .buy_btn {
  display: inline-block;
}
.wdt_amazon_list.horizontal .slider ul li .slide .price_tag {
  font-weight: bold;
}
.wdt_amazon_list.horizontal .slider .btnPrev,
.wdt_amazon_list.horizontal .slider .btnNext {
  top: 0;
  bottom: 0;
}
/*common component css end*/

/*comments in popup start*/
.body_overlay {
  background: #000;
  z-index: 101;
  opacity: 0.75;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.overlay_content {
  opacity: 1;
  position: fixed;
  top: 167px;
  left: 324.5px;
  z-index: 102;
}

.comments-body {
  position: fixed;
  z-index: 9999;
  top: 0;
  height: 100%;
  overflow: auto;
}

.popup_comments .close_icon {
  top: 12px;
  right: 10px;
  &:after,
  &:before {
    height: 17px;
    width: 3px;
  }
}
/*comments in popup end*/
.icon_star {
  position: relative;
  height: 20px;
  width: 16px;
  display: inline-block;
}
.icon_star:after {
  position: absolute;
  color: #000;
  font-size: 20px;
  left: 0;
  top: 0;
}
.icon_star.one:after {
  content: '\2605';
}
.icon_star.two:after {
  content: '\2605\2605';
}
.icon_star.three:after {
  content: '\2605\2605\2605';
}
.icon_star.four:after {
  content: '\2605\2605\2605\2605';
}
.icon_star.five:after {
  content: '\2605\2605\2605\2605\2605';
}

.read_more {
  display: block;
  text-align: right;
  margin: 10px 0 0 0;
}
.read_more a,
.read_more span {
  font-size: 16px;
  color: #1a75ff;
  font-weight: bold;
  margin-right: 15px;
  display: block;
  position: relative;
  cursor: pointer;
}
.read_more a:after,
.read_more span:after {
  content: '';
  display: block;
  height: 6px;
  width: 6px;
  margin: auto;
  position: absolute;
  top: -3px;
  bottom: 0;
  transform: rotate(45deg);
  right: -13px;
  border-top: 2px solid #1a75ff;
  border-right: 2px solid #1a75ff;
}
/*tabs start*/
ul.gn-tabs {
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  width: 80%;
  margin: 22px auto 20px;
}
ul.gn-tabs li {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  flex-basis: 100%;
  cursor: pointer;
}
ul.gn-tabs li:first-child {
  border-radius: 5px 0 0 5px;
}
ul.gn-tabs li:last-child {
  margin-right: 0;
  border-radius: 0 5px 5px 0;
}
ul.gn-tabs li {
  display: block;
  color: #5a5a5a;
  font-size: 18px;
  line-height: 37px;
  height: 36px;
  border: solid 1px #acacac;
}
ul.gn-tabs li.active {
  color: #fff;
  background: #135394;
  border-color: #135394;
}

ul.tabs {
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: auto;
  margin: 0 0 10px;
}
ul.tabs li {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  margin: 0 20px 0 0;
}
ul.tabs li:last-child {
  margin-right: 0;
}
ul.tabs li {
  display: block;
  color: #000;
  font-size: 16px;
  line-height: 24px;
}
ul.tabs li.active {
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.btn-buy {
  padding: 0 10px 0px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  height: 28px;
  border-radius: 3px;
  background: #fed20a;
  line-height: 32px;
  display: block;
  margin-top: 5px;
  cursor: pointer;
  width: 70%;
  margin: auto;
}
.plus_icon {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 2px solid #4c4c4c;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  cursor: pointer;
  opacity: 0.7;
}
.plus_icon:after {
  content: '+';
  color: #4c4c4c;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 18px;
  font-weight: bold;
}

.top-caption {
  display: none;
  height: 25px;
  line-height: 27px;
  background: #fed20a;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 5px 0 10px;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
}

.top-caption:before {
  background: linear-gradient(-235deg, #fed20a 50%, #ffffff 50%);
  height: 25px;
  top: 0;
  right: -20px;
  width: 20px;
  z-index: 1;
  position: absolute;
  content: '';
}

.search_icon {
  position: relative;
  height: 16px;
  height: 16px;
}
.search_icon:after {
  background: url(https://navbharattimes.indiatimes.com/photo/47971982.cms) no-repeat -91px 0;
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
}

.ui_slider .slider {
  width: 920px;
}
.ui_slider .slider .slider_content li .slide span {
  display: block;
}
.ui_slider .slider .slider_content li .slide {
  width: 165px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 5px #b8b8b8;
  white-space: normal;
  text-align: center;
  margin: 5px 15px 5px 5px;
  padding: 5px;
  min-height: 230px;
  background: #fff;
  position: relative;
}
.ui_slider .slider .slider_content li .slide .prod_img {
  width: auto;
  height: 130px;
  padding-top: 10px;
}
.ui_slider .slider .slider_content li .slide img {
  max-height: 100px;
  width: auto;
  height: auto;
  max-width: 100%;
}
.ui_slider .slider .slider_content li .slide .title {
  display: -webkit-box;
}
.ui_slider .slider .slider_content li .slide .title {
  font-size: 14px;
  line-height: 22px;
  height: 44px;
  font-weight: bold;
}
.ui_slider .slider .slider_content li .slide .price {
  margin-top: 5px;
}
.ui_slider .slider .slider_content li .slide .price b {
  font-size: 20px;
  font-weight: bold;
}
.ui_slider .slider .slider_content li .slide .btn_wrap {
  margin-top: 3px;
}
.ui_slider .slider .slider_content li .slide .vs {
  height: 30px;
  width: 30px;
  background: #b1b1b1;
  border-radius: 50%;
  position: absolute;
  right: -30px;
  top: 45px;
  color: #fff;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 31px;
}
.ui_slider .slider .slider_content li .slide:last-child .vs {
  display: none;
}
.ui_slider .slider .btnPrev,
.ui_slider .slider .btnNext {
  top: 0;
  bottom: 0;
}

.ui_slider .items-in-list {
  margin: 20px 0 0;
}
.ui_slider .items-in-list ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ui_slider .items-in-list ul li {
  display: inline-block;
  border-bottom: 1px solid #cecece;
  padding: 0 0 15px 0;
  margin: 0 18px 15px 0;
  width: 305px;
  vertical-align: top;
}
.ui_slider .items-in-list ul li .text_ellipsis {
  font-size: 16px;
  line-height: 24px;
  color: #333;
  max-height: 72px;
  -webkit-line-clamp: 3;
}
.ui_slider .items-in-list ul li:nth-child(3n + 3) {
  margin-right: 0;
}

/*rating widget*/
.wdt_review_rate {
  padding: 0 0 60px;
  position: relative;
}
.wdt_review_rate .btn-blue {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 48%;
  border-radius: 0;
}
.wdt_review_rate .rating-values {
  overflow: hidden;
  margin: 20px 0;
}
.wdt_review_rate .user_review {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  text-align: center;
}
.wdt_review_rate .user_review span {
  color: #f90;
  font-size: 40px;
  line-height: 80px;
  font-family: arial;
  position: relative;
  font-weight: 700;
  display: block;
}
.wdt_review_rate .user_review sub {
  font-family: arial;
  color: #000;
  font-size: 30px;
  font-weight: normal;
}
.wdt_review_rate .user_review span b {
  font-size: 16px;
  color: #000;
  line-height: 24px;
  font-family: 'NotoSans Regular', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.wdt_review_rate .user_star {
  display: inline-block;
  vertical-align: top;
  width: 70%;
}
.wdt_review_rate .user_star li {
  display: block;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px;
}
.wdt_review_rate .user_star li:last-child {
  margin-bottom: 0;
}
.wdt_review_rate .user_star li .star_txt {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000;
  font-family: arial;
}
.wdt_review_rate .user_star li .star_bg {
  background: #f1f1f1;
  height: 20px;
  width: 400px;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  text-align: left;
}
.wdt_review_rate .user_star li .star_bg span[data-attr]:after {
  content: attr(data-attr);
  position: absolute;
  right: 10px;
  top: 1px;
  font-size: 11px;
}
.wdt_review_rate .user_star .star5,
.user_star .star4,
.user_star .star3,
.user_star .star2,
.user_star .star1 {
  display: inline-block;
  line-height: 20px;
  text-align: right;
  position: relative;
  height: 20px;
  vertical-align: top;
  font-size: 12px;
}
.wdt_review_rate .user_star .star5 {
  background: #42bc00;
}
.wdt_review_rate .user_star .star4 {
  background: #a4e528;
}
.wdt_review_rate .user_star .star3 {
  background: #d1e528;
}
.wdt_review_rate .user_star .star2 {
  background: #e5bf28;
}
.wdt_review_rate .user_star .star1 {
  background: #e57328;
}

.rating_popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  background: rgba(0, 0, 0, 0.7);
}
.rating_popup .container {
  padding: 0;
  border-radius: 2px;
  background: #fff;
  width: 400px;
  margin: 100px auto 0;
}
.rating_popup .container .msg_thanks {
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.rating_popup header .close_icon {
  top: -50px;
  left: 0;
  right: 0;
  margin: auto;
  background: #999;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.rating_popup header .close_icon:after,
.rating_popup header .close_icon:before {
  left: 19px;
  height: 20px;
  background-color: #fff;
  top: 10px;
}

.rating_popup header {
  background: #135394;
  padding: 15px 10px 12px;
  position: relative;
}
.rating_popup h3 {
  color: #fff;
  font-size: 20px;
  line-height: 1;
  text-align: center;
}
.rating_popup .content {
  padding: 10px 20px;
  text-align: center;
}
.rating_popup .content .error {
  color: #f00;
  font-size: 12px;
  line-height: 15px;
  display: block;
  text-align: center;
  margin: 10px 0 0 0;
}
.rating_popup .content .btn {
  background: #135394;
  color: #fff;
  height: 40px;
  line-height: 42px;
  margin: 10px 0 10px;
}
.rating_popup .content ul li {
  border-bottom: 0;
  padding: 0;
  margin-bottom: 10px;
  text-align: left;
}
.rating_popup .content ul li:last-child {
  margin: 0;
}
.rating_popup .content ul li .blk_star {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  text-align: center;
}
.rating_popup .content ul li .blk_star .icon_star {
  width: 90px;
}
.rating_popup .content ul li .blk_star .icon_star:after {
  right: 0;
}

.rating_popup .content ul li label {
  font-size: 16px;
  line-height: 28px;
  display: inline-block;
  vertical-align: top;
  color: #000;
  width: 55%;
  font-weight: bold;
}
.rating_popup .content ul li input[type='radio'] {
  float: right;
}

.rating_popup .login-first h4 {
  display: inline-block;
  vertical-align: top;
  margin: 17px 15px 0 0;
  text-transform: uppercase;
}
.rating_popup .login-first .btn {
  height: 30px;
  line-height: 35px;
  font-size: 16px;
  border: 0;
  font-weight: normal;
}

.amazon_icon {
  background-image: url(https://navbharattimes.indiatimes.com/photo/58606011.cms);
  width: 82px;
  height: 19px;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
}
.twogud_icon {
  background: url(https://navbharattimes.indiatimes.com/photo/70699906.cms) no-repeat;
  width: 120px;
  height: 40px;
  background-size: contain;
  display: inline-block;
}

.wdt_amz_horizontal {
  margin: 0 0 30px;
}

.wdt_amz_horizontal h2 b {
  position: absolute;
  right: 0;
  top: 6px;
}
.wdt_amz_horizontal h2 {
  color: #454545;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  margin: 0 0 5px;
  border: 0;
  height: auto;
}
.wdt_amz_horizontal .slider {
  width: auto;
}
.wdt_amz_horizontal .slider .slider_content li .slide {
  width: 570px;
  box-shadow: 0 0px 7px #ddd;
  margin: 5px 10px 5px 5px;
  padding: 10px;
  white-space: normal;
}
.wdt_amz_horizontal .slider .img_wrap {
  display: inline-block;
  width: 15%;
  margin-right: 2%;
  height: 75px;
  vertical-align: top;
  text-align: center;
}
.wdt_amz_horizontal .slider .img_wrap img {
  max-height: 75px;
  width: auto;
  height: auto;
  max-width: 100%;
}
.wdt_amz_horizontal .slider .con_wrap {
  display: inline-block;
  vertical-align: top;
  width: 68%;
}
.wdt_amz_horizontal .slider .con_wrap .price_tag {
  font-size: 18px;
  color: #979797;
  font-family: arial;
}
.wdt_amz_horizontal .slider .con_wrap .price_tag b {
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
}
.wdt_amz_horizontal .slider .con_wrap h4 {
  font-size: 16px;
  line-height: 24px;
  color: #454545;
  max-height: 48px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}
.wdt_amz_horizontal .slider .btn_wrap {
  display: inline-block;
  width: 15%;
  vertical-align: top;
  text-align: right;
  margin-top: 20px;
}
.wdt_amz_horizontal .slider .btn_wrap .buy_btn {
  font-size: 16px;
  padding: 0 15px;
  height: 35px;
  line-height: 40px;
  display: block;
  border-radius: 0;
}
.wdt_amz_horizontal .slider .btnPrev,
.wdt_amz_horizontal .slider .btnNext {
  /*
  background: #717171;
  border-radius: 0;
  */
  width: 30px;
  height: 30px;
  top: 0;
  bottom: 0;
}
.wdt_amz_horizontal .slider .btnPrev:after {
  /*
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  */
  top: 10px;
  left: 12px;
  width: 8px;
  height: 8px;
}
.wdt_amz_horizontal .slider .btnNext:after {
  /*
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  */
  top: 10px;
  right: 12px;
  width: 8px;
  height: 8px;
}

.wdt_amz_horizontal.twogud .slider .slider_content li .slide {
  border: 1px solid #d9d9d9;
  box-shadow: none;
  background: #f1f1f1;
}
.wdt_amz_horizontal.twogud .slider .btn_wrap .buy_btn {
  background: #ef4e28;
  color: #fff;
}
.wdt_amz_horizontal.twogud h2 b {
  position: absolute;
  right: 0;
  top: -11px;
}
.wdt_amz_horizontal.single .slider .slider_content li .slide:last-child {
  margin: 5px 10px 5px 5px;
  width: auto;
}

.mr20 {
  margin-bottom: 20px;
}

.videoicon > a,
.photoicon > a {
  position: relative;
  display: block;
}
.videoicon > a:after {
  content: '';
  background-image: url(/tech/images/pwa_gn_sprite.svg?v=07062019);
  background-size: 100px 942px;
  background-repeat: no-repeat;
  background-position: -5px -757px;
  height: 34px;
  width: 34px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.photoicon > a:after {
  content: '';
  background-image: url(/tech/images/pwa_gn_sprite.svg?v=07062019);
  background-size: 100px 942px;
  background-repeat: no-repeat;
  background-position: -58px -759px;
  height: 26px;
  width: 34px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.stars-in-rating {
  position: relative;
  vertical-align: baseline;
  display: inline-block;
  color: #afafaf;
  overflow: hidden;
  height: 20px;
  line-height: 20px;
}
.stars-in-rating .empty-stars {
  height: 100%;
  vertical-align: top;
}
.stars-in-rating .filled-stars:before,
.stars-in-rating .empty-stars:before {
  content: '\2605\2605\2605\2605\2605';
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 22px;
  display: inline-block;
  word-break: normal;
}
.stars-in-rating .filled-stars {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
}
.stars-in-rating .filled-stars.critic {
  color: #ff001f;
}
