/*
.wrap {
  width: 1000px;
  background: #fff;
  margin: 0 auto;
}
.contentarea {
  padding: 15px 20px 15px;
  clear: both;
  position: relative;
}
.leftmain {
  width: 630px;
  float: left;
}
.rightnav {
  width: 300px;
  float: right;
}

.header {
  position: relative;
  border-bottom: 2px #e5e5e5 solid;
  min-height: 108px;
  overflow: hidden;
}
.header .logo {
  padding: 18px 0 0 0;
  float: left;
  width: 243px;
  text-align: center;
}
.header .logo .date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #575757;
  display: block;
  margin: 3px 0 0 0;
}
.header .add_atf {
  float: right;
  margin: 10px 20px 0 0;
}

.top_nav {
  display: none;
}
.bnews-placeholder {
  display: none;
}
.fixmenu_wrap ul li.nav_right {
  display: none;
}

.fixmenu_wrap ul {
  background: #135394;
  height: 42px;
  padding: 0;
  position: relative;
  z-index: 12;
}
.fixmenu_wrap ul li {
  padding: 0 5px 0 6px;
  line-height: 46px;
  height: 42px;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}
.fixmenu_wrap {
  height: 42px;
}
.fixmenu_wrap .first-level-menu ul li a.nav-item {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.section-404 {
  background-color: #f2f2f2;
  border: 1px solid #e7e7e7;
  border-radius: 1px;
  margin: 30px 20px;
}
.section-404 img {
  display: inline-block;
  vertical-align: top;
  padding: 15px 18px 15px 10px;
  border: 0;
  outline: none;
}
.section-404 .errortext {
  border-left: 1px solid #ddd;
  padding: 20px 0 0 20px;
  display: inline-block;
  vertical-align: top;
  min-height: 115px;
  width: 750px;
}

*/