html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  font-weight: normal;
}
ul,
li {
  list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

@font-face {
  font-family: 'NotoSans Regular';
  src: url('https://navbharattimes.indiatimes.com/fonts/NotoSansDevanagari-Regular.eot');
  src: url('https://navbharattimes.indiatimes.com/fonts/NotoSansDevanagari-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('https://navbharattimes.indiatimes.com/fonts/NotoSansDevanagari-Regular.woff')
      format('woff'),
    url('https://navbharattimes.indiatimes.com/fonts/NotoSansDevanagari-Regular.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans Bold';
  src: url('https://navbharattimes.indiatimes.com/fonts/NotoSansDevanagari-Bold.eot');
  src: url('https://navbharattimes.indiatimes.com/fonts/NotoSansDevanagari-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('https://navbharattimes.indiatimes.com/fonts/NotoSansDevanagari-Bold.woff') format('woff'),
    url('https://navbharattimes.indiatimes.com/fonts/NotoSansDevanagari-Bold.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*common css start*/
body {
  margin: 0;
  padding: 0;
  font-family: 'NotoSans Regular', Arial, Helvetica, sans-serif;
  font-size: 16px; /*background: #e5e5e5 url(https://static.langimg.com/photo/27975912.cms);*/
  background: #f5f5f5;
  color: #000;
}
body.disable-scroll {
  overflow: hidden;
  margin-right: 17px;
}

img {
  border: 0;
  vertical-align: bottom;
}
a img {
  border: none;
}
a {
  color: #000;
  text-decoration: none;
}
a:focus,
a:hover,
a:active {
  outline: none;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

form,
input,
select {
  margin: 0px;
  padding: 0px;
  outline: none;
  font-family: 'NotoSans Regular', Arial, Helvetica, sans-serif;
}
input[type='text'],
textarea,
select {
  border: 1px solid #d5d5d5;
  color: #333;
}
button {
  font-family: 'NotoSans Regular', Arial, Helvetica, sans-serif;
  outline: none;
  border: 0;
}
.clear {
  clear: both;
}
.clear:after {
  content: '.';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/*common css end*/

.wrap {
  width: 1000px;
  background: #fff; /*box-shadow: 0 1px 12px #c0bebe;*/
  margin: 0 auto;
}
/*
.contentarea {
  padding: 15px 20px 15px;
  clear: both;
  position: relative;
  overflow: hidden;
}
.leftmain {
  width: 630px;
  float: left;
}
.rightnav {
  width: 300px;
  float: right;
}
*/
.error-msg {
  display: block;
  margin: 10px 0 0 0;
  font-size: 14px;
  color: red;
}

.btn-blk {
  background: #000;
  height: 30px;
  padding: 0 15px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 34px;
  border: 0;
  outline: none;
}
.btn {
  background: #fff;
  height: 30px;
  padding: 0 15px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'NotoSans Regular', Arial, Helvetica, sans-serif;
  line-height: 30px;
  outline: none;
  border: 1px solid #d5d5d5;
}
.btn-blue {
  background: #135394;
  height: 40px;
  padding: 0 15px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  font-family: 'NotoSans Regular', Arial, Helvetica, sans-serif;
  line-height: 42px;
  outline: none;
  border: 1px solid #d5d5d5;
  display: block;
  width: 60%;
  margin: 20px auto;
  border-radius: 5px;
  text-align: center;
}
.btn-blue.disabled {
  opacity: 0.5;
  background: #a6a9ad;
  cursor: not-allowed;
  color: #000;
}

.read-more {
  background: #135394;
  height: 40px;
  padding: 0 15px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  font-family: 'NotoSans Regular', Arial, Helvetica, sans-serif;
  line-height: 42px;
  outline: none;
  border: 1px solid #d5d5d5;
  display: block;
  width: 40%;
  margin: 30px auto 20px;
  text-align: center;
}
.video_icon {
  position: relative;
}
.video_icon:after,
.video_icon:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.video_icon:before {
  background: rgba(255, 255, 255, 0.9);
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.video_icon:after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid #000;
  z-index: 2;
  margin: 7px 7px 0 0;
}
.funny_icon {
  position: relative;
}
.funny_icon:after {
  content: '';
  position: absolute;
  right: -15px;
  top: 6px;
  z-index: 1;
  background: url(https://static.langimg.com/photo/62568340.cms) no-repeat -228px -5294px;
  height: 14px;
  width: 14px;
}

.close_icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 0;
  min-width: 0;
  padding: 0;
  text-indent: -9000px;
  margin: 0;
  vertical-align: top;
  cursor: pointer;
  z-index: 10;
}
.close_icon:after,
.close_icon:before {
  position: absolute;
  left: 6px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #9b9b9b;
}
.close_icon:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close_icon:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.ads_default {
  min-height: 95px;
  position: relative;
  z-index: 2;
}
.ads_default:before {
  content: 'AD';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #aaa;
  margin: auto;
  height: 14px;
  font-size: 12px;
  border: 1px solid #aaa;
  width: 25px;
  border-radius: 4px;
  z-index: -1;
  line-height: normal;
  text-align: center;
  font-family: arial;
}
.ads_default iframe.TOI_Rb {
  right: -20px !important;
}

.ads_default.fixedHeight {
  max-height: 250px;
  overflow: hidden;
}

.ads_btf {
  text-align: center;
  margin: 0 0 15px;
  clear: both;
}
.AS_Innov1 {
  text-align: center;
}
/* .ads_btf .ads_default{min-height: initial;} */
.more_news {
  text-align: right;
  padding: 10px 0 0 0;
}
.more_news a {
  font-size: 16px;
  line-height: 24px;
}
/*
.more_news a{position: relative; margin: 0 15px 0 0; font-size: 16px; line-height: 24px;}
.more_news a:after{position: absolute; content: ''; width: 6px; height: 6px; border: solid #044e97; border-width: 0 1px 1px 0; right: -12px; top: 6px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); transition: all .5s; -webkit-transition: all .5s;}
*/

.ad-skiny {
  position: fixed;
  top: 5px;
}
.table {
  display: table;
  width: 100%;
}
.table .table_row {
  display: table-row;
  vertical-align: middle;
}
.table .table_col {
  display: table-cell;
  vertical-align: middle;
}

.commongap {
  height: 30px;
  clear: both;
  width: 100%;
  float: none;
}
.commongap1 {
  height: 20px;
  clear: both;
  width: 100%;
  float: none;
}
.commongap2 {
  height: 10px;
  clear: both;
  width: 100%;
  float: none;
}
.hide {
  display: none;
}
