.section.poll_card {
    border: 2px solid #e2e2e2;
    border-top: 0;
    position: relative;
    margin-top: 20px;
    h2 {
      margin-top: -15px;
    }
    .poll_content {
      padding: 0 10px 10px;
      ul {
        margin: 0 0 10px;
      }
      .ques {
        font-size: 16px;
        line-height: 23px;
        font-weight: bold;
        margin: 0 0 5px;
      }
      label {
        display: block;
        padding-left: 5px;
        font-size: 14px;
        color: #000;
        line-height: 25px;
        input[type="radio"] {
          display: inline-block;
          vertical-align: top;
          margin: 5px 5px 0 0;
        }
        span {
          display: inline-block;
          vertical-align: top;
        }
      }
      .caption {
        font-size: 16px;
        margin: 0 0 5px;
      }
      .qna {
        overflow: hidden;
        span {
          display: inline-block;
          vertical-align: top;
          margin: 0 10px 0 0;
          height: 30px;
          line-height: 35px;
        }
        input {
          &[type='text'] {
            display: inline-block;
            vertical-align: top;
            border: solid 1px #e2e2e2;
            border-bottom-color: #aaa;
            height: 28px;
            margin: 0 -3px 0 0;
            padding: 0 5px;
            color: #888;
            width: 140px;          }
          &[type='submit'] {
            display: inline-block;
            vertical-align: top;
          }
          &.visibility-hide {
            visibility: hidden;
            width: 1px;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
    .poll_result {
      .confirm_msg {
        margin-top: 5px;
        text-align: center;
        background: #f0f0f0;
        color: #cc0000;
        font-weight: bold;
        font-size: 14px;
        padding: 5px 0px;
        display: block;
      }
      .login-before-result{
        display: block;
        font-size: 16px;
        line-height: 24px;
        margin: 15px 20px 10px;
        text-align: center;
        .btn-login{
          display: block;
          background: #c71400;
          font-size: 16px;
          color: #fff;
          line-height: 25px;
          margin: 5px auto 0;
          padding: 2px 10px;
          text-align: center;
          cursor: pointer;
          border: 0;
          outline: none;
        }
      }
      .result_value {
        margin: 15px;
      }
      label {
        font-size: 16px;
      }
      .progress {
        width: 100%;
        height: 10px;
        border-radius: 5px;
        background: #e2e2e2;
      }
      .progress-top {
        overflow: hidden;
        position: relative;
        margin: 1% 0 5%;
      }
      .progress-child {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
      }
      .progress-top {
        .option_3 {
          background: url(https://navbharattimes.indiatimes.com/images/graphimg/3.gif);
        }
        .option_2 {
          background: url(https://navbharattimes.indiatimes.com/images/graphimg/2.gif);
        }
        .option_1 {
          background: url(https://navbharattimes.indiatimes.com/images/graphimg/1.gif);
        }
      }
    }
  }