.lb-india {
  padding: 20px 0 5px 0;
  border: 2px #e2e2e2 solid;
  background: #fff;
  position: relative;
  margin-top: 20px;
  h3 {
    margin: auto;
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    text-align: center;
    span {
      width: 228px;
      height: 30px;
      background: url(https://static.langimg.com/photo/62568340.cms) no-repeat 0 -4327px;
      text-indent: -10000px;
      display: inline-block;
    }
  }
  ul {
    height: 192px;
    overflow-x: hidden;
    overflow-y: auto;
    li {
      border-bottom: 1px #a4a4a4 dotted;
      font-size: 15px;
      line-height: 22px;
      padding: 3px 0 2px 0;
      margin: 0 10px 5px;
      &:last-child {
        border: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      span,
      a {
        display: block;
        line-height: 19px !important;
      }
      span.time {
        background: #f8cc09;
        color: #000;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0 5px;
        line-height: 16px;
        display: inline-block;
        margin: 0 0 5px;
      }
    }
  }
  .moreblogs {
    background: #e2e2e2;
    text-align: right;
    color: #003399;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    padding: 0 10px 0 0;
    margin: 5px 5px 0;
    font-family: arial;
  }
}

.live-blog {
  padding: 5 0 5px 0;
  h3 {
    margin: auto;
    span {
      display: inline-block;
    }
    a {
      color: #000;
      font-size: 22px;
    }
  }
  ul {
    height: 210px;
    overflow-x: hidden;
    overflow-y: auto;
    li {
      border-bottom: 1px #a4a4a4 dotted;
      font-size: 15px;
      line-height: 22px;
      padding: 3px 0 2px 0;
      margin: 0 10px 5px 0;
      &:last-child {
        border: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      span,
      a {
        display: block;
        font-size: 13px;
        line-height: 19px !important;
      }
      span.time {
        background: #f8cc09;
        color: #000;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0 5px;
        line-height: 16px;
        display: inline-block;
        margin: 0 0 5px;
      }
    }
  }
  .moreblogs {
    background: #e2e2e2;
    text-align: right;
    color: #003399;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    padding: 0 10px 0 0;
    margin: 5px 5px 0;
    font-family: arial;
  }
}

.budget {
  margin-bottom: 15px;
}
