.list_subsections ul li:first-child{margin:0 0 30px 0; width: 630px; position: relative; display: block;}
.list_subsections ul li:first-child .img_container{width:auto; margin: 0; display: block}
.list_subsections ul li:first-child .txt_container{position: absolute; bottom: 0; left:0; right:0; padding: 50px 20px 10px; background: linear-gradient(transparent, rgba(0, 0, 0, 0.9)); margin: 0;}
.list_subsections ul li:first-child .txt_container .lft{float: left; width: 75%;}
.list_subsections ul li:first-child .txt_container a{color:#fff; font-size: 20px; line-height: 30px; display: block;}
.list_subsections ul li:first-child .txt_container .rating_txt{float: right; color:#fff; width: 25%; text-align: center;}
.list_subsections ul li:first-child .rating_txt .head {font-size: 18px; line-height: 26px; display: block; position: relative;}
.list_subsections ul li:first-child .rating_txt .rate_txt {font-size: 30px; font-family: arial;}
.list_subsections ul li:first-child .rating_txt .rate_txt sub {font-size: 20px;}
.list_subsections ul li:first-child .rating_txt .head .icon_star {height: 22px; width: 25px; position: absolute; left: 5px; top: -4px;}
.list_subsections ul li:first-child .rating_txt .head .icon_star:after {color: #ff001f; font-size: 30px;}
.list_subsections ul li:first-child .txt_container .more_txt{display: block;}
.list_subsections ul li:first-child .txt_container .more_txt a{color:#fff; display: inline-block; vertical-align: top;}

.list_subsections ul li{display: inline-block; vertical-align: top; width: 300px; margin:0 30px 30px 0; position: relative;}
.list_subsections ul li:nth-child(2n+3){margin-right: 0}
.list_subsections ul li .img_container{width:300px; margin:0 0 10px 0; display: block}
.list_subsections ul li .social_tools{position: absolute; top: 12px; right: 10px; margin: 0;}
.list_subsections ul li .social_tools span{border-radius: 50%; width: 34px; height: 34px;}
.list_subsections ul li .social_tools .facebook {background-position: -56px -811px;}
.list_subsections ul li .social_tools .twitter {background-position: -10px -855px;}
.list_subsections ul li .txt_container{display:block;}
.list_subsections ul li .txt_container a{font-size: 16px; line-height: 24px;}
.list_subsections ul li .txt_container .rating_txt{display: block; color: #505050; font-size: 12px; margin-top: 5px;}
.list_subsections ul li .txt_container .rating_txt b {font-family: arial;}
.list_subsections ul li .txt_container .rating_txt b small {color: #f5a623; font-size: 12px;}
.list_subsections ul li .txt_container .more_txt{display: block; margin-top: 5px;}
.list_subsections ul li .txt_container .more_txt a{color: #1a75ff; font-size: 12px; line-height: 20px;position: relative;}
.list_subsections ul li .txt_container .more_txt a:after{content: '|'; margin:0 5px}
.list_subsections ul li .txt_container .more_txt a:last-child:after{content: ''; margin: 0;}

.wdt_amazon_list ul li {display: table; width: 100%; box-shadow: 0 2px 7px #ddd; padding: 10px 0 5px; margin: 0 0 10px 0; text-align: left;}
.wdt_amazon_list ul li a{display: table-row}
.wdt_amazon_list ul li .img_wrap{display: table-cell; width: 25%; vertical-align: top; text-align: center}
.wdt_amazon_list ul li .img_wrap img {max-width: 100%;max-height: 80px;}
.wdt_amazon_list ul li .con_wrap{display: table-cell; vertical-align: top;}
.wdt_amazon_list ul li .con_wrap h4{font-size:14px; line-height: 22px; color: #000;}
.wdt_amazon_list ul li .con_wrap .price_tag{font-size: 14px; font-weight: bold;}
.wdt_amazon_list ul li .btn_wrap{display: table-cell; width: 20%; vertical-align: bottom; text-align: center}
.wdt_amazon_list ul li .btn_wrap .buy_btn{background: #fed20a; border-radius: 3px; color: #000; font-size: 12px; font-weight: bold; border: 0; padding: 0 10px; height: 25px; line-height: 28px;}



.printpage {
  clear: both;
  text-align: center;
  margin-bottom: 30px;
  a {
    &.spanback {
      position: relative;
      height: 32px;
      width: 32px;
      display: inline-block;
      z-index: 10;
      border-radius: 50%;
      background: #fff;
      top: 0;
      left: 0;
      text-indent: -9999px;
    }
    &.spannext {
      position: relative;
      height: 32px;
      width: 32px;
      display: inline-block;
      z-index: 10;
      border-radius: 50%;
      background: #fff;
      top: 0;
      right: 0;
      text-indent: -9999px;
    }
    &:hover {
      color: #fff;
      font-weight: normal;
      background: #135394;
    }
    &.active {
      color: #fff;
      font-weight: normal;
      background: #135394;
    }
    box-shadow: 0 0 5px #b1b0b0;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    float: none;
    color: #666;
    line-height: 32px;
    height: 32px;
    width: 32px;
    font-size: 14px;
    font-family: arial;
    text-align: center;
  }
}