.nbtsprite {
  background-image: url(https://static.langimg.com/photo/30666887.cms);
  background-repeat: no-repeat;
}

.nbt-home-sprite {
  background-image: url('/tech/images/nbt_sprite.png?v=070319');
  background-repeat: no-repeat;
}

.header {
  position: relative;
  min-height: 110px;
  overflow: hidden;
  /*background: #000;*/
  .logo {
    padding: 18px 0 0 20px;
    float: left;
    width: 223px;
    text-align: left;
    a.section_name {
      display: block;
      color: #ea9926;
      font-size: 20px;
      margin-top: 5px;
    }
    .date {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
      color: #7a7a7a;
      display: block;
      margin: 3px 0 0 0;
    }
  }
  .add_atf {
    float: right;
    margin: 10px 20px 10px 0;
  }
  .masthead {
    text-align: center;
    padding-top: 2px;
    overflow: hidden;
    height: 50px;
    border-bottom: 2px #ddd solid;
  }
}

.top_nav {
  padding: 5px;
  display: block;
  background: transparent;
  position: relative;
  width: 990px;
  margin: 0 auto;
  border-bottom: 1px solid #e2e2e2;
  background: #fff;
  .top_nav_content {
    font-size: 10px;
    .globalnav {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      color: #353535;
      h1{
        font-size: 12px;
        float: left;
        margin: 5px 0 0;
        font-family: 'NotoSans Regular', Arial, Helvetica, sans-serif;
        &:after{
          content: '|';
          margin:0 0 0 5px;
        }
      }
      .othersites {
        float: left;
        margin: 0 5px 0 0;
        select {
          border: 0;
          font-size: 11px;
        }
      }
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      ul li {
        display: inline-block;
        margin: 0 5px;
        h1 {
          display: inline-block;
          line-height: 14px;
        }
      }
      a {
        color: #333;
        text-decoration: none;
        font-size: 12px;
        font-family: 'NotoSans Bold', Arial, Helvetica, sans-serif;
      }
      ul {
        float: left;
        margin-top: 6px;
      }
      .hindiNews {
        position: relative;
        float: left;
        margin: 4px 3px 0 0;
        z-index: 13;
        h1 {
          > a {
            display: block;
            padding: 1px 15px 10px 3px;
            position: relative;
            z-index: 2;
            height: 15px;
            font-weight: bold;
            margin-bottom: -10px;
          }
          > a:after {
            position: absolute;
            content: '';
            border: solid #000;
            width: 6px;
            height: 6px;
            border-width: 0 1px 1px 0;
            top: 4px;
            right: 4px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            box-sizing: border-box;
          }
        }
        > a {
          display: block;
          padding: 1px 15px 10px 3px;
          position: relative;
          z-index: 2;
          height: 15px;
          font-weight: bold;
          margin-bottom: -10px;
        }
        > a:after {
          position: absolute;
          content: '';
          border: solid #000;
          width: 6px;
          height: 6px;
          border-width: 0 1px 1px 0;
          top: 4px;
          right: 4px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          box-sizing: border-box;
        }
        &:hover {
          h1 > a {
            background: #fff;
          }
          .restLang {
            display: block;
          }
        }
      }
      .restLang {
        position: absolute;
        top: 22px;
        left: 0px;
        display: none;
        background: #fff;
        z-index: 1;
        box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.2);
        min-width: 80px;
        padding: 5px;
        border-top: 0;
        span {
          margin: 0 5px 6px;
          display: block;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .user-isloggedin{
        float: right;
        position: relative;
        margin:7px 10px 0 0;
        text-transform: uppercase;
        cursor: pointer;
        &:before {
          content: "";
          background: #bababa;
          width: 1px;
          height: 10px;
          position: absolute;
          right: -9px;
          top: 1px;
        }
        &:after {
            content: "";
            background: url(https://static.toiimg.com/photo/67971933.cms) no-repeat -78px -316px;
            width: 25px;
            height: 25px;
            display: inline-block;
            position: absolute;
            left: -28px;
            top: -8px;
            opacity: .5;
        }
      }
    }
    .user_area {
      float: right;
      [data-plugin='user-login'] {
        color: #000;
        font-size: 12px;
        cursor: pointer;
        text-transform: capitalize;
      }
    }
    .social_share {
      float: right;
      margin: 6px 0 0 10px;
      a {
        margin-right: 10px;
        &:last-child {
          margin: 0;
        }
      }
      .twitr {
        background-position: -10px -48px;
        height: 12px;
        width: 14px;
        display: inline-block;
      }
      .gplus {
        background-position: -9px -28px;
        height: 10px;
        width: 16px;
        display: inline-block;
      }
      .fbk {
        background-position: -14px -7px;
        height: 12px;
        width: 6px;
        display: inline-block;
      }
      .app_icon {
        background-position: -13px -196px;
        height: 13px;
        width: 7px;
        display: inline-block;
      }
      .rssdef {
        background-position: -11px -218px;
        height: 12px;
        width: 12px;
        display: inline-block;
      }
    }
  }
}

.fixmenu_wrap {
  height: auto;
  .fixed .first-level-menu {
    height: 42px;
    position: fixed;
    top: 0;
    width: 1000px;
    background: #e9e9e9;
    line-height: 42px;
    z-index: 99;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
  }
  ul li {
    padding: 0 9px 0 10px;
    line-height: 46px;
    height: 42px;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    a {
      color: #000;
    }
  }
  .first-level-menu {
    position: relative;
    z-index: 12;
  }
  ul li.nav-other {
    > a {
      background: url(/tech/images/nbt_sprite.png);
      background-position: -5px -316px;
      width: 24px;
      height: 7px !important;
      display: inline-block;
      text-indent: -10000px;
      margin-top: 20px;
    }
    &:hover a,
    &.active a {
      background-position: -5px -330px;
    }
  }
  .first-level-menu ul li.nav_right {
    float: right;
    padding: 0;
    display: block;
    li {
      padding: 0 8px;
    }
  }
  ul li {
    &.nav-photogallery {
      a {
        background: url(/tech/images/nbt_sprite.png);
        background-position: -7px -118px;
        width: 20px;
        height: 17px;
        display: inline-block;
        text-indent: -10000px;
        margin-top: 13px;
      }
      &:hover a,
      &.active a {
        background-position: -7px -239px;
      }
    }
    &.nav-videos {
      a {
        background: url(/tech/images/nbt_sprite.png);
        background-position: -4px -170px;
        width: 26px;
        height: 16px;
        display: inline-block;
        text-indent: -10000px;
        margin-top: 14px;
      }
      &:hover a,
      &.active a {
        background-position: -4px -292px;
      }
    }
  }
  .first-level-menu > ul {
    margin: 0 0 0 95px;
    li {
      &.active {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          border-bottom: 3px solid #000;
          bottom: 0;
          left: 0;
          right: 0;
        }
        a {
          font-weight: bold;
        }
      }
      &.innercurrent {
        background-color: #f5f5f5;
        margin-right: 20px;
        &:hover {
          background-color: #f5f5f5;
          margin-right: 20px;
        }
        a {
          &.nav-item {
            color: #000;
            display: inline-block;
            vertical-align: top;
            position: relative;
          }
          &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-left: 9px solid #f5f5f5;
            border-bottom: 7px solid transparent;
            top: 14px;
            right: -14px;
          }
        }
      }
      a.nav-item {
        font-size: 16px;
        font-family: 'NotoSans Regular', Arial;
        color: #000;
        display: block;
        height: 50px;
      }
      &.active a.nav-item {
        color: #000;
      }
      &:hover {
        background: #fff;
        a.nav-item {
          color: #000;
        }
      }
      &.nav_right:hover {
        background: transparent;
      }
      &.morenavlink {
        position: relative;
        .sec_more {
          position: absolute;
          top: 40px;
          left: 0;
          z-index: 999999;
          display: none;
          box-shadow: 0 2px 1px #c0bebe;
        }
        .sec_submenu {
          background: #fff;
          overflow: hidden;
          width: 125px;
          ul li {
            padding: 0;
            display: block;
            height: auto;
            a {
              font-weight: bold;
              color: #000;
              font-size: 14px;
              height: 30px;
              padding: 0 10px;
              border-bottom: 1px solid #e2e2e2;
              line-height: 35px;
            }
          }
        }
      }
    }
  }
  .second-level-menu > ul li {
    padding: 0 9px 0;
    line-height: 37px;
    height: 35px;
    display: inline-block;
    vertical-align: top;
    a {
      font-size: 15px;
    }
    &.active {
      background: #fff;
      border-bottom: 4px solid #000;
      height: 31px;
    }
    &.innercurrent2 {
      background: #dcdcdc;
      border-bottom: 4px solid #dcdcdc;
      height: 30px;
      margin: 0 12px 0 0;
      position: relative;
      &:hover {
        background: #dcdcdc;
        border-bottom: 4px solid #dcdcdc;
        height: 30px;
        margin: 0 12px 0 0;
        position: relative;
      }
      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-left: 9px solid #dcdcdc;
        border-bottom: 7px solid transparent;
        top: 11px;
        right: -9px;
      }
    }
    &:hover {
      border-bottom: 4px solid #000;
      height: 31px;
    }
    &.morenavlink {
      position: relative;
      a {
        background-position: -5px -330px;
        margin-top: 15px;
      }
      .sec_more {
        position: absolute;
        top: 35px;
        left: 0;
        z-index: 999999;
        display: none;
        box-shadow: 0 2px 1px #c0bebe;
      }
      .sec_submenu {
        background: #fff;
        overflow: hidden;
        width: 125px;
        ul li {
          padding: 0;
          display: block;
          height: auto;
          border: 0;
          a {
            font-weight: bold;
            color: #000;
            font-size: 14px;
            height: 30px;
            padding: 0 10px;
            border-bottom: 1px solid #e2e2e2;
            line-height: 35px;
            display: block;
            margin-top: 0;
          }
        }
      }
    }
  }
}

.first-level-menu ul li.serchicon {
  float: right;
  b {
    background: url(/tech/images/nbt_sprite.png) no-repeat -8px -144px;
    width: 17px;
    height: 17px;
    cursor: default;
    display: inline-block;
    margin: 8px 6px 0 0;
    opacity: .1;
  }
}

.searchbox {
  background: #fff;
  box-shadow: 1px 1px 1px #ddd;
  width: 265px;
  height: 64px;
  position: absolute;
  top: 42px;
  right: 0;
  iframe {
    height: auto;
    width: 100%;
    margin: 0;
    border: 0;
  }
}

.fixmenu_wrap {
  position: relative;
  z-index: 12;
  .first-level-menu .go-to-nbt {
    background: #5b5b5b;
    position: absolute;
    width: 50px;
    height: 42px;
    display: block;
    a {
      font-size: 16px;
      padding: 7px 0 5px 0;
      line-height: 16px;
      font-weight: bold;
      font-family: arial;
      text-align: center;
      color: #fff;
      display: block;
      span {
        text-transform: initial;
        display: block;
        font-size: 11px;
        line-height: 12px;
        margin: 0 0 3px;
        font-weight: normal;
      }
    }
  }
  .first-level-menu h3.home {
    position: absolute;
    width: 45px;
    height: 42px;
    left: 50px;
    display: block;
    a {
      height: 17px;
      width: 20px;
      background-position: -7px -341px;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 2px;
      right: 0;
      margin: auto;
      text-indent: -10000px;
    }
    &.active {
      &:before {
        content: '';
        position: absolute;
        border-bottom: 3px solid #000;
        bottom: 0;
        left: 8px;
        right: 8px;
      }
    }
  }
  .menu_content {
    position: absolute;
    top: 42px;
    left: 95px;
    z-index: 999999;
    max-width: 80%;
    box-shadow: 0px 2px 1px #c0bebe;
    #applinks {
      .right_line {
        float: left;
        padding: 20px 15px 20px 20px;
      }
      .liveblocklink {
        float: left;
        ul li {
          display: block;
          a {
            display: block;
            height: 35px;
            line-height: 35px;
            width: inherit;
            font-size: 15px;
            font-family: 'NotoSans Bold', Arial, Helvetica, sans-serif;
          }
        }
      }
    }
  }
}

.topnav li {
  &:hover {
    background-color: #f5f5f5;
    color: #000;
    &.current {
      background: #000;
    }
  }
  &.morenav {
    background: url(https://navbharattimes.indiatimes.com//photo/33075413.cms) no-repeat 100% -34px;
    &:hover {
      background: url(https://navbharattimes.indiatimes.com//photo/33767150.cms) #000 no-repeat 100% -34px;
    }
    a {
      padding-right: 12px;
    }
  }
  &.home:hover {
    background-position: 4px -1187px;
    background-color: #000;
    background-image: url('https://navbharattimes.indiatimes.com//photo/30666887.cms');
  }
  &.navapps {
    background: url(https://navbharattimes.indiatimes.com//photo/62568340.cms) no-repeat 3px -1120px;
    margin: 0;
    padding: 0;
    float: right;
    &:hover {
      background: url(https://navbharattimes.indiatimes.com//photo/62568340.cms) #f5f5f5 no-repeat
        3px -1160px;
    }
    a {
      display: block;
      padding: 20px 12px 20px 12px;
      cursor: pointer;
      margin-right: 5px;
    }
  }
  &.navvideo {
    background: url(https://navbharattimes.indiatimes.com//photo/62568340.cms) no-repeat -2px -751px;
    margin: 0;
    padding: 0;
    float: right;
    &:hover {
      background: url(https://navbharattimes.indiatimes.com//photo/62568340.cms) #f5f5f5 no-repeat -2px -705px;
    }
    a {
      display: block;
      padding: 20px 15px 20px 15px;
      cursor: pointer;
    }
  }
  &.navphoto {
    background: url(https://navbharattimes.indiatimes.com//photo/62568340.cms) no-repeat 0px -664px;
    margin: 0;
    padding: 0;
    float: right;
    height: 40px;
    width: 29px;
    margin-right: 3px;
    &:hover {
      background: url(https://navbharattimes.indiatimes.com//photo/62568340.cms) #f5f5f5 no-repeat
        0px -624px;
    }
    a {
      display: block;
      cursor: pointer;
      padding: 20px 0px;
    }
  }
}

.fixmenu_wrap {
  .topsubmenu {
    background: #fff;
    overflow: hidden;
    padding: 0px;
    color: #000;
    //width: 1000px;
    a {
      text-decoration: none;
      color: #fff;
      font-size: 15px;
      &.nav_top_link {
        float: left;
        margin-bottom: 5px;
        line-height: 25px;
        width: 300px;
        font-family: 'NotoSans Bold', Arial, Helvetica, sans-serif;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin: 0;
        color: #000;
        height: auto;
      }
    }
  }
  .top_headline a:hover {
    text-decoration: underline;
  }
  .topsubmenu {
    a:hover {
      text-decoration: underline;
    }
    .top_sub_menu {
      width: 160px;
      float: left;
      height: 250px;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 10px 0 0px 0;
      li {
        padding: 0;
        margin: 0px 0px 0 0;
        float: none;
        width: auto;
        line-height: 24px;
        &:hover {
          background: transparent;
        }
        a {
          padding: 0px 0px 0px 15px;
          display: block;
          height: 35px;
          line-height: 35px;
          width: inherit;
          font-size: 15px;
          font-weight: normal;
          position: relative;
          font-family: 'NotoSans Bold', Arial, Helvetica, sans-serif;
          z-index: 2;
        }
        &:hover > a {
          color: #000;
          text-decoration: none;
        }
        a:after {
          position: absolute;
          content: '';
          background: #ccc;
          transform: skewX(-25deg);
          -webkit-transform: skewX(-25deg);
          width: 95%;
          height: 100%;
          left: -120px;
          top: 0;
          opacity: 0;
          z-index: -1;
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
        }
        &:hover a:after,
        &.current a:after {
          opacity: 1;
          left: -10px;
        }
      }
    }
  }
}

#state .right_line {
  float: left;
  margin: 0 0px -200px 20px;
  padding: 0 0 200px 0;
  width: 146px;
  background: url(https://navbharattimes.indiatimes.com//photo/45940660.cms) repeat-y right top;
  min-height: 250px;
  dl {
    margin: 10px 0 0 0;
  }
  dt {
    font-weight: bold;
    line-height: 23px;
    margin-bottom: 5px;
  }
  dd {
    float: none;
    padding: 2px 0 2px 0;
    margin: 2px 0 2px 0;
    line-height: 21px;
    position: relative;
    a {
      font-weight: normal;
      color: #595959;
      font-size: 14px;
    }
  }
  &:last-child {
    background: none;
  }
}

.nvvideo {
  right: 0px;
}

#video .top_sub_menu,
#photo .top_sub_menu {
  width: 160px;
}

.nav_gadgets {
  width: 640px;
  float: left;
  padding: 20px 0 5px 0;
  ul {
    width: 625px;
    list-style: none;
    margin-left: 15px;
  }
}

.fixmenu_wrap .nav_gadgets ul li {
  width: 110px;

  margin: 0 20px;
  position: relative;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.nav_gadgets ul li {
  a {
    display: block;
    line-height: 18px;
    padding: 0;
  }
  .vplay {
    position: absolute;
    top: 5%;
    left: 6%;
    height: 25px;
    width: 25px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    &:after {
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 8px solid #000;
      border-right: 0 solid transparent;
      z-index: 2;
      content: '';
      position: absolute;
      left: 55%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .navVideoText {
    font-size: 13px;
    display: block;
    line-height: 17px;
    width: 110px;
    padding: 0;
    font-weight: normal;
    margin: 5px 0 10px 0;
  }
}

.topnav li.navapps .navappsdrop {
  left: auto;
  .topsubmenu {
    width: auto;
  }
}

.topsubmenu {
  .top_more_links {
    float: left;
    width: 107px;
    padding: 5px 20px 10px 20px;
    .head {
      font-size: 18px;
      line-height: 17px;
      padding-top: 19px;
      color: #000;
      font-weight: bold;
      font-family: 'NotoSans Bold', Arial;
    }
    ul {
      padding: 10px 0;
      li {
        padding: 5px 0;
        font-size: 13px;
        line-height: 13px;
        float: none;
        height: auto;
        &:hover {
          background: none;
        }
        a {
          font-size: 13px;
          font-weight: normal;
        }
      }
    }
    .ad_banner {
      font-size: 17px;
      line-height: 21px;
    }
  }
  .top_headline {
    width: auto;
    /*width:320px*/
    padding: 20px 15px 11px 14px;
    float: left;
    img {
      float: left;
      margin: 0 10px 0 6px;
    }
    .first_headline {
      font-size: 15px;
      font-weight: bold;
    }
    p {
      font-size: 14px;
      color: #b5b5b5;
      line-height: 23px;
      margin: 0;
      padding: 0px 0 0px 0;
      float: left;
      width: 225px;
    }
    .top_list {
      clear: both;
      padding: 10px 0 0 0;
      li {
        float: none;
        padding: 3px 0 3px 0;
        margin: 0 0 0 15px;
        line-height: 21px;
        position: relative;
        display: block;
        a {
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
        }
        &:before {
          content: '';
          position: absolute;
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background: #000000;
          left: -15px;
          top: 10px;
        }
      }
    }
  }
  
  .top_photogallery {
    width: 500px;
    float: left;
    padding: 15px 0 0 15px;
    background: none;
    .head {
      font-size: 18px;
      font-family: 'NotoSans Bold', Arial;
      padding: 19px 0 10px 0;
      line-height: 21px;
    }
    .more_photo {
      font-weight: normal;
      font-size: 13px;
      line-height: 17px;
      height: auto;
      text-align: right;
      display: block;
      margin: 2px 0 0 0;
    }
  }
}

#shop.topsubmenu .top_headline .top_list li, #compare.topsubmenu .top_headline .top_list li{
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin-right: 5%;
  &:nth-child(3n+3){
    margin-right: 0;
  }
}

#tips-tricks.topsubmenu .top_headline{min-width: 450px;}

.top_photogallery .pic {
  display: block;
  line-height: 21px;
}

.topsubmenu .top_photogallery {
  span {
    display: block;
    line-height: 17px;
    font-size: 13px;
  }
  .head a {
    float: left;
    font-size: 16px;
    margin-bottom: 10px;
    background: url(https://navbharattimes.indiatimes.com//photo/62568340.cms) no-repeat 60px -786px;
    padding-right: 20px;
  }
}

.right_line,
.fixmenu_wrap .menu_content ul.right_line {
  background: url(https://static.langimg.com/photo/45940660.cms) repeat-y right top;
  float: left;
}

#morelinks {
  ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 166px;
    li {
      padding: 12px 20px;
      margin: 0;
      float: none;
      background: url(https://navbharattimes.indiatimes.com//photo/45940618.cms) repeat-x bottom
        left;
      display: block;
      a {
        font-family: 'NotoSans Bold', Arial;
        line-height: 31px;
      }
      &.none {
        background: none;
      }
    }
  }
  li a {
    background: url(https://navbharattimes.indiatimes.com//photo/62568340.cms);
    background-repeat: no-repeat;
    display: block;
    background-position: -300px 0px;
    &.vichar_manch_icon {
      background-position: -3px -3px;
      padding-left: 34px;
    }
    &.blog_icon {
      background-position: -3px -40px;
      padding-left: 34px;
    }
    &.apnblog_icon {
      background-position: -3px -80px;
      padding-left: 34px;
    }
    &.nbttwit_icon {
      background-position: -3px -120px;
      padding-left: 34px;
    }
    &.nbtqna_icon {
      background-position: -3px -162px;
      padding-left: 34px;
    }
    &.nbtsunday_icon {
      background-position: -6px -204px;
      padding-left: 34px;
    }
    &.nbtsup_icon {
      background-position: -6px -244px;
      padding-left: 34px;
    }
    &.nbtjatpat_icon {
      background-position: -6px -285px;
      padding-left: 34px;
    }
    &.photodhamaal_icon {
      background-position: -2px -327px;
      padding-left: 34px;
    }
    &.nbtnewl_icon {
      background-position: -2px -368px;
      padding-left: 34px;
    }
    &.hindustaani_icon {
      background-position: -2px -1318px;
      line-height: 31px;
      padding-left: 34px;
    }
    &.nbtlive_icon {
      background-position: -6px -410px;
      padding-left: 34px;
    }
    &.nbtmobile_icon {
      background-position: -3px -454px;
      padding-left: 34px;
    }
    &.nbtapp_icon {
      background-position: -2px -502px;
      padding-left: 34px;
    }
    &.helpline_icon {
      background-position: -1px -545px;
      padding-left: 34px;
    }
    &.feedback_icon {
      background-position: -2px -585px;
      padding-left: 34px;
    }
    &.ePaper_icon {
      background-position: -2px -1081px;
      padding-left: 34px;
    }
    &.achedin_icon {
      background-position: 0px -3541px;
      padding-left: 34px;
    }
    &.navradio {
      background-position: 0px -4075px;
      padding-left: 27px;
      line-height: 20px;
      padding-left: 34px;
    }
  }
}

.topmoregallerys {
  clear: both;
  span {
    float: left;
    width: 110px;
    margin: 0 15px 15px 0;
    clear: none;
    .txt {
      font-size: 13px;
      display: -webkit-box;
      line-height: 17px;
      margin: 10px 0 0;
      max-height: 34px;
    }
  }
}

.trending .heading {
  span,
  a {
    line-height: 30px;
    color: #000;
    font-size: 22px;
    font-family: 'NotoSans Bold', Arial;
  }
}

.topnav li.navsearch:hover {
  background: url(https://navbharattimes.indiatimes.com//photo/62568340.cms) #f5f5f5 no-repeat 0px -4880px;
}

.fixmenu_wrap {
  .menu_content {
    a {
      color: #000;
    }
    ul {
      background: transparent;
      height: auto;
      line-height: normal;
      padding: initial;
      position: initial;
      z-index: 12;
      width: auto;
    }
  }
  .topsubmenu .top_sub_menu li {
    display: block;
  }
}



body.continent-eu {
  .gaanaplayer_box,
  .epaper,
  .wdt_newsletter,
  .poll_card,
  .globalnav .user_area {
    display: none !important;
    visibility: hidden !important;
  }
}

.adsdivlyr {
  width: 1003px;
  margin: 0 auto;
}

#tileyeDiv {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  -webkit-transition: all 2s ease;
}

.widget-postlogin {
  margin-right: 10px;
}

.tpwidget-postlogin {
  position: absolute;
  width: 185px;
  right: 0px;
  z-index: 100;
  transition: width linear 0.7s;
  &:hover {
    width: 540px;
  }
}

.widget-postlogin a {
  color: #000 !important;
}

.tpwidget {
  .widget-postlogin .widget-text,
  .widget-prelogin .widget-text {
    font-size: 12px !important;
  }
  .tpwidget-inline {
    background-color: #edecec !important;
    color: #000 !important;
    border-radius: 15px !important;
    padding: 1px 8px 1px 10px !important;
  }
  .tp-btn {
    background-color: #3927b1;
    background-image: linear-gradient(to right, #3927b1, #9454c8);
    color: #fff !important;
    border: 0 !important;
    font-size: 11px !important;
    margin: 1px 2px 1px 8px !important;
    &:hover {
      background-color: #3927b1;
      background-image: linear-gradient(to right, #3927b1, #9454c8);
      color: #fff !important;
      border: 0 !important;
      font-size: 11px !important;
      margin: 1px 2px 1px 8px !important;
    }
  }
  .widget-postlogin {
    .tp-btn {
      margin: 0 2px 1px 8px !important;
      &:hover {
        margin: 0 2px 1px 8px !important;
      }
    }
    .hover-state {
      background-color: #edecec !important;
    }
    &:hover .normal-state:after {
      border-bottom: 35px solid #edecec !important;
    }
    .hover-state .widget-text {
      display: inline-block !important;
      font-weight: bold !important;
      margin: 4px 0 0 0 !important;
    }
  }
  .odometer-num .odometer-inside {
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    margin-top: 2px;
  }
}

.fixmenu_wrap .menu_content.home_links ul {
  display: inline-block;
  width: 125px;
  min-height: 180px;
  vertical-align: top;
  li {
    border-bottom: 1px #eaeaea solid;
    border-right: 1px #eaeaea solid;
    display: block;
    a {
      line-height: 38px;
      font-weight: bold;
      color: #000;
      padding: 3px 0 3px 20px;
      text-decoration: none;
    }
  }
}

.fixmenu_wrap .gn-search-result {
  position: absolute;
  right: 0;
  top: 35px;
  padding: 5px;
  float: none;
  z-index: 99999;
  width: 315px;
  height: auto;
  background: #f4f4f4;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  border: 1px solid #d8d8d8;
}
.fixmenu_wrap .gn-search-result ul {
  border: 1px solid #d8d8d8;
}
.fixmenu_wrap .gn-search-result ul li.head {
  padding-left: 4px;
  background-color: #ebebeb;
  font-weight: bold;
  height: 30px;
  line-height: 33px;
}
.fixmenu_wrap .gn-search-result ul li {
  display: block;
  line-height: 20px;
  font-size: 14px;
  position: relative;
  border: 1px solid #d8d8d8;
  background: #fff;
  line-height: normal;
  height: auto;
}
.fixmenu_wrap .gn-search-result ul li a {
  color: #454545;
  padding: 4px 0;
  display: block;
  border: 1px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 42px;
}

ul.search_container li input {
  border: 0;
  background: transparent;
  height: 30px;
  padding: 2px 5px 0 7px;
  font-size: 14px;
  color: #454545;
  border-radius: 0;
  display: inline-block;
  vertical-align: top;
  width: 120px;
}
.first-level-menu ul li.serchicon:hover{background: transparent;}

.first-level-menu ul li.serchicon .search-with-icon{    border: 1px solid #d8d8d8;
  background: #f5f5f5;
  height: 32px;
  margin: 5px 0 0 0;}

ul.search_container li.serchicon b {
  background-position: -8px -266px;
}
