.most_read {
    border: 2px #e2e2e2 solid;
    ol.tab-list {
      border: 0;
      margin: 0 0 10px;
      li {
        padding: 0;
        width: 50%;
        margin: 0;
        background: #ccc;
        &.active {
          border: 0;
          background: #fff;
        }
      }
    }
    .tab-content {
      margin: 0 0 5px;
      ul {
        height: 158px;
        overflow-x: hidden;
        overflow-y: auto;
        li {
          margin: 0 10px 5px;
        }
        &.content_most_read li {
          margin-left: 20px;
        }
        &.content_live_cmt li:before {
          display: none;
        }
      }
    }
    .content_live_cmt li {
      border-bottom: solid 1px #e3e3e3;
      a {
        font-size: 15px;
        font-weight: bold;
        line-height: 23px;
      }
      .desc {
        font-size: 13px;
        line-height: 23px;
        b {
          color: #044e97;
          font-weight: normal;
        }
      }
    }
    .moremostviewed {
      background: #e2e2e2;
      text-align: right;
      color: #003399;
      font-size: 14px;
      line-height: 28px;
      height: 24px;
      padding: 0 10px 0 0;
      margin: 5px;
    }
  }