.social_tools{margin:10px 0}
.social_tools span{vertical-align: top; margin-right:5px}
.social_tools span:last-child{margin-right: 0}
.social_icons{background-image: url(/tech/images/pwa_gn_sprite.svg?v=07062019);  background-size: 100px 942px; background-repeat: no-repeat; cursor: pointer; display: inline-block;  width: 46px; height: 36px; text-indent: -10000px;}
.facebook {background-position: -50px -811px;}
.twitter {background-position: -5px -855px;}
.share_email {background-position: -5px -811px; width:42px;}
.show_comments {background-position: -54px -855px; width: 43px; }
/*
.gplus {background-position: -10px -2127px;}
.subscribe_newsletter {background-position: -3px -2358px; width: 188px;}
.print_this {background-position: -3px -364px; width: 26px; height: 26px; float: right; margin-top: 7px}
*/



