  .footer {
    .top_social_links {
      background: #000;
      padding: 20px;
    }
    .footer_wrapper {
      max-width: 1000px;
      margin: 0 auto;
      clear: both;
    }
    .top_social_links {
      .nbtLogo {
        background-position: -3px -299px;
        width: 104px;
        height: 35px;
        display: inline-block;
        margin: 0 20px 0 0;
        vertical-align: top;
        text-indent: -2000px;
      }
      .gnLogo {
        background-image: url(https://static.toiimg.com/photo/69197429.cms);
        background-position: 0 0;
        background-repeat: no-repeat;
        width: 65px;
        height: 42px;
        display: inline-block;
        vertical-align: top;
        text-indent: -2000px;
      }
      .first {
        border-right: 1px solid #606060;
        width: 13%;
        padding: 0 15px;
        display: inline-block;
        vertical-align: top;
      }
      .second {
        padding: 0 15px;
        width: 40%;
        display: inline-block;
        vertical-align: top;
      }
      span {
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
      }
    }
    .icon_facebook {
      background-position: -38px -76px;
      width: 36px;
      height: 37px;
      margin: 0 20px 0 0;
    }
    .icon_twitter {
      background-position: -38px -121px;
      width: 36px;
      height: 37px;
      margin: 0 20px 0 0;
    }
    .icon_googleplus {
      background-position: -38px -167px;
      width: 36px;
      height: 37px;
    }
    .top_social_links .third {
      padding: 0 15px;
      width: 35%;
      display: inline-block;
      vertical-align: top;
      b {
        display: inline-block;
        vertical-align: top;
        margin: 0 30px 0 0;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
      }
    }
    .icon_ios {
      background-position: -38px -252px;
      width: 36px;
      height: 37px;
    }
    .icon_android {
      background-position: -38px -211px;
      width: 36px;
      height: 37px;
      margin: 0 20px 0 0;
    }
    .headingsWithOtherSites {
      background: #333;
      padding: 20px;
      .inside-links, .other-sites {
        display: inline-block;
        vertical-align: top;
        width: 50%;
      }
      h4 {
        font-size: 22px;
        margin: 0 0 10px;
        color: #fff;
        display: block;
      }
      a {
        display: inline-block;
        font-size: 14px;
        line-height: 22px;
        color: #c3c3c3;
        text-decoration: none;
        &:hover {
          display: inline-block;
          font-size: 14px;
          line-height: 22px;
          color: #c3c3c3;
          text-decoration: none;
        }
      }
    }
    .popluarCategories a {
      display: inline-block;
      font-size: 14px;
      line-height: 22px;
      color: #c3c3c3;
      text-decoration: none;
      &:hover {
        display: inline-block;
        font-size: 14px;
        line-height: 22px;
        color: #c3c3c3;
        text-decoration: none;
      }
    }
    .headingsWithOtherSites a:after, .popluarCategories a:after, .con-copy-right span a:after {
      content: "|";
      margin: 0 3px;
    }
    .headingsWithOtherSites a:last-child:after, .popluarCategories a:last-child:after, .con-copy-right span a:last-child:after {
      content: "";
      margin: 0;
    }
    .popluarCategories {
      ul li {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin-bottom: 15px;
        &.wdth25 {
          width: 23%;
          padding-right: 2%;
        }
      }
      background: #212121;
      padding: 15px 20px;
      h3 {
        font-size: 18px;
        margin: 0 0 10px;
        color: #fff;
        display: block;
      }
      ul:last-child li:last-child {
        margin-bottom: 0;
      }
    }
    .con-copy-right{
      text-align: center;
      padding: 20px 0;
      background: #333;
      color: #979797;
      font-family: Arial;
      font-size: 12px;
      line-height: 16px;
      .times-links {
        text-align: center;
        margin: 0 0 10px;
        a {
          color: #fdfdfd;
          display: inline-block;
          vertical-align: top;
          &:after {
            content: "|";
            margin: 0 3px;
          }
          &:last-child:after {
            content: "";
            margin: 0;
          }
        }
      }
      .other-info {
        text-align: center;
        color: #ccc;
        a{
          color:#fff;
        }
      }
      .footfbLike{
        display: block;
       margin: 25px 0 12px 0;
       font-size: 14px;
       color: #fff;
      }
    }
  }
