
.wdt_reviews ul li{display: inline-block; vertical-align: top; width: 310px; margin: 0 10px 0 0; position: relative;}
.wdt_reviews ul li:nth-child(-n+2){margin:0 10px 15px 0}
.wdt_reviews ul li:nth-child(-n+2) .img_container{width:auto; margin: 0}
.wdt_reviews ul li:nth-child(-n+2) .txt_container{position: absolute; bottom: 0; left:0; right:0; padding: 30px 10px 10px; background: linear-gradient(transparent, rgba(0, 0, 0, 0.9)); margin: 0;}
.wdt_reviews ul li:nth-child(-n+2) .txt_container>a{color:#fff; font-weight: bold; display: -webkit-box;}
.wdt_reviews ul li:nth-child(-n+2) .txt_container .rating_txt{margin:2px 0 0 0; color: #fff; width: 38%; vertical-align: bottom; display: inline-block; text-align: right;}
.wdt_reviews ul li:nth-child(-n+2) .txt_container .more_txt{margin-bottom: 0; display: inline-block; vertical-align: top; width: 60%; margin-right: 2%;}
.wdt_reviews ul li:nth-child(-n+2) .txt_container .more_txt a{color:#fff; font-weight: normal;}

.wdt_reviews ul li .img_container{float: left; width:110px; margin:0 10px 15px 0}
.wdt_reviews ul li .txt_container{display:block;}
.wdt_reviews ul li .txt_container a{font-size: 16px; line-height: 24px; max-height: 48px;}
.wdt_reviews ul li:nth-child(2n+2){margin-right: 0}
.wdt_reviews ul li .txt_container .more_txt{display: block; margin: 0 0 3px;}
.wdt_reviews ul li .txt_container .more_txt a{color: #1a75ff; font-size: 12px; line-height: 20px;position: relative;}
.wdt_reviews ul li .txt_container .more_txt a:after{content: '|'; margin:0 3px}
.wdt_reviews ul li .txt_container .more_txt a:last-child:after{content: ''; margin: 0;}
.wdt_reviews ul li .txt_container .rating_txt{display: block; color: #505050; font-size: 12px; margin:0 0 10px;}
.wdt_reviews ul li .txt_container .rating_txt b {font-family: arial;}
.wdt_reviews ul li .txt_container .rating_txt b small {color: #f5a623; font-size: 12px;}


.select-inline-gadgets{margin-bottom: 30px}
.select-inline-gadgets .slider{width: 630px}
.select-inline-gadgets .slider .slider_content li .slide{width:183px; display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 5px #b8b8b8;
  white-space: normal;
  text-align: center;
  margin: 5px 15px 5px 5px;
  padding: 5px;
  min-height: 283px; position: relative;}
.select-inline-gadgets .slider .slider_content li .slide:nth-child(3n+3){margin-right: 0}
.select-inline-gadgets .slider .slider_content li .slide .txt_container{display: block; font-size: 16px; line-height: 24px; font-weight: bold; white-space:normal; margin: 10px 0 0 0;}
.select-inline-gadgets .slider .btnPrev, .select-inline-gadgets .slider .btnNext{top:0; bottom: 0}
.select-inline-gadgets .slider.trendingslider span{display: block;}

.select-inline-gadgets .slider.trendingslider .slide.upcoming .top-caption, .select-inline-gadgets .slider.trendingslider .slide.rumoured .top-caption{display: block;}
.select-inline-gadgets .slider.trendingslider .slide.upcoming .top-caption:after{content: 'आने वाले'}
.select-inline-gadgets .slider.trendingslider .slide.rumoured .top-caption:after{content: 'संभावित'}

.select-inline-gadgets .slider.trendingslider .prod_img {width: auto; height: 120px; padding-top:20px}
.select-inline-gadgets .slider.trendingslider img {max-width: initial; max-height: 100px;}
.select-inline-gadgets .slider.trendingslider .title{display: inline-block;}
.select-inline-gadgets .slider.trendingslider .title a{font-size: 16px; line-height: 24px; height: 48px; font-weight: bold}
.select-inline-gadgets .slider.trendingslider .rating{color: #505050; font-size: 14px; line-height: 22px;}
.select-inline-gadgets .slider.trendingslider .rating b{font-weight: normal; color: #f5a623;}
.select-inline-gadgets .slider.trendingslider .rating a{color: #135394}
.select-inline-gadgets .slider.trendingslider .price{margin-top: 5px; font-family: arial; min-height:21px}
.select-inline-gadgets .slider.trendingslider .price b{font-size:18px; font-weight: bold;}
.select-inline-gadgets .slider.trendingslider .btn_wrap{margin-top: 5px;}
.select-inline-gadgets .slider.trendingslider .btn_wrap .buy_btn{display: inline-block;}
.select-inline-gadgets .inline-gadgets-content{position: relative; min-height: 280px}

.wdt_brands_slider.full_section{width:auto; position: relative;}
.wdt_brands_slider.full_section .slider{width: 960px; margin-bottom: 30px}
.wdt_brands_slider.full_section .slider .slider_content li .slide{width:150px; margin:0 6px 0 0; text-align: center; border-right:1px solid #bcbcbc; height: 85px; padding-top: 15px;}
.wdt_brands_slider.full_section .slider .slider_content li .slide img{max-width: 120px; max-height: 40px;}
.wdt_brands_slider.full_section .slider .slider_content li:last-child .slide:last-child{border:0; margin-right: 0}
.wdt_brands_slider.full_section .slider .slider_content li .slide .txt_container{display: block; font-size: 14px; line-height: 22px; font-weight: bold; white-space:normal; margin: 15px 0 0 0; text-transform: uppercase}
.wdt_brands_slider.full_section .slider .slider_content li .slide .txt_container a{color:#727272;}
.wdt_brands_slider.full_section .slider .btnPrev, .wdt_brands_slider.full_section .slider .btnNext{top:35px;}
.wdt_brands_slider.full_section ul.tabs{position: absolute; top:5px; right: 0; margin: 0}
.wdt_brands_slider.full_section .brands_content{position: relative; min-height: 100px;}

.tips-tricks ul li:first-child{margin:0 0 15px 0; width: 630px; position: relative; display: block;}
.tips-tricks ul li:first-child .img_container{width:auto; margin: 0; float: none; display: block}
.tips-tricks ul li:first-child .txt_container{position: absolute; bottom: 0; left:0; right:0; padding: 50px 10px 10px; background: linear-gradient(transparent,rgba(0,0,0,.9)); margin: 0;}
.tips-tricks ul li:first-child .txt_container a{color:#fff; font-weight: bold; font-size: 22px; line-height: 32px;}

.tips-tricks ul li{display: inline-block; vertical-align: top; width: 310px;}
.tips-tricks ul li .img_container{float: left; width:110px; margin:0 10px 15px 0}
.tips-tricks ul li .txt_container{display:block;}
.tips-tricks ul li .txt_container a{font-size: 16px; line-height: 24px;}

#cubeFrm.show {
  display: block;
}
#cubeFrm.hide {
  display: none;
}