.subscribe_newsletter {
    border: 2px #e2e2e2 solid;
    padding: 10px 5px 12px 8px;
    h2 {
      background: url(https://navbharattimes.indiatimes.com/photo/49997518.cms) no-repeat 0px 0px;
      padding-left: 58px;
      color: #000;
      font-size: 24px;
      margin: 0 0 15px;
      line-height: 47px;
      height: auto;
      font-weight: normal;
    }
    .option-mor, .option-eve {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      overflow: hidden;
      font-size: 16px;
    }
    .option-mor input[type='checkbox'], .option-eve input[type='checkbox'] {
      float: left;
      margin: 3px 5px 0;
    }
    .select-sign {
      display: block;
      margin: 15px 0 0 0;
      select {
        padding: 0 5px;
        height: 30px;
        width: 90%;
        font-size: 16px;
      }
    }
    .enter-email {
      display: inline-block;
      width: 60%;
      vertical-align: top;
      margin: 15px 0 0 0;
      input {
        height: 28px;
        width: 93%;
        padding: 0 5px;
      }
    }
    .btn {
      background: #000;
      color: #fff;
      border: 0;
      line-height: 33px;
      display: inline-block;
      vertical-align: top;
      margin: 15px 0 0;
    }
    .error-msg {
      margin: 5px 0;
    }
  }