.leftmain {
  position: relative;
}
.videoshow_body {
  padding: 15px 10px;
  .section {
    h2 {
      padding: 15px 0 0px 0;

      a,
      span {
        padding: 0;
        margin: 0;
      }
      a:after,
      span:after {
        display: none;
      }
    }
  }

  .section ul li a {
    float: left;
  }
  .vdtext {
    clear: both;
    .videotitle {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 5px;
    }
    .article_datetime {
      font-size: 12px;
      color: #000;
      font-weight: normal;
      font-family: arial;
      display: block;
      margin: 0 0 5px;
    }
    .videodescription {
      font-size: 14px;
      line-height: 21px;
      padding-bottom: 10px;
    }
  }
  .videosharing {
    float: left;
    list-style: none;
    height: 30px;
    padding-top: 14px;
    li {
      position: relative;
      list-style: none;
      float: left;
      font-size: 10px;
      font-family: arial;
      margin: 0 14px;
      text-transform: uppercase;
      cursor: pointer;
      border-right: 1px #ddd solid;
      padding-right: 5px;
      span,
      a {
        font-size: 12px;
        font-family: arial;
        text-transform: uppercase;
      }
      &.share_more {
        position: relative;
      }
      ul {
        position: absolute;
        background: #fff;
        height: 30px;
        width: 300px;
        top: 0;
        right: -9px;
        line-height: 17px;
        padding: 10px 0;
        z-index: 999;
        box-shadow: 0 0 -3px rgba(0, 0, 0, 0.2);
        transition: all 0.5s;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
  }
  #moreEmbed {
    opacity: 0;
    z-index: -1;
  }
  .videosharing li {
    ul {
      &#moreEmbed.active {
        top: -48px;
        opacity: 1;
        z-index: 1;
      }
      &:before {
        background: #fff;
        opacity: 0.5;
        position: absolute;
        top: -200px;
        width: 300px;
        height: 300px;
        left: 0;
        z-index: 99;
      }
      li {
        float: right;
        margin: 0 15px;
        &.vid_embbed {
          border-right: 0;
          padding-right: 0;
          margin-right: 0;
          margin-left: 15px;
        }
      }
    }
    &.share_more {
      border-right: 0;
      padding-right: 0;
      margin-right: 0;
      margin-left: 8px;
    }
    &.vid_later {
      border-right: 0;
      margin: 0 10px;
      padding: 0;
    }
    &:before {
      position: absolute;
      content: '';
      background-image: url(https://static.langimg.com/photo/58143351.cms);
      background-repeat: no-repeat;
      left: 0;
      top: -3px;
    }
    &.vid_fb:before {
      background-position: 0 -200px;
      width: 8px;
      height: 17px;
      left: -14px;
      top: -3px;
    }
    &.vid_twt:before {
      background-position: -14px -200px;
      width: 17px;
      height: 17px;
      left: -22px;
      top: 1px;
    }
    &.vid_embbed:before {
      background-position: -83px -200px;
      width: 18px;
      height: 12px;
      left: -23px;
      top: 1px;
    }
    &.vid_in:before {
      background-position: -60px -200px;
      width: 16px;
      height: 15px;
      left: -22px;
      top: -2px;
    }
    &.vid_plus:before {
      background-position: -39px -200px;
      width: 14px;
      height: 14px;
      left: -19px;
      top: 1px;
    }
    &.share_more {
      &:before {
        border: solid #727272;
        width: 7px;
        height: 7px;
        border-width: 0 2px 2px 0;
        transform: rotate(-135deg);
        left: -16px;
        top: 5px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
      }
      &.less:before {
        border: solid #be281a;
        width: 7px;
        height: 7px;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        left: -16px;
        top: 2px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
      }
    }
  }
  .vdtext.low {
    opacity: 0.25;
  }
  .videosharing li.share_more.less {
    color: #be281a;
    li {
      color: #000;
    }
  }
}

.overlay {
  position: fixed;
  background: #000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.emmbedUrl {
  position: absolute;
  display: block;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  top: 40%;
  background: #fff;
  z-index: 9999;
  height: 130px;
}
#emebecodeval {
  word-wrap: break-word;
  padding: 20px;
  font-family: arial;
  font-size: 13px;
  height: 59px;
  overflow-y: scroll;
}
.emmbedhead {
  background: #403f3f;
  padding: 5px 10px;
  color: #fff;
  overflow: hidden;
}
.emmbedhead .txt {
  font-size: 15px;
  color: #fff;
  font-family: arial;
}
.emmbedhead .close {
  float: right;
  font-size: 15px;
  color: #fff;
  font-family: arial;
  cursor: pointer;
}

.keyinfo {
  padding: 10px 0 0 0;
  border-top: 1px #ddd dotted;
  font-size: 14px;
  margin-bottom: 10px;
  clear: both;
  strong {
    padding: 0 10px 0 0;
    font-weight: bold;
  }
  a,
  span {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    text-transform: capitalize;
    color: #044e97;
    &:after {
      content: '|';
      margin: 0 5px;
    }
    &:last-child:after {
      content: '';
      margin: 0 5px;
    }
  }
}

.web_title {
  font-family: arial;
  font-size: 14px;
  margin-bottom: 10px;
  border-bottom: 1px #ddd dotted;
  padding-bottom: 10px;
  clear: both;
  strong {
    font-weight: bold;
  }
  span {
    color: rgb(153, 153, 153);
    font-size: 13px;
    display: block;
    margin: 5px 0 0 0;
    a{
      color:#044e97;
      margin-right: 5px;
    }
  }
}
.publishedData {
  float: right;
  margin: 10px -30px 10px 0;
  .newsdate {
    font-size: 12px;
    color: #8c8c8c;
  }
  .views {
    font-size: 12px;
    color: #8c8c8c;
  }
  .watchlater {
    margin: 0 5px;
  }
}

.topvid {
  clear: both;
  margin-bottom: 15px;
  height: 350px;
  overflow: auto;

  li {
    min-height: 75px;
    overflow: hidden;
    border-bottom: 1px #ddd solid;
    position: relative;
    padding: 5px 0;
    margin: 5px 0;
    img.album-img {
      float: left;
      margin-right: 10px;
    }

    .vidtxt {
      float: left;
      width: 160px;

      a {
        font-size: 14px;
        line-height: 17px;
      }
      .newsdate {
        font-size: 12px;
        font-family: arial;
        color: #8c8c8c;
        display: block;

        margin-top: 5px;
      }
    }
    .duration {
      background: #000;
      display: block;
      padding: 5px 2px 0 5px;
      color: #fff;
      font-size: 11px;
      line-height: 16px;
      position: absolute;
      right: 0;
      top: 113px;
      z-index: 9999;
    }
  }
}
