.vdsliders h2 {
  color: #be281a;
  font-size: 24px;
  margin-bottom: 10px;
  display: inline-block;
  a {
    color: #be281a;
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.vdlist h1 {
  color: #be281a;
  font-size: 24px;
  margin-bottom: 10px;
}

.vdsliders h2 span {
  color: #666;
  font-size: 24px;
}

.vdlist li {
  width: 174px;
  vertical-align: top;
  display: inline-block;
  margin: 0 22px 22px 0;
  float: none;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px #ddd;
  background: #fff;
  transition: 0.5s ease;
  &.section {
    width: 174px;
    vertical-align: top;
    display: inline-block;
    margin: 0 22px 22px 0;
    float: none;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px #ddd;
    background: #fff;
    transition: 0.5s ease;
  }
}

.vdsliders {
  .slider .slider_content li .slide,
  li .section {
    width: 174px;
    vertical-align: top;
    display: inline-block;
    margin: 0 22px 22px 0;
    float: none;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px #ddd;
    background: #fff;
    transition: 0.5s ease;
  }
}

.vdlist li {
  &:hover,
  &.section:hover {
    box-shadow: 0 0 30px #888;
  }
}

.vdsliders {
  .slider .slider_content li .slide:hover,
  li .section:hover {
    box-shadow: 0 0 30px #888;
  }
}

.vdlist li:after {
  content: '';
  background: #fff;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.5s ease;
}

.vdsliders {
  .slider .slider_content li .slide:after,
  li .section:after {
    content: '';
    background: #fff;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 0.5s ease;
  }
}

.vdlist li:hover:after {
  width: 100%;
  background: #c22522;
}

.vdsliders {
  .slider .slider_content li .slide:hover:after,
  li .section:hover:after {
    width: 100%;
    background: #c22522;
  }
}

.vdlist li:hover a {
  color: #c22522;
}

.vdsliders {
  .slider .slider_content li .slide:hover a,
  li .section:hover a {
    color: #c22522;
  }
}

.vdlist li {
  &:nth-child(5n) {
    margin-right: 0;
  }
  &.inline-slide > a:first-of-type {
    position: relative;
    display: block;
    height: 134px;
  }
}

.vdsliders li .slide > a:first-of-type {
  position: relative;
  display: block;
  height: 134px;
}

.vdlist li.inline-slide > a:first-of-type:before,
.vdsliders li .slide > a:first-of-type:before {
  background: rgba(0, 0, 0, 0.9);
  width: 0;
  height: 0;
  border-radius: 50%;
}

.vdlist li.inline-slide > a:first-of-type {
  &:after,
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-54%, -50%);
    z-index: 1;
    visibility: hidden;
    transition: 0.25s ease;
    border: 2px solid #fff;
  }
}

.vdsliders li .slide > a:first-of-type {
  &:after,
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-54%, -50%);
    z-index: 1;
    visibility: hidden;
    transition: 0.25s ease;
    border: 2px solid #fff;
  }
}

.vdlist li.inline-slide > a:first-of-type:after,
.vdsliders li .slide > a:first-of-type:after {
  border-bottom: 0 solid transparent;
  border-left: 0 solid #fff;
  border-top: 0 solid transparent;
  border-right: 0 solid transparent;
  z-index: 2;
}

.vdlist li.inline-slide:hover > a:first-of-type {
  &:after,
  &:before {
    visibility: visible;
  }
}

.vdsliders li .slide:hover > a:first-of-type {
  &:before,
  &:after {
    visibility: visible;
  }
}

.vdlist li.inline-slide:hover > a:first-of-type:before,
.vdsliders li .slide:hover > a:first-of-type:before {
  height: 40px;
  width: 40px;
}

.vdlist li.inline-slide:hover > a:first-of-type:after,
.vdsliders li .slide:hover > a:first-of-type:after {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 10px solid #fff;
  z-index: 2;
}

.vdlist li .img,
.vdsliders li .img {
  display: block;
  transform: scale(1);
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.vdlist li .slidelink,
.vdsliders li .slidelink {
  color: #333;
  white-space: normal;
  overflow: hidden;
  position: relative;
  padding-right: 1em;
}

.vdlist li .duration,
.vdsliders li .duration {
  background: #000;
  display: block;
  padding: 5px 2px 0 5px;
  color: #fff;
  font-size: 11px;
  line-height: 16px;
  position: absolute;
  right: 0;
  top: 113px;
  z-index: 10;
}

.vdlist li .vdimage,
.vdsliders li .vdimage {
  position: relative;
  line-height: 0 !important;
  display: block;
  height: 134px;
  overflow: hidden;
}

.vdlist li .vidtxt,
.vdsliders li .vidtxt {
  clear: both;
  margin: 0 10px 14px 10px;
  padding: 10px 0;
  border-bottom: 1px #ddd solid;
  height: 45px;
  overflow: hidden;
}
.vdlist li .vidtxt a.slidelink.text_ellipsis,
.vdsliders li .vidtxt a.slidelink.text_ellipsis{
  font-size: 13px;
  line-height: 21px;
  max-height: 42px;
}
.vdlist li .newsdate,
.vdsliders li .newsdate {
  float: left;
  font-size: 12px;
  font-family: arial;
  color: #8c8c8c;
  padding-left: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.vdlist li .watchlater,
.vdsliders li .watchlater {
  float: right;
  margin-right: 10px;
}

.watchlater {
  display: inline-block;
  cursor: pointer;
  position: relative;
  background: url(https://static.langimg.com/photo/58143351.cms) no-repeat 0 -175px;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  transition: all 0.3s;
  &.active {
    background-position: -21px -175px;
  }
}

.watchlater:before {
  position: absolute;
  content: '';
  border: 2px solid #69ba79;
  border-radius: 50%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.watchlater:hover:before {
  opacity: 1;
}

.pgno {
  clear: both;
  text-align: center;
  margin: 30px 0;
  a {
    &.spanback {
      position: relative;
      height: 32px;
      width: 32px;
      display: inline-block;
      z-index: 10;
      border-radius: 50%;
      background: #fff;
      top: 0;
      left: 0;
      text-indent: -9999px;
    }
    &.spannext {
      position: relative;
      height: 32px;
      width: 32px;
      display: inline-block;
      z-index: 10;
      border-radius: 50%;
      background: #fff;
      top: 0;
      right: 0;
      text-indent: -9999px;
    }
    &:hover {
      color: #fff;
      font-weight: normal;
      background: #135394;
    }
    &.active {
      color: #fff;
      font-weight: normal;
      background: #135394;
    }
    box-shadow: 0 0 5px #b1b0b0;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    float: none;
    color: #666;
    line-height: 32px;
    height: 32px;
    width: 32px;
    font-size: 14px;
    font-family: arial;
    text-align: center;
  }
}

.vdsliders {
  .slider {
    width: 960px;
    .btnNext,
    .btnPrev {
      top: 43px;
    }
    .btnNext:before,
    .btnPrev:before {
      position: absolute;
      content: '';
      border: solid #fff;
      border-width: 0 2px 2px 0;
      width: 12px;
      height: 12px;
      top: 34%;
      left: 45%;
    }
    .btnNext,
    .btnPrev {
      background: #000;
      cursor: pointer;
      height: 42px;
      width: 37px;
      color: #fff;
    }
    .btnNext:before {
      transform: rotate(-45deg);
      margin-left: -6px;
    }
    .btnPrev:before {
      transform: rotate(-225deg);
      margin-left: -3px;
    }
    .btnNext:hover,
    .btnPrev:hover {
      opacity: 0.5;
    }
  }
  .morevid {
    float: right;
    background: #be281a;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 15px;
    border-radius: 2px;
    transition: all 0.5s;
    font-family: arial;
  }
}
