.container-comparewidget{margin:20px;h1{font-size:28px;line-height:38px;font-weight:normal;margin-bottom:15px;}
 .wdt_popular_slider.full_section .more-btn, .wdt_lstcomparsion_slider.full_section .more-btn{top:5px;right:0;}
}
.wdt_compare-gadgets{border-radius:10px;background:#f0f0f0;padding:20px 20px 5px;margin:0 0 20px 0;}
.wdt_compare-gadgets h3{font-size:22px;margin:0 0 10px;font-weight:bold;}
.wdt_compare-gadgets.wdt_amazon_list ul li>a{display:block;}
.wdt_compare-gadgets .input_field{display:inline-block;vertical-align:top;margin-right:4%;width:22%;position:relative;}
.wdt_compare-gadgets .input_field input[type='text']{padding:8px 25px 6px 10px;font-size:14px;box-sizing:border-box;width:100%;color:#000;border-radius:5px;outline:none;border:1px solid #d5d5d5;}
.wdt_compare-gadgets .input_field .auto-suggest{position:absolute;top:35px;left:0;right:0;margin:0 auto;border-left:1px solid #d5d5d5;border-right:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;background:#fff;z-index:11; overflow-y:auto;overflow-x:hidden;}
.wdt_compare-gadgets .input_field .auto-suggest ul li{display:block;line-height:22px;margin-bottom:3px;font-size:14px;cursor:pointer;padding:3px 10px 0;}
.wdt_compare-gadgets .input_field:last-child{margin-right:0;}
.wdt_compare-gadgets .input_field .close_icon{top:7px;right:5px;}
.wdt_compare-gadgets .input_field .auto-suggest ul li span{text-align:left;}
.wdt_compare-gadgets .input_field .auto-suggest ul li:hover, .wdt_compare-gadgets .input_field .auto-suggest ul li.active{background:#135394;border-radius:0; color: #fff;}
.wdt_compare-gadgets .input_field .auto-suggest ul li span{margin:0;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.wdt_compare-gadgets .select-inline-gadgets{margin:0 0 50px;}
.wdt_compare-gadgets .select-inline-gadgets ul.scroll li{border-radius:4px;box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 4px 3px rgba(0, 0, 0, 0.1);border:solid 1px #b6b6b6;background:#ffffff;margin-right:30px;padding-top:20px;height:80px;line-height:50px;}
.wdt_compare-gadgets .select-inline-gadgets ul.scroll li:hover:before{display:none;}
.wdt_compare-gadgets .select-inline-gadgets ul.scroll li:last-child{margin-right:0;}
.wdt_compare-gadgets .select-inline-gadgets ul.scroll li label{line-height:normal;position:absolute;left:0;right:0;bottom:10px;color:#b2b2b2;}
.wdt_compare-gadgets .select-inline-gadgets ul.scroll li.active label{color:#135394;}
.wdt_compare-gadgets .select-inline-gadgets ul.scroll li.active{padding-top:35px;}
.wdt_compare-gadgets .select-inline-gadgets ul.scroll li.active:after{content:'';position:absolute;bottom:-20px;border-bottom:3px solid #135394;left:0;right:0;width:70%;margin:0 auto;}
.wdt_compare-gadgets .btn-blue{margin-bottom:5px;width:25%;}
.wdt_compare-gadgets .info-camparsion{display:block;text-align:center;color:#ff0000;font-size:14px;line-height:21px;}
.wdt_suggested_slider.full_section{width:auto;border-radius:10px;background:#f0f0f0;padding:20px;margin:0 0 20px;}
.wdt_suggested_slider.full_section h2,.wdt_suggested_slider.full_section h2 span::before{border:0;}
.ui_slider .slider{width:920px;}
.ui_slider .slider .slider_content li .slide span{display:block;}
.ui_slider .slider .slider_content li .slide{width:165px;display:inline-block;vertical-align:top;box-shadow:0 0 5px #b8b8b8;white-space:normal;text-align:center;margin:5px 15px 5px 5px;padding:5px;min-height:245px;background:#fff;position:relative;}
.ui_slider .slider .slider_content li .slide .prod_img{width:auto;height:130px;padding-top:10px;}
.ui_slider .slider .slider_content li .slide img{max-height:100px;width:auto;height:auto;max-width:100%;}
.ui_slider .slider .slider_content li .slide .title{display:-webkit-box;}
.ui_slider .slider .slider_content li .slide .title{font-size:14px;line-height:22px;height:44px;font-weight:bold;}
.ui_slider .slider .slider_content li .slide .price{margin-top:5px; height:21px}
.ui_slider .slider .slider_content li .slide .price b{font-size:16px;font-weight:bold;}
.ui_slider .slider .slider_content li .slide .price b.symbol_rupees:before{left:-15px;top:-2px;font-weight:bold;font-size:18px;}
.ui_slider .slider .slider_content li .slide .vs{height:30px;width:30px;background:#b1b1b1;border-radius:50%;position:absolute;right:-30px;top:45px;color:#fff;font-size:11px;font-family:Arial, Helvetica, sans-serif;text-transform:uppercase;line-height:31px;}
.ui_slider .slider .slider_content li .slide:last-child .vs{display:none;}
.ui_slider .slider .btnPrev,.ui_slider .slider .btnNext{top:0;bottom:0;}
.wdt_popular_slider.full_section,.wdt_lstcomparsion_slider.full_section{width:auto;margin:0 0 20px;position:relative;}
.wdt_popular_slider.ui_slider .slider,.wdt_lstcomparsion_slider.ui_slider .slider{width:960px;padding-top:10px;}
.wdt_popular_slider.ui_slider .slider ul,.wdt_lstcomparsion_slider.ui_slider .slider ul{display: flex; justify-content: space-between; flex-wrap: wrap;}
.wdt_popular_slider.ui_slider .slider .slider_content li, .wdt_lstcomparsion_slider.ui_slider .slider .slider_content li{width:290px; display:inline-block;vertical-align:top;box-shadow:0 0 5px #b8b8b8;white-space:normal;text-align:center;margin:5px;padding:5px;min-height:185px;background:#fff;position:relative;}
.wdt_popular_slider.ui_slider .slider .slider_content li a, .wdt_lstcomparsion_slider.ui_slider .slider .slider_content li a{display: block;}
.wdt_popular_slider.ui_slider .slider .slider_content li .slide,.wdt_lstcomparsion_slider.ui_slider .slider .slider_content li .slide{box-shadow:none;padding:0;margin:0 30px 0 0;min-height:auto;background:transparent;width:120px;}
.wdt_popular_slider.ui_slider .slider .slider_content li .slide:last-child,.wdt_lstcomparsion_slider.ui_slider .slider .slider_content li .slide:last-child{margin-right:0;}
.detailed-spec-show{margin-bottom:40px;}
.detailed-spec-show .gn_table_layout{margin:0 0 20px;}
.detailed-spec-show .gn_table_layout:last-child{margin:0;}
.detailed-spec-show .gn_table_layout table{margin:2%;width:96%;}
.detailed-spec-show .gn_table_layout table td{font-size:14px;padding:12px 15px 7px;border:0;border-right:1px solid #d6d6d6;}
.detailed-spec-show .gn_table_layout table tr td:last-child{border:0;}
.detailed-spec-show .gn_table_layout table tr th{font-size:15px;border:1px solid #d6d6d6;background:#eeeeee;color:#000;font-weight:bold;text-align:center;}
.detailed-spec-show .gn_table_layout table tr:last-child{border-bottom:1px solid #d6d6d6;}
.detailed-spec-show .gn_table_layout .spec + table{display:none;}
.detailed-spec-show .gn_table_layout .spec{background:#a5b6c4;font-size:18px;color:#fff;text-align:left;display:block;padding:12px 15px 9px 45px;position:relative;cursor:pointer;font-weight:bold;margin-bottom:2%;}
.detailed-spec-show .gn_table_layout .spec:before{content:'';position:absolute;border:2px solid #fff;border-radius:50%;top:9px;left:10px;height:22px;width:22px;}
.detailed-spec-show .gn_table_layout .spec:after{content:'\002B';position:absolute;top:9px;left:17px;font-size:22px;font-weight:bold;}
.detailed-spec-show .gn_table_layout .spec.active:after{content:'\2212';font-size:23px;}
.detailed-spec-show .gn_table_layout .spec.active + table{display:table;}
.detailed-spec-show .gn_table_layout .charging-no{position:relative;height:28px;width:20px;color:#fff;font-size:1px;display:inline-block;vertical-align:top;}
.detailed-spec-show .gn_table_layout .charging-no:after{content:'\2716';font-size:25px;font-weight:bold;position:absolute;top:0;left:0;height:20px;line-height:26px;color:#ff0000;}
.detailed-spec-show .gn_table_layout .charging-yes{position:relative;height:28px;width:20px;color:#fff;font-size:1px;display:inline-block;vertical-align:top;}
.detailed-spec-show .gn_table_layout .charging-yes:after{content:'\2714';font-size:25px;font-weight:bold;position:absolute;top:0;left:0;height:20px;line-height:26px;color:#75da00;}
.detailed-spec-show .gn_table_layout table td .stars-in-value{display:inline-block;vertical-align:top;margin:2px 10px 0 0;}
.detailed-spec-show .gn_table_layout table td .stars-in-value b{font-weight:bold;}
.detailed-spec-show .gn_table_layout table td .rt-submit{color:#044e97;}
.wdt_compare-gadgets.details{padding-bottom:20px;}
.wdt_compare-gadgets.details.fixed{position:fixed;top:0;z-index:100;margin:auto;left:0;right:0;width:960px;border-radius:0;padding:10px 20px;text-align:center;}
.wdt_compare-gadgets.details.fixed ul li{min-height:150px;padding:10px 15px;}
.wdt_compare-gadgets.details.fixed ul li .img_wrap{height:90px;}
.wdt_compare-gadgets.details.fixed ul li .img_wrap img{max-height:70px;}
.wdt_compare-gadgets.details.fixed ul li .con_wrap h4{-webkit-line-clamp:1;max-height:22px;}
.wdt_compare-gadgets.details.fixed ul li .con_wrap .price_tag{display:none;}
.wdt_compare-gadgets.details.fixed ul li .input_field{margin-top:60px;}
.wdt_compare-gadgets.details.fixed .compare_criteria{display:none;}
.wdt_compare-gadgets.details .input_field{width:100%;margin-top:90px;}
.wdt_compare-gadgets.details .input_field .search_icon{position:absolute;right:10px;top:10px;}
.wdt_compare-gadgets.details ul li{margin-right:35px;}
.wdt_compare-gadgets.details .input_field .auto-suggest ul li{padding:0;width:auto;box-shadow:none;min-height:initial;padding:3px 10px 0;margin:0;}
.wdt_compare-gadgets.details .input_field .auto-suggest ul li span{text-align:left;}
.wdt_compare-gadgets.details .input_field .auto-suggest ul li:hover{background:#135394;border-radius:0; color:#fff}
.wdt_compare-gadgets.details .input_field .auto-suggest ul li span{margin:0;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.wdt_compare-gadgets.details .compare_criteria{background:#d8d8d8;border-radius:8px;padding:10px;margin:20px 0 0 0;}
.wdt_compare-gadgets.details .compare_criteria select{border:1px solid #c5c5c5;background:#fff;font-size:16px;padding:8px 5px 5px;display:inline-block;vertical-align:top;border-radius:5px;/*-webkit-appearance:none;*/}
.only_difference{display:inline-block;vertical-align:top;margin:6px 0 0 20px;}
.only_difference input{display:none;}
.only_difference label{position:relative;cursor:pointer;font-size:16px;line-height:26px;}
.only_difference label:before{content:'';-webkit-appearance:none;background-color:transparent;border:2px solid #979797;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);padding:8px;display:inline-block;position:relative;vertical-align:middle;cursor:pointer;margin-right:8px;border-radius:3px;top:-3px;}
.only_difference input:checked + label:after{content:'';display:block;position:absolute;top:2px;left:8px;width:4px;height:10px;border:solid #979797;border-width:0 2px 2px 0;transform:rotate(45deg);}
