<div id="c_02" class="wrapper">
    
    <div id="c_0201">
        <div id="c_020100" class="row gadgetshow" data-msid="70787100" data-categoryseo="mobile-phones" data-category="mobile" data-productid="Realme-XT" data-gsreview="70787100" data-gscriticrating="0.0" data-gadtname="Realme XT" data-title="realme xt: Realme XT Price, Full Specification and other Features October 03, 2019 | Navbharat Times" data-description="Check Realme XT  Price in India, full specification and Reviews at Navbharat Times." data-canonical="https://navbharattimes.indiatimes.com/tech/mobile-phones/Realme-XT" data-inview="1">
        <div id="c_02010001" class="col-sm-12">
            <div id="c_gs_wdt_head_1" class="title1 clearfix">
                <h1 class="sechead">Realme XT</h1>
                <div class="gs-tabs clearfix stickytab">
                    <ul class="subnav">
                        <li data-seo="overview" data-tab="gadgetshow-overview" class=""><span pg="Web_GS#Sub_nav#Overview">ओवरव्यू</span></li>
                        <li data-seo="review" data-tab="gadgetshow-toireview" class=""><span pg="Web_GS#Sub_nav#Creview">क्रिटिक रीव्यू</span></li>
                        <li data-seo="rating" data-tab="gadgetshow-userreview" class=""><span pg="Web_GS#Sub_nav#Ureview">यूजर रीव्यू</span></li>
                        <li data-seo="specifications" data-tab="gadgetshow-spec" class=""><span pg="Web_GS#Sub_nav#Specs">स्पेसिफिकेशन्स</span></li>
                        </ul>
                        <div xmlns:java="java" xmlns:ext="http://exslt.org/common" xmlns:dyn="http://exslt.org/dynamic" xmlns:dateutil="com.indiatimes.cms.utilities.CMSDateUtility" xmlns:translationutil="com.times.utilities.TranslationUtil" class="leftsocial"><div class="toiwidgets_social"><h2>Share On:</h2><span pg="Web_GS#Share#Facebook" data-plugin="facebook-share" class="fb tech_sprite toishare" data-title="64MP से सब पर भारी पड़ेगा रियलमी XT? | Navbharat Times" data-url="https://navbharattimes.indiatimes.com/tech/mobile-phones/Realme-XT?utm_source=facebook.com&amp;utm_medium=social&amp;utm_campaign=NBTWeb"></span><span data-via="NavbharatTimes" pg="Web_GS#Share#Twitter" data-plugin="twitter-share" class="twitter tech_sprite toishare" data-title="64MP से सब पर भारी पड़ेगा रियलमी XT? | Navbharat Times" data-url="https://navbharattimes.indiatimes.com/tech/mobile-phones/Realme-XT?utm_source=twitter.com&amp;utm_medium=social&amp;utm_campaign=NBTWeb"></span><span pg="Web_GS#Share#Linkedin" data-plugin="linkedin-share" class="linkedin tech_sprite toishare" data-title="64MP से सब पर भारी पड़ेगा रियलमी XT? | Navbharat Times" data-url="https://navbharattimes.indiatimes.com/tech/mobile-phones/Realme-XT?utm_source=linkedin.com&amp;utm_medium=social&amp;utm_campaign=NBTWeb"></span></div></div><!--/gs_wdt_social.cms?v=1&template=gadgetshow&category=mobile&productid=Realme-XT&parentid=70787100potime:56-->
                    </div>

              </div></div><div id="c_02010002" class="col-sm-8"><div id="c_gs_wdt_keyspecs_3" class="gs_tab_content row gadgetshow-overview gsscrollblock"><div xmlns:ext="http://exslt.org/common" xmlns:dyn="http://exslt.org/dynamic" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:translationutil="com.times.utilities.TranslationUtil" class="widget gadget_img_wdgt clearfix col-sm-5"><div pg="Web_GS#Img#larrow#true" data-slider="prev" class="disable"></div><div pg="Web_GS#Img#rarrow#true" data-slider="next"></div><div class="shopping_wdgt_wrapper" data-upcoming="0"><div class="shopping_gadgets_outer"><div data-slider="slides"><ul><li class="shopping_gadgets_frame"><div class="img_block active_thumb"><img src="https://static.langimg.com/photo/70766555/Realme-XT.jpg" pg="Web_GS#Img#1"></div></li><li class="shopping_gadgets_frame"><div class="img_block"><img src="https://static.langimg.com/photo/70766557/Realme-XT.jpg" pg="Web_GS#Img#2"></div></li><li class="shopping_gadgets_frame"><div class="img_block"><img src="https://static.langimg.com/photo/70766562/Realme-XT.jpg" pg="Web_GS#Img#3"></div></li><li class="shopping_gadgets_frame"><div class="img_block"><img src="https://static.langimg.com/photo/70877438/Realme-XT.jpg" pg="Web_GS#Img#4"></div></li><li class="shopping_gadgets_frame"><div class="img_block"><img src="https://static.langimg.com/photo/71112080/Realme-XT.jpg" pg="Web_GS#Img#5"></div></li><li class="shopping_gadgets_frame"><div class="img_block"><img src="https://static.langimg.com/photo/71112081/Realme-XT.jpg" pg="Web_GS#Img#6"></div></li><li class="shopping_gadgets_frame"><div class="img_block"><img src="https://static.langimg.com/photo/66951362.cms" pg="Web_GS#Img#7" data-src="https://static.langimg.com/photo/71112082/Realme-XT.jpg"></div></li></ul></div></div></div><div class="btn-grp featuresBtnBlk comparebtn comparebtn-left clearfix"><div id="comparethisprdct"><span target="_blank" class="button1" data-id="btn_compare" pg="Web_GS#Compare#Realme XT" img_src="https://static.langimg.com/photo/70766555/Realme-XT.jpg" hdn4="Realme XT" data_cs="Realme-XT"><i class="tech_sprite"></i>कंपेयर करें</span></div></div></div>
              
              <div class="col-sm-7 product_dtls"><span class="dtls" style="max-height: 334px;"><span class="summary_content">Realme XTएक बढ़िया स्मार्टफोन  फोन है। इसका वजन 183 grams है और इसकी मोटाई 8.6 mm है। Realme XT में 6.4 inches (16.26 cm) और
		1080 x 2340 pixelsडिस्प्ले है, जिसका आस्पेक्ट रेशियो  है। इसमें 6.0 का रैम और 64 GB जीबी इनबिल्ट स्टोरेज है, जिसे माइक्रोएसडी कार्ड के जरिए Yes Up to 256 GB GB तक बढ़ा सकते हैं।

		Realmeका यह हैंडसेट Android v9.0 (Pie) ऑपरेटिंग सिस्टम पर चलता है और हैंडसेट को पावर देने के लिए 4000 mAh बैटरी दी गई है। फोन में  Octa core (2.3 GHz, Dual core, Kryo 360 + 1.7 GHz, Hexa Core, Kryo 360) प्रोसेसर है और अड्रेनो Adreno 616 जीपीयू दिया गया है।

कैमरे की बात करें तो Realme XT में अपर्चर F2.0 के साथ 25.0 मेगापिक्सल प्राइमरी और 64+8+2+2 MP मेगापिक्सल सेकंडरी सेंसर वाला  कैमरा सेटअप है। इस डिवाइस में Light sensor, Proximity sensor, Accelerometer, Gyroscope सेंसर भी दिए गए हैं।

कनेक्टिविटी फीचर्स की बात करें तो फोन 4G (supports Indian bands), 3G, 2G को सपोर्ट करता है।  इसके अलावा जीपीएस, ब्लूटूथ, वाई-फाई और ओटीजी जैसे फीचर्स भी हैं।    			
                    
                   
                </span></span><span class="summary_more">...और पढ़ें</span></div><div class="gadget-variants variants"><h2>वेरियंट्स</h2><ul><li class="active"><span>Realme XT</span></li><li><a href="/tech/mobile-phones/Realme-XT-128GB">Realme-XT-128GB</a></li><li><a href="/tech/mobile-phones/Realme-XT-6GB-RAM">Realme-XT-6GB-RAM</a></li></ul></div>
                
              </div><div id="c_wdt_ads_1"><br><div style="text-align: center; display: none;" dataSize="[640, 360]" id="div-gpt-ad-1569330074553-0-70787100" data-google-query-id="COSPtMLu_-QCFY8VaAodAaALQA"><div id="google_ads_iframe_/7176/Navbharattimes/NBT_Tech/NBT_Tech_AL/NBT_ROS_TEC_MID_640_0__container__" style="border: 0pt none; width: 640px; height: 360px;"></div></div><!--/7176/Navbharattimes/NBT_Tech/NBT_Tech_AL/NBT_ROS_TEC_MID_640--><br><div class="clear"></div></div><div id="c_gs_wdt_twogud_1"><div class="amazon-list slider clearfix twogud-list-slider" id="twogudlist_70787100"><h2 class="heading"><span>नया जैसा मोबाइल पुराने के दाम पर</span></h2><div pg="Web_GS#Shopping#larrow" data-slider="prev" class="disable"></div><div pg="Web_GS#Shopping#rarrow" data-slider="next"></div><div class="shopping_wdgt_wrapper"><div class="shopping_gadgets_outer"><div><div class="content"><ul><li class="gn-amazon-listitem"><a href="javascript:void(0)" data-plugin="2gud-link" target="_blank" rel="nofollow" data-title="Realme 2 Pro (Ice Lake, 64 GB)(6 GB RAM)" data-price="13899" data-url="http://www.2gud.com/realme-2-pro-ice-lake-64-gb/p/itmfbkymgrch9mkp?pid=MRFFBKYMDBFBKETQ&amp;afname=2gud&amp;affextparam2=nbt_web_pdp_2GudWidget" data-twogud_ga="Realme 2 Pro (Ice Lake, 64 GB)(6 GB RAM)_13899" data-affid="gadgetsnow" data-afname="2gud" data-affextparam2="nbt_web_pdp_2GudWidget"><div class="inner"><span class="img_con"><img alt="icon" src="https://rukminim1.flixcart.com/image/800/800/jpbic280/mobile-refurbished/t/9/w/2-pro-64-b-rmx1801-realme-6-original-imafbhfsps79bwgq.jpeg?q=90"></span><span class="affPrdDtl"><figcaption>Realme 2 Pro (Ice Lake, 64 GB)(6 GB RAM)</figcaption><span class="price_tag"><strong>₹ 13899</strong><b class="old-price">15999</b></span></span><span class="btn_block"><small class="buy_btn">खरीदें</small></span></div></a></li><li class="gn-amazon-listitem"><a href="javascript:void(0)" data-plugin="2gud-link" target="_blank" rel="nofollow" data-title="Realme 2 Pro (Blue Ocean, 64 GB)(6 GB RAM)" data-price="12999" data-url="http://www.2gud.com/realme-2-pro-blue-ocean-64-gb/p/itmfbkynwjhqurva?pid=MRFFBKYNGDW384GA&amp;afname=2gud&amp;affextparam2=nbt_web_pdp_2GudWidget" data-twogud_ga="Realme 2 Pro (Blue Ocean, 64 GB)(6 GB RAM)_12999" data-affid="gadgetsnow" data-afname="2gud" data-affextparam2="nbt_web_pdp_2GudWidget"><div class="inner"><span class="img_con"><img alt="icon" src="https://rukminim1.flixcart.com/image/800/800/jpbic280/mobile-refurbished/4/g/a/2-pro-64-c-rmx1801-realme-6-original-imafbhfnrzg452zp.jpeg?q=90"></span><span class="affPrdDtl"><figcaption>Realme 2 Pro (Blue Ocean, 64 GB)(6 GB RAM)</figcaption><span class="price_tag"><strong>₹ 12999</strong><b class="old-price">15999</b></span></span><span class="btn_block"><small class="buy_btn">खरीदें</small></span></div></a></li><li class="gn-amazon-listitem"><a href="javascript:void(0)" data-plugin="2gud-link" target="_blank" rel="nofollow" data-title="Realme 2 Pro (Blue Ocean, 64 GB)(4 GB RAM)" data-price="11199" data-url="http://www.2gud.com/realme-2-pro-blue-ocean-64-gb/p/itmfbkymgrch9mkp?pid=MRFFBKYMJMGUXCGT&amp;afname=2gud&amp;affextparam2=nbt_web_pdp_2GudWidget" data-twogud_ga="Realme 2 Pro (Blue Ocean, 64 GB)(4 GB RAM)_11199" data-affid="gadgetsnow" data-afname="2gud" data-affextparam2="nbt_web_pdp_2GudWidget"><div class="inner"><span class="img_con"><img alt="icon" src="https://rukminim1.flixcart.com/image/800/800/jpbic280/mobile-refurbished/4/g/a/2-pro-64-c-rmx1801-realme-6-original-imafbhfnrzg452zp.jpeg?q=90"></span><span class="affPrdDtl"><figcaption>Realme 2 Pro (Blue Ocean, 64 GB)(4 GB RAM)</figcaption><span class="price_tag"><strong>₹ 11199</strong><b class="old-price">14990</b></span></span><span class="btn_block"><small class="buy_btn">खरीदें</small></span></div></a></li><li class="gn-amazon-listitem"><a href="javascript:void(0)" data-plugin="2gud-link" target="_blank" rel="nofollow" data-title="Realme 2 Pro (Black Sea, 64 GB)(4 GB RAM)" data-price="11199" data-url="http://www.2gud.com/realme-2-pro-black-sea-64-gb/p/itmfbkymgrch9mkp?pid=MRFFBKYMRXDEFEY9&amp;afname=2gud&amp;affextparam2=nbt_web_pdp_2GudWidget" data-twogud_ga="Realme 2 Pro (Black Sea, 64 GB)(4 GB RAM)_11199" data-affid="gadgetsnow" data-afname="2gud" data-affextparam2="nbt_web_pdp_2GudWidget"><div class="inner"><span class="img_con"><img alt="icon" src="https://rukminim1.flixcart.com/image/800/800/jpbic280/mobile-refurbished/7/r/m/2-pro-64-u-rmx1801-realme-4-original-imafbhfnygut6xtf.jpeg?q=90"></span><span class="affPrdDtl"><figcaption>Realme 2 Pro (Black Sea, 64 GB)(4 GB RAM)</figcaption><span class="price_tag"><strong>₹ 11199</strong><b class="old-price">14990</b></span></span><span class="btn_block"><small class="buy_btn">खरीदें</small></span></div></a></li><li class="gn-amazon-listitem"><a href="javascript:void(0)" data-plugin="2gud-link" target="_blank" rel="nofollow" data-title="Realme 2 Pro (Black Sea, 64 GB)(4 GB RAM)" data-price="10999" data-url="http://www.2gud.com/realme-2-pro-black-sea-64-gb/p/itmfbkymmkuhpgch?pid=MRFFBKYM22JMYKBF&amp;afname=2gud&amp;affextparam2=nbt_web_pdp_2GudWidget" data-twogud_ga="Realme 2 Pro (Black Sea, 64 GB)(4 GB RAM)_10999" data-affid="gadgetsnow" data-afname="2gud" data-affextparam2="nbt_web_pdp_2GudWidget"><div class="inner"><span class="img_con"><img alt="icon" src="https://rukminim1.flixcart.com/image/800/800/jpbic280/mobile-refurbished/7/r/m/2-pro-64-u-rmx1801-realme-4-original-imafbhfnygut6xtf.jpeg?q=90"></span><span class="affPrdDtl"><figcaption>Realme 2 Pro (Black Sea, 64 GB)(4 GB RAM)</figcaption><span class="price_tag"><strong>₹ 10999</strong><b class="old-price">14990</b></span></span><span class="btn_block"><small class="buy_btn">खरीदें</small></span></div></a></li><li class="gn-amazon-listitem"><a href="javascript:void(0)" data-plugin="2gud-link" target="_blank" rel="nofollow" data-title="Realme 2 Pro (Blue Ocean, 64 GB)(4 GB RAM)" data-price="10999" data-url="http://www.2gud.com/realme-2-pro-blue-ocean-64-gb/p/itmfbkymmkuhpgch?pid=MRFFBKYMZQ6GQXDQ&amp;afname=2gud&amp;affextparam2=nbt_web_pdp_2GudWidget" data-twogud_ga="Realme 2 Pro (Blue Ocean, 64 GB)(4 GB RAM)_10999" data-affid="gadgetsnow" data-afname="2gud" data-affextparam2="nbt_web_pdp_2GudWidget"><div class="inner"><span class="img_con"><img alt="icon" src="https://rukminim1.flixcart.com/image/800/800/jpbic280/mobile-refurbished/4/g/a/2-pro-64-c-rmx1801-realme-6-original-imafbhfnrzg452zp.jpeg?q=90"></span><span class="affPrdDtl"><figcaption>Realme 2 Pro (Blue Ocean, 64 GB)(4 GB RAM)</figcaption><span class="price_tag"><strong>₹ 10999</strong><b class="old-price">14990</b></span></span><span class="btn_block"><small class="buy_btn">खरीदें</small></span></div></a></li><li class="gn-amazon-listitem"><a href="javascript:void(0)" data-plugin="2gud-link" target="_blank" rel="nofollow" data-title="Realme 2 (Diamond Black, 64 GB)(4 GB RAM)" data-price="10499" data-url="http://www.2gud.com/realme-2-diamond-black-64-gb/p/itmf8zvxygahh22k?pid=MRFF8ZVXHHCHJWBG&amp;afname=2gud&amp;affextparam2=nbt_web_pdp_2GudWidget" data-twogud_ga="Realme 2 (Diamond Black, 64 GB)(4 GB RAM)_10499" data-affid="gadgetsnow" data-afname="2gud" data-affextparam2="nbt_web_pdp_2GudWidget"><div class="inner"><span class="img_con"><img alt="icon" src="https://rukminim1.flixcart.com/image/800/800/jm0wscw0/mobile-refurbished/z/k/q/2-32-b-rmx1805-realme-3-original-imaf9f339awnhqxz.jpeg?q=90"></span><span class="affPrdDtl"><figcaption>Realme 2 (Diamond Black, 64 GB)(4 GB RAM)</figcaption><span class="price_tag"><strong>₹ 10499</strong><b class="old-price">11990</b></span></span><span class="btn_block"><small class="buy_btn">खरीदें</small></span></div></a></li><li class="gn-amazon-listitem"><a href="javascript:void(0)" data-plugin="2gud-link" target="_blank" rel="nofollow" data-title="Realme 2 (Diamond Red, 64 GB)(4 GB RAM)" data-price="10499" data-url="http://www.2gud.com/realme-2-diamond-red-64-gb/p/itmf8zvxygahh22k?pid=MRFF8ZVXZUMPFYYQ&amp;afname=2gud&amp;affextparam2=nbt_web_pdp_2GudWidget" data-twogud_ga="Realme 2 (Diamond Red, 64 GB)(4 GB RAM)_10499" data-affid="gadgetsnow" data-afname="2gud" data-affextparam2="nbt_web_pdp_2GudWidget"><div class="inner"><span class="img_con"><img alt="icon" src="https://rukminim1.flixcart.com/image/800/800/jm0wscw0/mobile-refurbished/h/k/s/2-64-c-rmx1805-realme-4-original-imaf9f37acagfgcz.jpeg?q=90"></span><span class="affPrdDtl"><figcaption>Realme 2 (Diamond Red, 64 GB)(4 GB RAM)</figcaption><span class="price_tag"><strong>₹ 10499</strong><b class="old-price">11990</b></span></span><span class="btn_block"><small class="buy_btn">खरीदें</small></span></div></a></li><li class="gn-amazon-listitem"><a href="javascript:void(0)" data-plugin="2gud-link" target="_blank" rel="nofollow" data-title="Realme 2 Pro (Black Sea, 64 GB)(4 GB RAM)" data-price="10499" data-url="http://www.2gud.com/realme-2-pro-black-sea-64-gb/p/itmfbkynwjhqurva?pid=MRFFBKYN6ZP2PV3X&amp;afname=2gud&amp;affextparam2=nbt_web_pdp_2GudWidget" data-twogud_ga="Realme 2 Pro (Black Sea, 64 GB)(4 GB RAM)_10499" data-affid="gadgetsnow" data-afname="2gud" data-affextparam2="nbt_web_pdp_2GudWidget"><div class="inner"><span class="img_con"><img alt="icon" src="https://rukminim1.flixcart.com/image/800/800/jpbic280/mobile-refurbished/7/r/m/2-pro-64-u-rmx1801-realme-4-original-imafbhfnygut6xtf.jpeg?q=90"></span><span class="affPrdDtl"><figcaption>Realme 2 Pro (Black Sea, 64 GB)(4 GB RAM)</figcaption><span class="price_tag"><strong>₹ 10499</strong><b class="old-price">14990</b></span></span><span class="btn_block"><small class="buy_btn">खरीदें</small></span></div></a></li><li class="gn-amazon-listitem"><a href="javascript:void(0)" data-plugin="2gud-link" target="_blank" rel="nofollow" data-title="Realme 2 (Diamond Black, 64 GB)(4 GB RAM)" data-price="9999" data-url="http://www.2gud.com/realme-2-diamond-black-64-gb/p/itmf8zvydfj8farg?pid=MRFF8ZVXGGXWQBS8&amp;afname=2gud&amp;affextparam2=nbt_web_pdp_2GudWidget" data-twogud_ga="Realme 2 (Diamond Black, 64 GB)(4 GB RAM)_9999" data-affid="gadgetsnow" data-afname="2gud" data-affextparam2="nbt_web_pdp_2GudWidget"><div class="inner"><span class="img_con"><img alt="icon" src="https://rukminim1.flixcart.com/image/800/800/jm0wscw0/mobile-refurbished/z/k/q/2-32-b-rmx1805-realme-3-original-imaf9f339awnhqxz.jpeg?q=90"></span><span class="affPrdDtl"><figcaption>Realme 2 (Diamond Black, 64 GB)(4 GB RAM)</figcaption><span class="price_tag"><strong>₹ 9999</strong><b class="old-price">11990</b></span></span><span class="btn_block"><small class="buy_btn">खरीदें</small></span></div></a></li></ul></div><!--/wdt_2gudaffiliateslist.cms?brandName=RealMe&price=20999&productName=Realme-XT&tag=nbt_web_pdp_2GudWidgetpotime:200--></div></div></div></div><script>
            
            setTimeout(function(){
                 var twogudlist_id='twogudlist_70787100'; 
                 var twogudGadget = new AmzGadgets3(twogudlist_id);
                 twogudGadget.init();
            }, 3000);  
        
         
        </script></div><div id="c_1"><div class="gadgetshow-amazondtl gn-amazon-box hSeeAlso" data-exist="true"><h2 class="heading"><span>इसे भी देखें</span></h2><div class="amazon_seealso"><li class="gn-amazon-listitem"><a href="javascript:void(0)" target="_blank" rel="nofollow" data-plugin="amazon-link" title="Realme X (Polar White, 128 GB) (8 GB RAM)" data-title="Realme X (Polar White, 128 GB) (8 GB RAM)" data-price="20999" data-url="https://www.amazon.in/Realme-Polar-White-128-RAM/dp/B07WXQ383P?SubscriptionId=AKIAJX7PDW7DEP2LLJLA&amp;tag=nbt_web_pdp_seealsowidget-21&amp;linkCode=xm2&amp;camp=2025&amp;creative=165953&amp;creativeASIN=B07WXQ383P" data-amz_ga="Realme X (Polar White, 128 GB) (8 GB RAM)_20999"><div class="tableR amazon"><div class="tableI"><img src="https://images-eu.ssl-images-amazon.com/images/I/41lxA7wza8L._SL75_.jpg" alt="Realme X (Polar White, 128 GB) (8 GB RAM)"></div><div class="tableC"><h4>Realme X (Polar White, 128 GB) (8 GB RAM)</h4><span class="amprice">₹ 20999</span></div><div class="tableC logo-prime"><i class="logo"></i><i class="prime"></i></div><div class="tableC"><span class="buy-btn">अभी खरीदें</span></div></div></a></li><li class="gn-amazon-listitem"><a href="javascript:void(0)" target="_blank" rel="nofollow" data-plugin="amazon-link" title="Realme X (Space Blue, 128 GB) (8 GB RAM)" data-title="Realme X (Space Blue, 128 GB) (8 GB RAM)" data-price="20999" data-url="https://www.amazon.in/Realme-Space-Blue-128-RAM/dp/B07XJH71FN?SubscriptionId=AKIAJX7PDW7DEP2LLJLA&amp;tag=nbt_web_pdp_seealsowidget-21&amp;linkCode=xm2&amp;camp=2025&amp;creative=165953&amp;creativeASIN=B07XJH71FN" data-amz_ga="Realme X (Space Blue, 128 GB) (8 GB RAM)_20999"><div class="tableR amazon"><div class="tableI"><img src="https://images-eu.ssl-images-amazon.com/images/I/41lxA7wza8L._SL75_.jpg" alt="Realme X (Space Blue, 128 GB) (8 GB RAM)"></div><div class="tableC"><h4>Realme X (Space Blue, 128 GB) (8 GB RAM)</h4><span class="amprice">₹ 20999</span></div><div class="tableC logo-prime"><i class="logo"></i><i class="prime"></i></div><div class="tableC"><span class="buy-btn">अभी खरीदें</span></div></div></a></li><li class="gn-amazon-listitem"><a href="javascript:void(0)" target="_blank" rel="nofollow" data-plugin="amazon-link" title="Realme 3 Pro (Nitro Blue, 4GB RAM, 64GB Storage)" data-title="Realme 3 Pro (Nitro Blue, 4GB RAM, 64GB Storage)" data-price="12990" data-url="https://www.amazon.in/Realme-Nitro-Blue-64GB-Storage/dp/B07QZZRD4N?psc=1&amp;SubscriptionId=AKIAJX7PDW7DEP2LLJLA&amp;tag=nbt_web_pdp_seealsowidget-21&amp;linkCode=xm2&amp;camp=2025&amp;creative=165953&amp;creativeASIN=B07QZZRD4N" data-amz_ga="Realme 3 Pro (Nitro Blue, 4GB RAM, 64GB Storage)_12990"><div class="tableR amazon"><div class="tableI"><img src="https://images-eu.ssl-images-amazon.com/images/I/41z46CwrHVL._SL75_.jpg" alt="Realme 3 Pro (Nitro Blue, 4GB RAM, 64GB Storage)"></div><div class="tableC"><h4>Realme 3 Pro (Nitro Blue, 4GB RAM, 64GB Storage)</h4><span class="amprice">₹ 12990</span><span class="ampricestk">₹ 15999</span></div><div class="tableC logo-prime"><i class="logo"></i></div><div class="tableC"><span class="buy-btn">अभी खरीदें</span></div></div></a></li></div></div></div><div id="c_gs_wdt_review_short_1" class="gadgetshow-toireview clearfix gsscrollblock"><div id="container" class="main-content articlepage" data-articlemsid="70787100"><div><h2 class="hdn1">क्रिटिक रीव्यू</h2><section class="title_section clearfix"><h3 class="heading1">64MP से सब पर भारी पड़ेगा रियलमी XT?</h3></section></div><div class="highlight_pts hide"></div><div class="article_content clearfix"><section class="highlight clearfix"><div class="review_top_wrapper"><div class="highlight_img"><div class="highlight_img" id="71360102"><img src="https://static.langimg.com/thumb/msid-71360102,width-640,resizemode-4/71360102.jpg" data-imgid="71360102" alt="<p>- 64 मेगापिक्सल कैमरा वाला भारत का पहला स्मार्टफोन<br>- रियर पैनल में मौजूद हैं चार कैमरे<br>- सुपर AMOLED डिस्प्ले से है लैस<br></p>" title="<p>- 64 मेगापिक्सल कैमरा वाला भारत का पहला स्मार्टफोन<br>- रियर पैनल में मौजूद हैं चार कैमरे<br>- सुपर AMOLED डिस्प्ले से है लैस<br></p>"></div></div><div class="review_brief"><div class="hl_rating"><div class="review_rating"><span class="rating_title">Critic Rating</span><span class="rating_value"><i>3.5/</i>5
                            </span></div></div><span class="txt1"><h4 class="heading4">Top Features</h4><span class="hsummary mCustomScrollbar _mCS_4"><div style="position:relative; height:100%; overflow:hidden; max-width:100%;" id="mCSB_4" class="mCustomScrollBox mCS-dark"><div style="position: relative; top: 0px;" class="mCSB_container mCS_no_scrollbar"><p></p><p>- 64 मेगापिक्सल कैमरा वाला भारत का पहला स्मार्टफोन<br>- रियर पैनल में मौजूद हैं चार कैमरे<br>- सुपर AMOLED डिस्प्ले से है लैस<br></p><p></p></div><div style="position: absolute; display: none;" class="mCSB_scrollTools"><div class="mCSB_draggerContainer"><div oncontextmenu="return false;" style="position: absolute; top: 0px;" class="mCSB_dragger"><div style="position:relative;" class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div></div></span></span></div></div></section>प्रेम त्रिपाठी, नई दिल्लीइंडियन मोबाइल मार्केट में 48 एमपी कैमरे की शुरुआत ऑनर ने उसके 'व्यू 20' से की थी। फिर ओप्पो, शाओमी, वनप्लस सभी ने इस लेंस के साथ फोन लॉन्च किए। रियलमी बाकियों से पीछे रह गई और X सीरीज में उसने 48 एमपी कैमरा दिया। अब बात 64 एमपी कैमरे की हो रही है। इस बार रियलमी सबसे आगे है। रियलमी XT में उसने यह कैमरा ऑफर किया है। कीमतें आक्रामक रखी हैं। रियलमी को चुनौती देने के लिए अभी कोई नहीं है। शाओमी 'रेडमी नोट 8 प्रो' में यह कैमरा लाने वाली है, उम्मीद है अगले महीने। रियलमी XT को हमने रिव्यू किया। 'रियलमी XT' उसकी 'X' सीरीज से ज्यादा 'प्रो' सीरीज के करीब है और हाल में लॉन्च हुए 'रियलमी 5 प्रो' से मिलता-जुलता है। बैक में '5 प्रो' जैसे ही 4 कैमरे हैं। मेन लेंस 64 एमपी हो गया है। साथ में 8 एमपी का वाइड ऐंगल लेंस, 2 एमपी का डेप्थ सेंसर और 2 एमपी का मैक्रो लेंस है। 64 एमपी कैमरे में सैमसंग का 'जीडब्ल्यू 1 सेंसर' है और यह भी पिक्सल बाइनिंग तकनीक पर काम करता है। यानी डिफॉल्ट में कैमरा 16 एमपी के रेजॉलूशन में फोटो लेता है।
  
  
  71360040







64 एमपी के लिए कैमरा ऐप में जाकर मैनुअली सिलेक्ट करना होगा। फोटो दिन में खींची जाए, या इनडोर लाइट में, उसमें डिटेल्स अच्छी मिलती हैं। रेजॉलूशन ज्यादा मिलने से आप फोटो को क्रॉप भी करेंगे, तब भी नॉइज नहीं आएगा। 700-800 मीटर दूर किसी ऑब्जेक्ट की डीटेल भी बहुत कम नॉइज के साथ मिलती है। मैक्रो लेंस 4 सेमी. तक की दूरी से ऑब्जेक्ट पर फोकस कर सकता है और तस्वीरों में अच्छे कलर और कॉन्ट्रास्ट निकलकर आते हैं। वैसे इस कमी को पूरा करने के लिए क्रोमा बूस्ट मोड भी है। 
  
  
  71360041







डेप्थ सेंसर बैकग्राउंड को सटीक ब्लर करता है। हमें इसमें कमी नहीं मिली। नाइट स्केप मोड से रात में तस्वीरें अच्छी मिलीं, काफी हद तक 'रियलमी 5 प्रो' जैसी ही। 16 एमपी का फ्रंट कैमरा सेल्फी के लिए परफेक्ट है। एडिटिंग के खूब सारे ऑप्शन एक औसत फोटो को भी सोशल मीडिया में पोस्ट करने लायक बना देते हैं।48 एमपी कैमरे से कितना बेहतर64 एमपी लेंस होने से ज्यादा रेजॉलूशन और बड़ी फोटो मिलना स्वाभाविक है। तस्वीरों को बड़े पोस्टर में भी प्रिंट कराया जा सकता है। क्लोजअप शॉट्स ज्यादा बेहतर और डिटेल्स के साथ मिलते हैं। इनडोर शॉट्स भी 48 एमपी से बेहतर मिले। हालांकि डे शॉट्स में 48 एमपी कैमरे ने बराबर की टक्कर दी। और क्या खूबियांXT में 6.4 इंच का सुपर एमोलेड नॉच डिस्प्ले है, जिसमें कलर उभरकर आते हैं। पॉलिकार्बोनेट बॉडी में रियलमी ने इस बार गोरिल्ला ग्लास 5 का प्रोटेक्शन दिया है। जल्दी स्क्रैच नहीं आएंगे। फेसअनलॉक और इन डिस्प्ले फिंगर प्रिंट सेंसर दोनों फास्ट हैं। फेसअनलॉक ने ज्यादा प्रभावित किया। लो लाइट में भी फोन अनलॉक हो गया। 20 वॉट का चार्जर करीब सवा घंटे में 4 हजार एमएएच की बैटरी चार्ज कर देता है। फोन डेढ़ दिन चल जाता है। हैवी यूजर हैं, तब भी एक दिन का बैकअप बैटरी दे देगी। XT में भी '5 प्रो' की तरह ही क्वालकॉम का स्नैपड्रैगन 712 प्रोसेसर है। गेमिंग के लिहाज से यह अच्छा है। 8 जीबी रैम वैरिएंट के साथ हमें कोई परेशानी नहीं हुई। पबजी जैसे गेम्स को यह फोन डिफॉल्ट हाई सेटिंग्स में खेलाता है। गेम खेलते हुए बैटरी भी टिकी रहती है। यूजर इंटरफेस में रियलमी ने कई फीचर ऐड किए हैं, जैसे- डार्क मोड। हालांकि रिव्यू डिवाइस में हमें यह नहीं मिला। खबरें हैं कि कंपनी इसके लिए फोन में अपडेट देगी। डिजिटल वेलबींग भी आ गया है यह बताने के लिए कि आपने किस ऐप में कितना वक्त गुजारा।कितना किफायतीXT की शुरुआती कीमत 15,999 (4+64 जीबी) रुपये है। इस कीमत में रेडमी नोट 7 प्रो, वीवो Z1 प्रो जैसी डिवाइस हैं, लेकिन XT का 64 एमपी कैमरा इन पर भारी पड़ता है। <a class="btnfullreview" href="/tech/reviews/realme-xt-review/articleshow/70787100.cms" pg="Web_GS#Read Full Review#Realme-XT" alt="Read Realme XT Review">पूरा रिव्यू पढ़ें</a></div></div><script>
    window.gn_review_msid = '57775557';
    </script></div><div id="c_gs_wdt_similar_products_2"><h2 class="hdn1">इस तरह के और गैजट्स </h2><div class="widget similarGadgets" id="sgSlider"><div data-slider="prev" class="disable">&nbsp;</div><div data-slider="next">&nbsp;</div><div class="similar_gadgets_frame"><ul data-slider="slides" class="gadget_list" data-slidesinview="4"><li class="gadget_unit"><a href="/tech/mobile-phones/Xiaomi-Redmi-Note-8-Pro" pg="Web_GS#Similar#1_Xiaomi-Redmi-Note-8-Pro"><span class="img"><img alt="Xiaomi Redmi Note 8 Pro" src="https://static.langimg.com/thumb/msid-70348098,height-158,resizemode-4/Xiaomi-Redmi-Note-8-Pro.jpg" title="Xiaomi Redmi Note 8 Pro"></span><div class="dtls"><p class="gad_name">Xiaomi Redmi Note 8 Pro</p></div></a></li><li class="gadget_unit"><a href="/tech/mobile-phones/Xiaomi-Mi-A3" pg="Web_GS#Similar#2_Xiaomi-Mi-A3"><span class="img"><img alt="Xiaomi Mi A3" src="https://static.langimg.com/thumb/msid-68520762,height-158,resizemode-4/Xiaomi-Mi-A3.jpg" title="Xiaomi Mi A3"></span><div class="dtls"><p class="gad_name">Xiaomi Mi A3</p></div></a></li><li class="gadget_unit"><a href="/tech/mobile-phones/Realme-5-Pro" pg="Web_GS#Similar#3_Realme-5-Pro"><span class="img"><img alt="Realme 5 Pro" src="https://static.langimg.com/thumb/msid-70570428,height-158,resizemode-4/Realme-5-Pro.jpg" title="Realme 5 Pro"></span><div class="dtls"><p class="gad_name">Realme 5 Pro</p></div></a></li><li class="gadget_unit"><a href="/tech/mobile-phones/Samsung-Galaxy-M30s" pg="Web_GS#Similar#4_Samsung-Galaxy-M30s"><span class="img"><img alt="Samsung Galaxy M30s" src="https://static.langimg.com/thumb/msid-69927137,height-158,resizemode-4/Samsung-Galaxy-M30s.jpg" title="Samsung Galaxy M30s"></span><div class="dtls"><p class="gad_name">Samsung Galaxy M30s</p></div></a></li><li class="gadget_unit"><a href="/tech/mobile-phones/Vivo-S1" pg="Web_GS#Similar#5_Vivo-S1"><span class="img"><img alt="Vivo S1" src="https://static.langimg.com/thumb/msid-68374701,height-158,resizemode-4/Vivo-S1.jpg" title="Vivo S1"></span><div class="dtls"><p class="gad_name">Vivo S1</p></div></a></li><li class="gadget_unit"><a href="/tech/mobile-phones/Vivo-Z1x" pg="Web_GS#Similar#6_Vivo-Z1x"><span class="img"><img alt="Vivo Z1x" src="https://static.langimg.com/thumb/msid-70806195,height-158,resizemode-4/Vivo-Z1x.jpg" title="Vivo Z1x"></span><div class="dtls"><p class="gad_name">Vivo Z1x</p></div></a></li><li class="gadget_unit"><a href="/tech/mobile-phones/Samsung-Galaxy-M30" pg="Web_GS#Similar#7_Samsung-Galaxy-M30"><span class="img"><img alt="Samsung Galaxy M30" src="https://static.langimg.com/thumb/msid-67253135,height-158,resizemode-4/Samsung-Galaxy-M30.jpg" title="Samsung Galaxy M30"></span><div class="dtls"><p class="gad_name">Samsung Galaxy M30</p></div></a></li><li class="gadget_unit"><a href="/tech/mobile-phones/Realme-X" pg="Web_GS#Similar#8_Realme-X"><span class="img"><img alt="Realme X" src="https://static.langimg.com/thumb/msid-69140853,height-158,resizemode-4/Realme-X.jpg" title="Realme X"></span><div class="dtls"><p class="gad_name">Realme X</p></div></a></li><li class="gadget_unit"><a href="/tech/mobile-phones/Vivo-Z1-Pro" pg="Web_GS#Similar#9_Vivo-Z1-Pro"><span class="img"><img alt="Vivo Z1 Pro" src="https://static.langimg.com/thumb/msid-69768076,height-158,resizemode-4/Vivo-Z1-Pro.jpg" title="Vivo Z1 Pro"></span><div class="dtls"><p class="gad_name">Vivo Z1 Pro</p></div></a></li></ul></div></div><div class="discoverGadgets" data-plugin="discoverGadgets" data-seo="mobile-phones"><h2>और खोजें</h2><span class="discover-title">इस तरह के स्पेसिफिकेशन्स और फीचर्स वाले गैजेट्स देखें</span><div class="filter_options clearfix"><ul><li><span class="filter_key"><a data-filter-tab="brand" href="javascript:void(0)">ब्रैंड</a></span><span class="filter_values" data-tab-result="brand"><a class="checkbox" href="/tech/mobile-phones/RealMe"><input type="checkbox" autocomplete="off" id="Realme-XT-filter-by-brand-RealMe" data-name="filter-by-brand-RealMe" data-filter-by="brand" data-filter-value="RealMe" value="RealMe"><label for="Realme-XT-filter-by-brand-RealMe">RealMe</label></a></span></li><li><span class="filter_key"><a data-filter-tab="internal-memory" href="javascript:void(0)">इंंटरनल मेमरी</a></span><span class="filter_values" data-tab-result="internal-memory"><a class="checkbox" href="/tech/mobile-phones/filters/internal-memory=128-to-255.9-gb"><input type="checkbox" autocomplete="off" id="Realme-XT-filter-by-internal-memory-128-to-255.9-gb" data-name="filter-by-internal-memory-128-to-255.9-gb" data-filter-by="internal-memory" data-filter-value="128-to-255.9-gb" value="128-to-255.9-gb"><label for="Realme-XT-filter-by-internal-memory-128-to-255.9-gb">128-255.9 GB</label></a></span></li><li><span class="filter_key"><a data-filter-tab="battery-backup" href="javascript:void(0)">बैटरी क्षमता</a></span><span class="filter_values" data-tab-result="battery-backup"><a class="checkbox" href="/tech/mobile-phones/filters/battery-backup=4000-to-4999-mah"><input type="checkbox" autocomplete="off" id="Realme-XT-filter-by-battery-backup-4000-to-4999-mah" data-name="filter-by-battery-backup-4000-to-4999-mah" data-filter-by="battery-backup" data-filter-value="4000-to-4999-mah" value="4000-to-4999-mah"><label for="Realme-XT-filter-by-battery-backup-4000-to-4999-mah">4000-4999 mAh</label></a></span></li><li><span class="filter_key"><a data-filter-tab="ram-capacity" href="javascript:void(0)">रैम1</a></span><span class="filter_values" data-tab-result="ram-capacity"><a class="checkbox" href="/tech/mobile-phones/filters/ram-capacity=6-gb"><input type="checkbox" autocomplete="off" id="Realme-XT-filter-by-ram-capacity-6-gb" data-name="filter-by-ram-capacity-6-gb" data-filter-by="ram-capacity" data-filter-value="6-gb" value="6-gb"><label for="Realme-XT-filter-by-ram-capacity-6-gb">6 GB</label></a></span></li><li><span class="filter_key"><a data-filter-tab="primary-camera" href="javascript:void(0)">प्राइमरी कैमरा</a></span><span class="filter_values" data-tab-result="primary-camera"><a class="checkbox" href="/tech/mobile-phones/filters/primary-camera=Below-5-mp"><input type="checkbox" autocomplete="off" id="Realme-XT-filter-by-primary-camera-Below-5-mp" data-name="filter-by-primary-camera-Below-5-mp" data-filter-by="primary-camera" data-filter-value="Below-5-mp" value="Below-5-mp"><label for="Realme-XT-filter-by-primary-camera-Below-5-mp">Below 5 MP</label></a></span></li><li><span class="filter_key"><a data-filter-tab="price-range" href="javascript:void(0)">कीमत</a></span><span class="filter_values" data-tab-result="price-range"><a class="checkbox" href="/tech/mobile-phones/filters/price-range=15001-to-20000"><input type="checkbox" autocomplete="off" id="Realme-XT-filter-by-price-range-15001-to-20000" data-name="filter-by-price-range-15001-to-20000" data-filter-by="price-range" data-filter-value="15001-to-20000" value="15001-to-20000"><label for="Realme-XT-filter-by-price-range-15001-to-20000">15001-20000</label></a></span></li><li><span class="filter_key"><a data-filter-tab="sim" href="javascript:void(0)">सिम</a></span><span class="filter_values" data-tab-result="sim"><a class="checkbox" href="/tech/mobile-phones/filters/sim=Dual"><input type="checkbox" autocomplete="off" id="Realme-XT-filter-by-sim-Dual" data-name="filter-by-sim-Dual" data-filter-by="sim" data-filter-value="Dual" value="Dual"><label for="Realme-XT-filter-by-sim-Dual">Dual</label></a></span></li><li><span class="filter_key"><a data-filter-tab="network" href="javascript:void(0)">नेटवर्क</a></span><span class="filter_values" data-tab-result="network"><a class="checkbox" href="/tech/mobile-phones/filters/network=4G"><input type="checkbox" autocomplete="off" id="Realme-XT-filter-by-network-4G" data-name="filter-by-network-4G" data-filter-by="network" data-filter-value="4G" value="4G"><label for="Realme-XT-filter-by-network-4G">4G</label></a></span></li></ul></div><div class="tac"><a class="white_btn btnshowgadgets disabled gn-blue-btn" href="/tech/mobile-phones">गैजेट्स दिखाएं</a></div></div></div><div id="c_gs_wdt_player_1" class="clearfix mb20"></div><div id="c_gs_wdt_playerjscss_2"></div><div id="c_gs_wdt_rating_3" class="gadgetshow-userreview mb20 gsscrollblock"><div itemtype="http://schema.org/Product" itemscope="itemscope" class="gdgt_review clearfix user_rating" data-catid="mobile" data-pname="Realme XT" data-brand="RealMe" data-mrp="15999.0" data-availability="Available"><meta itemprop="name" content="Realme XT"><meta itemprop="category" content="mobile"><meta itemprop="brand" content="RealMe"><meta itemprop="image" content="https://static.langimg.com/photo/70766555/Realme-XT.jpg"><meta itemprop="description" content="रियलमी में हाल में अपना 64 मेगापिक्सल कैमरा वाला फोन Realme XT लॉन्च किया है। 64 मेगापिक्सल के साथ आने वाला यह भारत का पहला स्मार्टफोन है। आइए जानते हैं इस रिव्यू में यह फोन कैसा है। "><span itemtype="http://schema.org/Offer" itemscope="itemscope" itemprop="offers"><meta content="INR" itemprop="priceCurrency"><meta itemprop="price" content="15999"><link href="http://schema.org/InStock" itemprop="availability"></span><h2 class="hdn1">Realme XT यूजर रिव्यू और रेटिंग</h2><div class="user_review"><div class="txt"><span class="txt_title">सबसे पहले रिव्यू करें</span></div></div><div class="user_star"><ul><li><span class="star_txt">5 स्टार</span><span class="star_bg"></span></li><li><span class="star_txt">4 स्टार</span><span class="star_bg"></span></li><li><span class="star_txt">3 स्टार</span><span class="star_bg"></span></li><li><span class="star_txt">2 स्टार</span><span class="star_bg"></span></li><li><span class="star_txt">1 स्टार</span><span class="star_bg"></span></li></ul></div><div class="user_btns"><a pg="Web_GS#Rate#Open" data-plugin="comment-rating" class="white_btn" href="javascript:void(0);">रेट डिवाइस</a><a pg="Web_GS#Review#Open" data-module="review_device" class="white_btn" href="javascript:void(0);">रेिव्यू डिवाइस</a></div></div><div xmlns:java="java" xmlns:g="http://base.google.com/ns/1.0" xmlns:ext="http://exslt.org/common" xmlns:dyn="http://exslt.org/dynamic" xmlns:dateutil="com.indiatimes.cms.utilities.CMSDateUtility" xmlns:translationutil="com.times.utilities.TranslationUtil" class="article"><div id="email_verified"></div><div id="comment-section-70787100" class="comment-section"><span data-plugin="facebook-loadjs" class="hide"></span><div data-level="0" data-id="0" data-index="-1" data-plugin="comment"><div data-module="review_device_modal" data-type="rev_device" class="rating_popup review_device"><div class="container" data-article-id="70787100"><header><span class="cls_btn"></span><h2>रेिव्यू डिवाइस</h2></header><div class="content"><ul><li><span class="rating">1.0</span><span class="radio"><input val="2" type="radio" name="rate_70787100" id="poor_70787100"><label for="poor_70787100">कमजोर</label></span></li><li><span class="rating">2.0</span><span class="radio"><input val="4" type="radio" name="rate_70787100" id="avg_70787100"><label for="avg_70787100">औसत रेटिंग</label></span></li><li><span class="rating">3.0</span><span class="radio"><input val="6" type="radio" name="rate_70787100" id="buyable_70787100"><label for="buyable_70787100">खरीदने लायक</label></span></li><li><span class="rating">4.0</span><span class="radio"><input val="8" type="radio" name="rate_70787100" id="good_70787100"><label for="good_70787100">बढ़िया</label></span></li><li><span class="rating">5.0</span><span class="radio"><input val="10" type="radio" name="rate_70787100" id="excellent_70787100"><label for="excellent_70787100">बेहतरीन</label></span></li></ul><input id="rating_list70787100" value="" type="hidden"><div data-plugin="comment-form" class="comment-form2 full"><textarea data-plugin="comment-input" cols="40" rows="5" placeholder="अपना रिव्यू यहां लिखें" class="placeholder"></textarea><div class="comment-footer clearfix"><span class="char-count">बचे हुए अक्षर: <span data-maxchar="3000" data-plugin="comment-input-remaining">3000</span></span></div><div data-plugin="comment-form-login" class="login-area clearfix noreg"><div data-plugin="comment-error" class="error"></div><div class="sumbit-btn" data-plugin="rate-submit">रिव्यू पोस्ट करें</div><input data-plugin="comment-post" class="submit" type="submit" value="Post Review Remaining"></div><a data-action="comment-close" class="close" href="#">X</a></div></div></div></div></div><div class="hide noComment">सबसे पहले रिव्यू करें</div><div data-plugin="comment-verification-msg" class="hide">We have sent you a verification email. To verify, just follow the link in the message.</div><div data-plugin="comments" class="comments-list " id="comments_agree">
		
		<div class="comment-box level1 " id="cmt2530684603" data-plugin="comment" data-index="1" data-id="2530684603" data-level="1" data-user="What the Fun" data-email="" data-userid="684854675">
            <div class="user-thumbnail">
                
                <img class="userimg flL" src="https://mytimes.indiatimes.com/image/thumb/0/default">
                
            </div>
            <div class="info-bar clearfix">
                
                    <a>What the Fun</a>
                


			
			<span class="divider">|</span>
                <p class="urs_rating"><span class="user_rating">5</span>/<span class="total_rating">5</span></p>
			




            </div>
            <span title="29 Sep, 2019 11:59 PM" class="metadata" data-plugin="dynamic-uptime" data-time="1569781752278">3 days ago</span>
            

            <!--/Info bar -->
            <p class="short_comment">5.0 Rated  as Excellent.
            </p>
            
            <!-- Footbar -->
            
            <div class="footbar clearfix">
				
                    <span class="up cpointer" data-action="comment-agree" title="Up Vote"><span data-plugin="comment-agree-count">0</span> <i class="icon-uparrow"></i></span>
                    <span class="down cpointer" data-action="comment-disagree" title="Down Vote"><span data-plugin="comment-disagree-count">0</span> <i class="icon-downarrow"></i></span>
                
            </div>
            <div class="error clearfix" data-plugin="comment-error-outer"></div>
            
        </div>
         

		<div pg="Web_AS#Comment#SeeAll" class="loadmore" style="display: none;">See more comments</div></div><div data-plugin="comment-loading" style="display: none;"><img src="//static.toiimg.com/photo/29439462.cms"></div></div></div><script id="comment_tmpl" type="application/template" data-jsv-tmpl="_0">
		{{if level==0 || level==1}}
		<div class="comment-box level{{:level}} {{if id==-1}}highlight{{/if}}" id="cmt{{:id}}" data-plugin="comment" data-index="{{:index}}" data-id="{{:id}}" data-level="{{:level}}" data-user="{{:user.name}}" data-email="{{:user.email}}" data-userid="{{:user.id}}">
            <div class="user-thumbnail">
                {{if user.image}}
                <img class="userimg flL" data-src="{{:user.image}}" src="//static.toiimg.com/photo/11350517.cms"/>
                {{else}}
                <img class="userimg flL" data-src="//static.toiimg.com/photo/29251859.cms" src="//static.toiimg.com/photo/11350517.cms"/>
                {{/if}}
            </div>
            <div class="info-bar clearfix">
                {{if user.username || user.id}}
                    <a>{{:user.name}}</a>
                {{else}}
                    <span class="name">{{:user.name}}</span>
                {{/if}}


			{{if user.rate}}
			<span class="divider">|</span>
                <p class="urs_rating"><span class="user_rating">{{:user.rate / 2}}</span>/<span class="total_rating">5</span></p>
			{{/if}}
                
                
                
                
            </div>
            <span title="{{:abstime}}" class="metadata" data-plugin="dynamic-uptime" data-time="{{:time}}">Just Now</span>
            {{if user.location}}
                <span class="divider">|</span>
                <span class="metadata">{{:user.location}}</span>
                {{/if}}
            
            <!--/Info bar -->			
            <p class="short_comment">{{if trimcom}}{{:trimcom}}{{else}}{{:comment.substr(0,500)}}{{/if}}
            {{if comment.length > 500}}
                <span class="detail_comment_link" data-action="more-response-length">... <span class="seemore_high">Read More</span></span>
            {{/if}}</p>
            {{if comment.length > 500}}
                <p class="detail_comment" style="display:none;">{{:comment}}</p>
            {{/if}}
            <!-- Footbar -->
            {{if id!=-1}}
            <div class="footbar clearfix">
				{{if opinion && opinion[0] && opinion[1]}}
                    <span class="up cpointer" data-action="comment-agree" title="Up Vote"><span data-plugin="comment-agree-count">{{:opinion[0].count}}</span> <i class="icon-uparrow"></i></span>
                    <span class="down cpointer" data-action="comment-disagree" title="Down Vote"><span data-plugin="comment-disagree-count">{{:opinion[1].count}}</span> <i class="icon-downarrow"></i></span>
                {{/if}}
            </div>
            <div class="error clearfix" data-plugin="comment-error-outer"></div>
            {{/if}}
        </div>
         {{/if}}
        
		</script><script id="badge_tmpl" type="application/template">
        <div class="badge_new" style="position:absolute;left:-148px;background-color:#FFF;z-index:2;">
            <div style="background:url(/photo/12353738.cms) top center no-repeat; width:320px; height:54px;">
                <div class="full_cont"><div class="left_badge">
                    <div class="textone_badge">Wordsmith</div>
                </div>
                    <div class="right_badge">
                        <div class="texttwo_badge">Level 1</div>
                    </div>
                </div>
            </div>
            <div class="hoverblock_new">
                <div class="cont_pad">
                    <div class="full_cont">
                        <div class="cont_left">
                            <img style="cursor:auto" border="0" height="50" width="65" src="http://static.rewards.indiatimes.com/images/wordsmith.png" title="Wordsmith" ></div>
                        <div class="cont_right"><div class="badgesyn_two">
                            <p><b>monil shah</b>&nbsp;has posted 10 comments on Timesofindia.com to earn the <b>Wordsmith Level 1</b> badge.</p></div>
                            <div class="badgesyn"></div></div><div></div></div><div class="divclear"></div>
                    <div class="full_cont_one cont_mar"><div class="bordertop"><div class="leftthree_logged">
                        <div onclick="moretimespoint();" class="linkone_badge">Know more about Times Points</div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
            <div style="background:url(/photo/12353749.cms) no-repeat; width:320px; height:14px;"></div>
        </div>
     