.productdetails_body.contentarea {
  position: initial;
}
.productdetails_body h1 {
  font-size: 28px;
  line-height: 38px;
  margin: 0 0 20px;
}
.productdetails_body .pd_top_nav {
  overflow: hidden;
  margin: 0 0 20px;
}
.productdetails_body .pd_top_nav.fixed {
  position: fixed;
  top: 0;
  width: 980px;
  margin: 0 auto;
  background: #fff;
  z-index: 100;
  padding: 10px;
  right: 0px;
  left: 0;
}
.productdetails_body .pd_top_nav .nav_items {
  display: inline-block;
  vertical-align: top;
  width: 630px;
  border-bottom: 2px solid #d0d0d0;
}
.productdetails_body .pd_top_nav ul.tabs {
  margin: 0;
  overflow: visible;
}
.productdetails_body .pd_top_nav ul.tabs li {
  font-size: 18px;
  line-height: 40px;
  flex-grow: 1;
  margin: 0;
}
.productdetails_body .pd_top_nav ul.tabs li.active {
  border: 0;
  position: relative;
}
.productdetails_body .pd_top_nav ul.tabs li.active span {
  font-weight: bold;
}
.productdetails_body .pd_top_nav ul.tabs li.active:after {
  border: 1px solid #000;
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
}
.productdetails_body .pd_top_nav .social_items {
  display: inline-block;
  vertical-align: top;
  border-bottom: 2px solid #d0d0d0;
  height: 40px;
  width: 330px;
}
.productdetails_body .pd_top_nav .social_tools {
  margin: 0;
  float: right;
}
.summary_content p {
  padding: 0px 0 6px 0;
}
.summary_content strong {
  font-weight: bold;
  font-size: 18px;
}
.pd-accordion {
  overflow: hidden;
  margin: 20px 0 30px;
}
.pd-accordion h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px;
  line-height: 30px;
}
.pd-spec-show .gn_table_layout {
  margin: 0 0 20px;
}
.pd-spec-show .gn_table_layout:last-child {
  margin: 0;
}
.pd-spec-show .gn_table_layout table td {
  font-size: 16px;
  padding: 12px 15px 7px;
  border: 0;
  border-bottom: 1px solid #d6d6d6;
  text-align: left;
  color: #333;
}
.pd-spec-show .gn_table_layout table tr td:first-child {
  font-weight: bold;
  width: 25%;
}
.pd-spec-show .gn_table_layout table tr td:last-child {
  border: 0;
  border-bottom: 1px solid #d6d6d6;
}
.pd-spec-show .gn_table_layout .spec + table {
  display: none;
}
.pd-spec-show .gn_table_layout .spec {
  background: #eeeeee;
  font-size: 18px;
  color: #000;
  text-align: left;
  display: block;
  padding: 12px 15px 9px 45px;
  position: relative;
  cursor: pointer;
  font-weight: bold;
}
.pd-spec-show .gn_table_layout .spec:before {
  content: '';
  position: absolute;
  border: 2px solid #333;
  border-radius: 50%;
  top: 9px;
  left: 10px;
  height: 22px;
  width: 22px;
}
.pd-spec-show .gn_table_layout .spec:after {
  content: '\002B';
  position: absolute;
  top: 9px;
  left: 17px;
  font-size: 22px;
  font-weight: bold;
}
.pd-spec-show .gn_table_layout .spec.active:after {
  content: '\2212';
  font-size: 23px;
}
.pd-spec-show .gn_table_layout .spec.active + table {
  display: table;
}

.pd_popular_slider.full_section {
  width: auto;
  margin: 0 0 30px;
}
.pd_popular_slider.ui_slider .slider {
  width: 630px;
  padding-top: 10px;
}
.pd_popular_slider.ui_slider .slider .slider_content li {
  width: auto;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 5px #b8b8b8;
  white-space: normal;
  text-align: center;
  margin: 5px 15px 5px 5px;
  padding: 5px;
  min-height: 185px;
  background: #fff;
  position: relative;
}
.pd_popular_slider.ui_slider .slider .slider_content li .slide {
  box-shadow: none;
  padding: 0;
  margin: 0 30px 0 0;
  min-height: auto;
  background: transparent;
  width: 115px;
}
.pd_popular_slider.ui_slider .items-in-list ul li {
  margin-right: 0;
}

.pd_suggested_slider.full_section {
  width: auto;
  margin: 0 0 30px;
}
.pd_suggested_slider.ui_slider .slider {
  width: 630px;
  padding-top: 10px;
}
.pd_suggested_slider.ui_slider .slider .slider_content li .slide {
  min-height: 184px;
}

.wdt_amazon_list.with-scroll ul li .con_wrap h4 {
  font-weight: bold;
}
.wdt_amazon_list.with-scroll ul li .con_wrap h4 > a {
  font-size: 14px;
  line-height: 22px;
  color: #000;
  max-height: 44px;
}

.productdetails_body .product_summary {
  overflow: hidden;
  margin-bottom: 30px;
}
.productdetails_body .product_summary .summary_content {
  font-size: 17px;
  line-height: 30px;
}
.productdetails_body .product_summary .summary_content p {
  margin-bottom: 15px;
}
.productdetails_body .product_summary .summary_content.less {
  max-height: 420px;
  overflow: hidden;
  display: block;
}
.productdetails_body .product_slider {
  width: 330px;
  margin: 0 20px 20px 0;
  float: left;
}
.productdetails_body .product_slider ul.slider-tabs {
  display: inline-block;
  vertical-align: top;
  width: 60px;
  margin: 0 20px 0 0;
}
.productdetails_body .product_slider ul.slider-tabs li {
  display: block;
  border: 1px solid #d1d1d1;
  margin: 0 0 11px;
  height: 100px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.productdetails_body .product_slider ul.slider-tabs li img {
  max-height: 75px;
  width: auto;
  height: auto;
  max-width: 91%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  margin: auto 5%;
}
.productdetails_body .product_slider ul.slider-tabs li:last-child {
  margin-bottom: 0px;
}
.productdetails_body .product_slider .slider-content {
  display: inline-block;
  vertical-align: top;
  width: 245px;
  border: 1px solid #d1d1d1;
  position: relative;
}
.productdetails_body .product_slider .slider-content .img_wrap {
  height: 330px;
  padding: 50px 10px 20px;
  position: relative;
}
.productdetails_body .product_slider .slider-content .img_wrap img {
  max-height: 330px;
  width: auto;
  height: auto;
  max-width: 90%;
  position: absolute;
  top: 50px;
  bottom: 20px;
  left: 5%;
  right: 5%;
  margin: auto;
}
.productdetails_body .product_slider .slider-content .tabs_wrap a,
.productdetails_body .product_slider .slider-content .tabs_wrap span {
  border-top: 1px solid #d0d0d0;
  background: #f8f8f8;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 18px;
  color: #000;
  text-align: center;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  cursor: pointer;
}
.productdetails_body .product_slider .slider-content .tabs_wrap a.active,
.productdetails_body .product_slider .slider-content .tabs_wrap span.active {
  background: #135394;
  color: #fff;
  border-top: 1px solid #135394;
}

.productdetails_body .product_slider .slider-content.upcoming .top-caption,
.productdetails_body .product_slider .slider-content.rumoured .top-caption {
  display: block;
  top: -1px;
  left: -15px;
}
.productdetails_body .product_slider .slider-content.upcoming .top-caption:after {
  content: 'आने वाले';
}
.productdetails_body .product_slider .slider-content.rumoured .top-caption:after {
  content: 'संभावित';
}
.productdetails_body .product_slider .slider-content .top-caption b {
  position: absolute;
  bottom: -15px;
  left: 0;
  z-index: -1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 0 15px;
  border-color: #b39300 transparent transparent transparent;
}
.productdetails_body .pd-list ul li {
  border-bottom: 1px solid #cccccc;
  padding: 0 0 15px;
  margin: 0 0 15px;
}
.productdetails_body .pd-list ul li:last-child {
  border: 0;
  margin: 0;
}
.productdetails_body .pd-list ul li a {
  font-size: 14px;
  line-height: 22px;
  color: #333;
}
.productdetails_body .pd-list.with-scroll ul {
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.thumb_img_reviews {
  width: 630px;
  margin: 0 0 20px 0;
}
.thumb_img_reviews h3 {
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 10px;
}
.thumb_img_reviews .img_wrap {
  position: relative;
}
.thumb_img_reviews .image_caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 15px 3% 10px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  color: #fff;
}
.thumb_img_reviews .image_caption .lft {
  display: inline-block;
  vertical-align: top;
  width: 28%;
  text-align: center;
  position: relative;
}
.thumb_img_reviews .image_caption .lft .head {
  font-size: 18px;
  line-height: 26px;
  display: block;
  margin: 0 0 10px;
}
.thumb_img_reviews .image_caption .lft .head .icon_star {
  height: 22px;
  width: 25px;
  position: absolute;
  left: 10px;
}
.thumb_img_reviews .image_caption .lft .head .icon_star:after {
  color: #ff001f;
  font-size: 30px;
}
.thumb_img_reviews .image_caption .lft .rate_txt {
  font-size: 30px;
  font-family: arial;
}
.thumb_img_reviews .image_caption .lft .rate_txt sub {
  font-size: 20px;
}
.thumb_img_reviews .image_caption .cen {
  display: inline-block;
  vertical-align: top;
  width: 28%;
  text-align: center;
  position: relative;
  border-left: 1px solid #fff;
}
.thumb_img_reviews .image_caption .cen .head {
  font-size: 18px;
  line-height: 26px;
  display: block;
  margin: 0 0 10px;
}
.thumb_img_reviews .image_caption .cen .head .icon_star {
  height: 22px;
  width: 25px;
  position: absolute;
  left: 14px;
}
.thumb_img_reviews .image_caption .cen .head .icon_star:after {
  color: #0fadde;
  font-size: 30px;
}
.thumb_img_reviews .image_caption .cen .rate_txt {
  font-size: 30px;
  font-family: arial;
}
.thumb_img_reviews .image_caption .cen .rate_txt sub {
  font-size: 20px;
}
.thumb_img_reviews .image_caption .rgt {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  padding: 0 0 0 2%;
  border-left: 1px solid #fff;
}
.thumb_img_reviews .image_caption .rgt .head {
  font-size: 16px;
  line-height: 20px;
  display: block;
  margin: 0 0 3px;
}
.thumb_img_reviews .image_caption .rgt .features_txt li {
  color: #ded8d8;
  font-size: 14px;
  line-height: 22px;
  display: block;
  margin: 0 0 0 15px;
  position: relative;
}
.thumb_img_reviews .image_caption .rgt .features_txt li:before {
  content: '';
  background: #ded8d8;
  position: absolute;
  left: -15px;
  top: 9px;
  width: 5px;
  height: 1px;
  display: inline-block;
}
.thumb_img_reviews .review_text {
  font-size: 18px;
  line-height: 26px;
  display: block;
  margin: 10px 0 0 0;
}

.pdp-story-seperator {
  background: #fff;
}
.pdp-story-seperator .end-ad {
  background: #eee;
  width: 100%;
  text-align: center;
  padding: 2% 0 1.5%;
}
.pdp-story-seperator .end-ad .ads_btf {
  margin: 0;
}
.pdp-story-seperator .next-story {
  text-align: center;
  color: #ccc;
  font-size: 18px;
  display: block;
  margin: 25px auto 40px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    border: 3px solid #000;
    top: 18px;
    left: 0;
    right: 0;
    margin: auto;
  }
  span {
    background: #f7f7f7;
    position: relative;
    z-index: 1;
    color: #de4949;
    font-weight: bold;
    padding: 11px 20px 5px;
    line-height: 26px;
    display: inline-block;
    &:after {
      width: 15px;
      height: 15px;
      background: transparent;
      border-right: 4px solid #de4949;
      border-top: 4px solid #de4949;
      content: '';
      display: inline-block;
      transform: rotate(134deg);
      position: absolute;
      top: 28px;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 2px;
    }
    &:before {
      width: 10px;
      height: 10px;
      background: transparent;
      border-right: 2px solid #de4949;
      border-top: 2px solid #de4949;
      content: '';
      display: inline-block;
      transform: rotate(134deg);
      position: absolute;
      top: 44px;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 2px;
    }
  }
}

.wdt_lst-tred ul.gn-tabs {
  width: 100%;
  margin: 0 0 15px;
}
.wdt_lst-tred ul.gn-tabs li {
  border-radius: 0;
  font-size: 16px;
  line-height: 37px;
  height: 34px;
}
.wdt_lst-tred .list-txt {
  position: relative;
}
.wdt_lst-tred .list-txt li a {
  font-size: 14px;
  line-height: 28px;
}

.pd-comments-wrapper {
  position: relative;
  padding: 40px 0 20px 0;
}
.pd-comments-wrapper .btn-blue {
  position: absolute;
  top: -40px;
  right: 0;
  margin: 0;
  width: 48%;
  border-radius: 0;
}
.pd-comments-wrapper .btn-blue.btm {
  position: initial;
  width: 60%;
  margin: 20px auto;
}
.pd-bottom-comments {
  .pd-comment-box {
    &:hover {
      background: #fafafa;
    }
    padding-left: 45px;
    padding-right: 15px;
    padding-top: 10px;
    position: relative;
    box-shadow: 0 0 5px #b8b8b8;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    &:last-child {
      border: 0;
    }
    .user-thumbnail {
      height: 60px;
      left: -30px;
      position: absolute;
      top: 12px;
      width: 60px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 0 5px #b8b8b8;
      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin: 5px;
      }
    }
  }
  .flL {
    float: left;
  }
  .pd-comment-box.authorComment {
    background: #fffbd4;
  }
}

.pd-bottom-comments-btns {
  clear: both;
  margin-top: 10px;
  .cmtbtn-wrapper {
    background: #f6f6f6;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    clear: both;
    margin: 20px auto 20px;
    padding: 5px 0;
    position: relative;
    width: 100%;
  }
  .cmtbtn {
    &.view {
      border-right: 1px solid #979797;
      color: #6d6d6d;
      position: relative;
      width: 50%;
      span {
        color: #333;
      }
    }
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 34px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    font-weight: bold;
    span {
      display: inline-block;
      padding: 0 5px;
      font-weight: bold;
    }
    &.add {
      color: #6d6d6d;
      width: 50%;
      &:hover {
        color: #37accd;
      }
    }
    .icon {
      background: rgba(0, 0, 0, 0) url('/tech/images/articleshow-comments.png') no-repeat scroll -94px
        0;
      height: 20px;
      padding: 0;
      position: relative;
      vertical-align: middle;
      width: 23px;
    }
  }
}

.pd-bottom-comments {
  .pd-comment-box {
    a.name,
    span.name {
      color: #454545;
      font-size: 15px;
      line-height: 23px;
      margin-right: 9px;
      text-transform: capitalize;
      display: inline-block;
      font-weight: bold;
      float: none;
    }
  }
  .short_comment {
    color: #666;
    cursor: pointer;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
    word-wrap: break-word;
    clear: both;
  }
  .pd-comment-box .footbar {
    display: block;
    margin: 5px 0;
    position: relative;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    a {
      color: #777;
      float: left;
      font-size: 11px;
      text-transform: uppercase;
      padding: 0 5px;
      line-height: normal;
    }
    span {
      color: #777;
      float: left;
      font-size: 11px;
      text-transform: uppercase;
      padding: 0 5px;
      line-height: normal;
      &[data-action='comment-reply'] {
        color: #0365f7;
        padding-left: 0;
        padding-top: 0;
        cursor: pointer;
        font-weight: bold;
        position: absolute;
        right: 0;
        border: 1px solid #0365f7;
        padding: 4px 30px 2px 12px;
        border-radius: 10px;
        top: -5px;
        outline: none;
        &:after {
          content: '\2192';
          position: absolute;
          right: 6px;
          top: -1px;
          font-size: 18px;
        }
      }
    }
    > span {
      margin: 0;
      padding: 2px 5px 0;
    }
    .icon-downarrow,
    .icon-uparrow {
      background: rgba(0, 0, 0, 0) url('/tech/images/articleshow-comments.png') no-repeat scroll 0 0;
      cursor: pointer;
      display: inline-block;
      height: 14px;
      margin-left: 3px;
      vertical-align: middle;
      width: 14px;
    }
    .icon-downarrow {
      background-position: -15px -40px;
    }
    .icon-uparrow {
      background-position: 0 -40px;
      position: relative;
      top: -1px;
    }
  }
}

.price-widget table {width: 100%; border-collapse: collapse; border: 1px solid #eee; margin-bottom: 20px;}
.price-widget table tr:nth-child(odd) {background-color: #fafafa;}
.price-widget table tr {border-bottom: 1px solid #eee;}
.price-widget table tr td:nth-child(2), .price-widget table tr th:nth-child(2) {text-align: center;}
.price-widget table tr th {text-align: left; font-size: 16px;}
.price-widget table tr th {color: #000; text-transform: uppercase; font-weight: 700; padding: 10px;}
.price-widget table tr td {font-size: 14px; padding: 10px; color: #454545;}